
// --------------------------------
/* Unstyled wrapper; typically for cards */
.wrapper {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

// Works in conjuction with @media html to dynamically resize the screen to be apt for mobile devices
@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }
}

// --------------------------------
// styles for html tables
table {
    position: relative;
    margin: 0px auto;
    // margin-bottom: 20px;
    // margin-top: 20px;

    border-collapse: collapse;

    position: relative;

    display: table-cell;
    vertical-align: middle;

    background: $figure_background;
    border: 1px solid $figure_border;
    -webkit-box-shadow: 1px 1px 7px $figure_shadow;
    -moz-box-shadow: 1px 1px 5px $figure_shadow;
    box-shadow: 1px 1px 7px $figure_shadow;
}

@media only screen and (max-width: 414px) {
    table {
        font-size: 13px;
        margin-left: -25px;
    }
}

th {
    border: 1px solid $figure_border;
    padding: 5px;
}

td {
    padding: 5px;
    text-align: center;
    border: 1px solid $figure_border;
}

.table-header {
    font-family: sans-serif;
    text-align: center;
    border: 1px solid $figure_border;
    padding: 10px;
    color: $theme6;
}

.vertical-table-header {
    transform: rotate(-90deg)
}
