
pre {
    padding: 10px;
    tab-size: 4;
    border: 1px solid $input_border_light;
    border-radius: 5px;
    font-size: 12px;

    // white-space: pre-wrap;
    overflow-x: auto;
    // overflow-x: scroll;
}
