
/* Unstyled wrapper; typically for cards */
.wrapper {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

/* Works in conjuction with @media .html to dynamically resize the screen to be apt for mobile devices */
@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }
}
