
// --------------------------------
.dictionary-section {
    margin-bottom: 15px;
    padding-left: 20px;
}

// a single word/entry
.definition {
    padding-top: 5px;
    padding-bottom: 5px;
}

a.definition-word {
    color: $theme6;
    // same styles as strong tag
    font-weight: bold;
}

// Targets the dictionary entry words
li > ul, li ul {
    padding-left: 1em;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding-bottom: 10px;
}

// --------------------------------
// Dictionary directory pad of letters a - z
.directory {
    font-family: "Helvetica";
    display: block;
    position: relative;

    padding-top: 20px;

    table {
        font-weight: bold;

        margin: 0 auto;

        border-radius: 5px;
        font-size: 40px;
        border-collapse: separate;
        border-spacing: 2px;
        padding: 5px;

        background: $figure_background;
        border: 1px solid $figure_border;
        box-shadow: 1px 1px 7px $figure_shadow;
    }

    tr td {
        border: none;
        padding: 0px;
    }

    td {
        padding: 10px;
        
        max-width: 34px;
        min-width: 34px;
        text-align: center;
        border-radius: 5px;

        -webkit-touch-callout: none; // iOS Safari
        -webkit-user-select: none; // Safari
        -moz-user-select: none; // Firefox
        -ms-user-select: none; // Internet Explorer/Edge
        user-select: none;
    }

    td a {
        color: $theme4;
    }

    td:hover {
        background-color: $theme3;
        cursor: pointer;
    }

    td:active {
        background-color: #d40e0e;
    }
}

// --------------------------------
// This will center and resize the dictionary directory to be responsive 834px because that's the following smaller ipad, want this to apply only (excluding 12.9) smaller devices
@media only screen and (max-width: 834px) {
    .directory table {
        font-size: 30px;
    }
}

// This will center and resize the dictionary directory to be responsive 834px because that's the following smaller ipad, want this to apply only (excluding 12.9) smaller devices
@media only screen and (max-width: 320px) {
    .directory table {
        font-size: 25px;
    }
}

.directory-body tr td a {
    text-decoration: none;
    display: block;
}

// This will center and resize the dictionary directory to be responsive
@media only screen and (max-width: 834px) {
    .directory td {
        max-width: 27px;
    }
}

// This will center and resize the dictionary directory to be responsive
@media only screen and (max-width: 320px) {
    .directory td {
        max-width: 20px;
    }
}
