
// styles for formatting pdf includes and other documents

.embed-pdf {
    // calculate height from current width to maintain aspect ratio
    height: calc(40vw * 1.414);
    width: 40vw;

    display: block;
    margin: 20px auto;

    padding: 7px;
    background: $figure_background;
    border: 1px solid $figure_border;
    -webkit-box-shadow: 1px 1px 7px $figure_shadow;
    -moz-box-shadow: 1px 1px 5px $figure_shadow;
    box-shadow: 1px 1px 7px $figure_shadow;
}
