
// --------------------------------
// holds article and side-bar all together
.content-wrapper {
    width: 70%;
    min-height: fit-content;
    margin: 0 auto;

    padding-bottom: 15px;
    position: relative;

    background: $content_background;
    border: 1px solid $border;
    border-radius: 5px;

    box-shadow: 1px 1px 10px $shadow;
}

@media only screen and (max-width: 1024px) {
    .content-wrapper {
        width: 95%;
    }
}

// --------------------------------
// Width here will increase the size of the article or the holder to be changed in conjuction with the sidebard class width in the sidebar scss
// Article stylings
article {
    position: relative;
    width: 60%;
    min-height: fit-content;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;

    border-left: 1px dashed $border;

    text-align: justify;
    text-justify: auto;
}

// Resize article fit screen smaller devices, not 100% avoid the edges of wrappers, close 100% it occupies as much the screen
@media only screen and (max-width: $collapse_side_bar) {
    article {
        width: 90%;
        padding: 0px;

        margin: auto;
        border-left: none;
    }
}
