
// for displaying entries
/* Written content backgrounds and styles */
.content-wrapper {
    width: 70%;
    min-height: fit-content;
    margin: 0 auto;

    padding-bottom: 15px;
    position: relative;

    background: $content_background;
    border: 1px solid $border;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 10px $shadow;
    -moz-box-shadow: 1px 1px 10px $shadow;
    box-shadow: 1px 1px 10px $shadow;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .content-wrapper, .long-content {
        width: 95%;
    }
}

// Width here will increase the size of the article or the holder to be changed in conjuction with the sidebard class width in the sidebar scss
/* Article stylings */
article {
    position: relative;
    width: 60%;
    min-height: fit-content;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;

    border-left: 1px dashed $border;

    text-align: justify;
    text-justify: auto;

    // Deprecated now using JavaScript with the drop-text css class to style.
    > p:first-of-type::first-letter {
        initial-letter: 2;
        -webkit-initial-letter: 2;
        color: $theme6;
        padding: 2px;
    }
}

/* Resize article fit screen smaller devices, not 100% avoid the edges of wrappers, close 100% it occupies as much the screen */
@media only screen and (max-width: $collapse_side_bar) {
    article {
        width: 90%;
        padding: 0px;

        margin: auto;
        border-left:none;
    }
}

.written-wrapper {
    padding: 0 30px 0 30px;
}
