
// --------------------------------
.foot-notes {
    font-family: "Roboto";
    color: #666;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;

    *:target {
        background: yellow !important;
    }
}

.foot-notes-head {
    // make uppercase
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: "7px";
    margin-left: "-35px ";
}