
input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #0066c0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

