
/* Header styles including title and homelink */
header {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
}

.home-page-link {
    text-decoration: none;
    display: block;

    width: fit-content;
    margin: auto;
}

#header-established, #header-slogan {
    color: $black;
}

#header-established {
    font-family: "Tangerine";
    display: block;
    font-style: italic;
    font-size: 27.5px;
    padding-top: 10px;

    line-height: 22.5px;
}

#header-slogan {
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    transform: scale(0.955, 1);
    line-height: 27.5px;
}

#header-slogan, #header-established {
    text-shadow: -5px 5px 5px $shadow;
}

#header-slogan:hover, #header-established:hover {
    text-shadow: -5px 5px 20px rgba(153, 153, 153, 1);
}

.header-site-name {
    font-family: "Fjalla one";
    display: inline-block;
    text-transform: uppercase;
    
    color: $theme6;

    font-size: 42.5px;
    transform: scale(1.35, 1.3);
    line-height: 57px;
}

.header-site-name {
    text-shadow: -5px 5px 10px rgba(153, 153, 153, 0.4);
}

.header-site-name:hover {
    text-shadow: -5px 5px 15px rgba(153, 153, 153, 0.9);
    color: $black;
}

#header-author-particule {
    text-transform: lowercase;
}

/* Resize the logos for smaller screens */
@media only screen and (max-width: 414px) {
    #header-slogan {
        font-size: 16px;
    }
}

@media only screen and (max-width: 370px) {
    #header-slogan {
        font-size: 14px;
    }

    .header-site-name {
        font-size: 37px;
    }
}
