
// Information bar
#info-bar {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    position: fixed;
    top: 0px;
    z-index: 10;

    width: 100%;
    background: $prompt_background;
    overflow: hidden;

    box-shadow: 1px 1px 10px $shadow;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#tickers {
    position: absolute;
    top: 25%;

    height: 100%;
    float: left;
    margin: auto;
    padding-left: 5px;
}


.info-bar-crypto {
    padding-left: 5px;
    color: $black;
}

@media only screen and (max-width: 525px) {
    .info-bar-crypto-hidden {
        visibility: hidden;
    }
}

.coin-percent-change {
    font-weight: bold;
    color: $white;
    margin-left: 5px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
}

// --------------------------------
#info-bar-tools {
    float: right;
    padding-right: 10px;
    margin: auto;
}

.info-bar-icon {
    padding: 7px;
    float: left;
    cursor: pointer;
    
    &:hover {
        background: $theme6;
    }
}

#info-bar-display {
    float: left;
    padding: 10px;
}

.info-bar-item {
    padding: 10px;

    &:hover{
        background: $theme6;
        color: $white;
    }
}
