
// the image is held by a div with class lightbox
.lightbox-image {
    // display in centre of screen over everything else
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // make the image 70% of the screen but keep aspect ratio
    max-width: 80vw;
    max-height: 80vh;

    background-color: $white;

    // border
    border: 10px solid $card_vignetting;
    border-radius: 10px;

    // mouse as hand
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.8), $card_vignetting;
    -moz-box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.8), $card_vignetting;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.8), $card_vignetting;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
