
.login-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;

    padding: 30px;
    
    border: 1px solid $border;
    border-radius: 5px;

    background-color: $background;
    box-shadow: 1px 1px 10px $shadow, $card_vignetting;

    form {
        display: flex;
        flex-direction: column;

        label {
            color: #444444;
            margin-bottom: 10px;
        }

        a {
            font-size: 14px;
            margin-top: 20px;
            color: #0066c0;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 600px) {
        // height: calc(40vw * 1.414);
        // width: 40vw;
        width: 90%; // make the width smaller for smaller screens
        padding: 15px; // reduce the padding for smaller screens

        // input {
        //     width: 100%; // make the input fields take up the full width of the container for smaller screens
        // }

        button[type="submit"] {
            width: 100%; // make the submit button take up the full width of the container for smaller screens
        }
    }
}
