
// --------------------------------
// Add a black background color to the top navigation
.top-nav {
	background-color: $content_background;
    overflow: hidden;
    margin: 20px auto;
    width: 90%;

    border: 1px solid $border;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 10px $shadow;
    -moz-box-shadow: 1px 1px 10px $shadow;
    box-shadow: 1px 1px 10px $shadow;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    &:hover {
        -webkit-box-shadow: 1px 1px 20px $shadow;
        -moz-box-shadow: 1px 1px 20px $shadow;
        box-shadow: 1px 1px 20px $shadow;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    a {
        cursor: pointer;
        float: left;
        display: block;
        color: $theme6;
        text-align: center;
        padding: 14px 13px;
        text-decoration: none;
        font-size: 17px;
    }

    .icon {
        display: none;
    }
}

// So that the full navbar is presented on 12.9 ipad pro
@media screen and (max-width: 1024px) {
    .top-nav {
        width: 95%;
    }
}

.nav-right {
    float: right !important;
}

.theme-icon {
    height: 16px;
    cursor: pointer;
}

// Add an active class to highlight the current page
.active {
    background-color: $theme6;
    color: $white !important;
}

// --------------------------------
// Dropdown container - needed to position the dropdown content
.dropdown {
	float: left;
    overflow: hidden;
    
    .dropbtn {
        cursor: pointer;
    }

    .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: $theme6;
        padding: 14px 13px;
        background-color: $content_background;
        font-family: inherit;
        margin: 0;
    }
}

// Style the dropdown content (hidden by default)
.dropdown-content {
	display: none;
	position: absolute;
	background-color: $content_background_solid;
	min-width: 160px;

    z-index: 1;
    
    border: 1px solid $border;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 10px $shadow;
    -moz-box-shadow: 1px 1px 10px $shadow;
    box-shadow: 1px 1px 10px $shadow;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    a {
        float: none;
    
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        // Add a grey background to dropdown links on hover
        &:hover {
            background-color: $theme6;
            color: $white !important;
        }
    }
}

// --------------------------------
// Add a dark background on topnav links and the dropdown button on hover
.top-nav a:hover, .dropdown:hover .dropbtn {
	background-color: $theme6;
	color: $white;
}

// Show the dropdown menu when the user moves the mouse over the dropdown button
.dropdown:hover .dropdown-content {
	display: block;
}

// When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
@media screen and (max-width: 975px) {
	.top-nav a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}

	.top-nav a.icon {
		float: right;
		display: block;
	}
}

// The "responsive" class is added to the topnav with TypeScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
@media screen and (max-width: 975px) {
	.top-nav.responsive {
		position: relative;
	}

	.top-nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.top-nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.top-nav.responsive .dropdown {
		float: none;
	}

	.top-nav.responsive .dropdown-content {
		position: relative;
	}

	.top-nav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}