
// --------------------------------
// figures and videos background/border
// new mixin called imagesBackground
@mixin picturesBackgound {
    background: $figure_background;
    border: 1px solid $figure_border;
    -webkit-box-shadow: 1px 1px 7px $figure_shadow;
    -moz-box-shadow: 1px 1px 5px $figure_shadow;
    box-shadow: 1px 1px 7px $figure_shadow;
}
// --------------------------------

// --------------------------------
// Images and other media styles
figure > img {
    max-width: 100%;
    display: block;
    margin: auto;

    padding: 7px;

    // use picturesBackgound
    @include picturesBackgound;
}

figure > a img {
    max-width: 100%;
    display: block;
    margin: auto;

    padding: 7px;
    background: $figure_background;
    border: 1px solid $figure_border;
    -webkit-box-shadow: 1px 1px 7px $figure_shadow;
    -moz-box-shadow: 1px 1px 5px $figure_shadow;
    box-shadow: 1px 1px 7px $figure_shadow;
}

// --------------------------------
article img {
    max-width: 100%;
    display: block;
    margin: auto;

    padding: 7px;
    background: white;
    border: 1px solid $figure_border;
    -webkit-box-shadow: 1px 1px 7px $figure_shadow;
    -moz-box-shadow: 1px 1px 5px $figure_shadow;
    box-shadow: 1px 1px 7px $figure_shadow;
}

// --------------------------------
// works with figcaption in order to count the fig tags on the page, can be used with headings in the future
figcaption {
    padding-bottom: 10px;
    text-align: right;

    margin-top: 15px;
    font-size: 0.8em;
}

// --------------------------------
// youtube embedded videos
iframe {
    display: block;
    margin: 25px auto;
    padding: 7px;

    @include picturesBackgound;
}

@media only screen and (max-width: 1350px) {
    iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    iframe {
        width: 95%;
        height: 15%;
    }
}

// --------------------------------
video {
    max-width: 70%;

    display: block;
    margin: auto;
    
    padding: 7px;
    
    @include picturesBackgound;
}
