.pwa-prompt-container {
    position: fixed;
    z-index: 10;
    bottom: 15px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.pwa-bubble {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: $black;
    position: relative;
    display: flex;
    width: 85%;
    margin: auto;

    padding: 20px;
    border-radius: 10px;
    background: $prompt_background;

    box-shadow: 1px 1px 10px $shadow;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#pwa-plus-container {
    flex: 0 0 10%;
    margin: 0px;
    padding: 0px;
}

.pwa-plus-icon {
    height: 40px;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

.pwa-action-icon {
    height: 25px;
}
