
// --------------------------------
// headers
h1, h2, h3, h4, h5, h6, h7 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-justify: none;
}

h1 {
    color: $theme6;

    font-size: 40px;
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 7.5px;
    border-bottom: 1px solid $border;
}

// drop cap especially used in card display
.drop-cap {
    color: $theme6;
    float: left;
    font-family: Georgia;
    font-size: 55px;
    line-height: 40px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
    margin-bottom: -8px;
}

// --------------------------------
// a line separator element
hr {
    margin: 50px;
}

// --------------------------------
// styles all links on website
a {
    color: $theme6;

    &:hover {
        color: $light_gray;
    }

    &:active {
        color: $theme_active !important;
    }
}

// --------------------------------
.strikethrough {
    text-decoration: line-through;
}

// --------------------------------
// used for styling smaller headers that should go inside q&a courses
.quiz-questions {
    counter-reset: quiz-questions;
}

.questions {
    font-family: "Roboto";
    font-weight: bold;
    color: $blue;

    padding-top: 10px;
    padding-bottom: 10px;
    text-justify: none;
    text-align: left;

    &:before {
        content: counter(quiz-questions)'.';
        counter-increment: quiz-questions;
    }
}

// --------------------------------
.mini-header {
    font-family: $roboto;
    font-size: 1.1em;
    font-weight: bold;
    color: $theme4;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    border-bottom: 2px $theme4 solid;
    width: fit-content;
}

// --------------------------------
// quotes
blockquote {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    color: #555;
    line-height: 125%;
    padding: 0 0 0 20px;
    margin-left: 13px;
    border-left: 3px solid $theme-active;
}

.quote-author {
    margin-left: 30px;
    &::before {
        content: "-";
    }
}

// --------------------------------
// inline display of a note; green square with text
.note, .warning {
    font-family: $roboto;
    font-size: 0.85em;
    border-radius: 5px;
    margin: 1.5rem auto;
    padding: 1rem;
    font-style: italic;

    width: fit-content;

    &::before {
        content: "*";
    }
}

.note {
    border: 2px solid $light_green;
    background: $green_background;
}

.warning {
    background: $yellow_background;
    border: 2px solid $yellow;
}