
/* Works with js function in script.js used for enlarging the first letter of every word, add class="each-word" to target text */
.drop-text {
    color: $theme6;
    float: left;
    font-size: 55px;
    line-height: 40px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
    margin-bottom: -8px;
}
