<div class="comment-section">
    <h2>Comments</h2>
    <div id="new-comment-form">
        <div class="comment-user-info">
            <span class="username">Username</span>
            <span class="datetime">Datetime</span>
            <button class="comment-action">Post</button>
        </div>
        <div class="new-comment-textarea">
            <img src="profile-photo.png" class="comment-profile-photo">
            <textarea></textarea>
        </div>
    </div>
    <!--  -->
    <div class="comment-sort">
        <select>
            <option value="comment-sort-newest">Newest</option>
            <option value="comment-sort-oldest">Oldest</option>
            <option value="comment-sort-most-liked">Most Liked</option>
            <option value="comment-sort-most-disliked">Most Disliked</option>
        </select>
    </div>
    <!--  -->
    <div class="posted-comments">
        <div class="posted-comment">
            <div class="comment-user-info">
                <span class="username">Username</span>
                <span class="datetime">Datetime</span>
                <button class="comment-action">Reply</button>
            </div>
            <div class="posted-comment-holder">
                <img src="profile-photo.png" class="comment-profile-photo">
                <div class="posted-comment-text">Comment text goes here</div>
            </div>
            <div class="posted-comment-actions">
                <button class="like-button">Like</button>
                <span class="like-count">0</span>
                <button class="dislike-button">Dislike</button>
                <span class="dislike-count">0</span>
            </div>
        </div>
        <!-- example of posted comment with replies -->
        <div class="posted-comment">
            <div class="comment-user-info">
                <span class="username">Username</span>
                <span class="datetime">Datetime</span>
                <button class="comment-action">Reply</button>
            </div>
            <div class="posted-comment-holder">
                <img src="profile-photo.png" class="comment-profile-photo">
                <div class="posted-comment-text">Comment text goes here</div>
            </div>
            <div class="posted-comment-actions">
                <button class="like-button">Like</button>
                <span class="like-count">0</span>
                <button class="dislike-button">Dislike</button>
                <span class="dislike-count">0</span>
                <button class="show-replies">Show replies</button>
            </div>
            <div class="posted-comment-replies">
                <div class="posted-comment comment-reply">
                    <div class="comment-user-info">
                        <span class="username">Username</span>
                        <span class="datetime">Datetime</span>
                        <button class="comment-action">Reply</button>
                    </div>
                    <div class="posted-comment-holder">
                        <img src="profile-photo.png" class="comment-profile-photo">
                        <div class="posted-comment-text">Comment text goes here</div>
                    </div>
                    <div class="posted-comment-actions">
                        <button class="like-button">Like</button>
                        <span class="like-count">0</span>
                        <button class="dislike-button">Dislike</button>
                        <span class="dislike-count">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>