
<div class="directory">
    <table class="directory-table">
        <tbody class="directory-body">
            <tr>
                <td class="directory-letter noun">
                    <a href="#the_letter_a">A</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_b">B</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_c">C</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_d">D</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_e">E</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_f">F</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_g">G</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_h">H</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_i">I</a>
                </td>
            </tr>
            <tr>
                <td class="directory-letter">
                    <a href="#the_letter_j">J</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_k">K</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_l">L</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_m">M</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_n">N</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_o">O</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_p">P</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_q">Q</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_r">R</a>
                </td>
            </tr>
            <tr>
                <td class="directory-letter">
                    <a href="#the_letter_s">S</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_t">T</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_u">U</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_v">V</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_w">W</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_x">X</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_y">Y</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_z">Z</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_#">#</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
