
<div id="info-bar">
    <div id="tickers">
        <!-- Content generated should be of this format; everything other than BTC has class  info-bar-crypto-hidden -->
        <!-- <span class="info-bar-crypto">
            <span id="btc-name"></span>
            <span id="btc-price"></span>
            <span id="btc-percent" class="coin-percent-change"></span>
        </span> -->
    </div>

    <div id="info-bar-tools">
        <a class="info-bar-icon">
            <img src="/siteImages/icons/user-login.png" class="theme-icon">
        </a>
    </div>
</div>
