
<div id="info-bar">
    <div id="tickers">
        <!-- Content generated should be of this format; everything other than BTC has class  info-bar-crypto-hidden -->
        <!-- <span class="info-bar-crypto">
            <span id="btc-name"></span>
            <span id="btc-price"></span>
            <span id="btc-percent" class="coin-percent-change"></span>
        </span> -->
    </div>

    <div id="info-bar-tools">
        <div id="info-bar-display">
            <span id="card-count-number" class="info-bar-item"></span>
        </div>
        <!-- <a href="https://derecksnotes.com:2096" title="E-mail services" class="info-bar-icon">
            <img src="/siteImages/icons/at-symbol.png" class="theme-icon">
        </a> -->
    </div>
</div>
