
<div class="top-nav" id="top-nav">
    <!--  -->
    <a class="inactive" href="/index.html">Blog</a>
    <a class="inactive" href="/courses.html">Courses</a>
    <a class="inactive" href="/exercises.html">Exercises</a>
    <!--  -->
    <div class="inactive dropdown">
        <div class="dropbtn">
            Dictionaries<i class="carrot-down"></i>
        </div>
        <div class="dropdown-content">
            <a href="/dictionaries/dictionary-biology.html">Biology Dictionary</a>
            <a href="/dictionaries/dictionary-chemistry.html">Chemistry Dictionary</a>
            <a href="/dictionaries/dictionary-formulas.html">Formulas Dictionary</a>
        </div>
    </div>
    <!--  -->
    <div class="inactive dropdown">
        <div class="dropbtn">
            References<i class="carrot-down"></i>
        </div>
        <div class="dropdown-content">
            <a href="/references/articles-books/articlesBooks.html">Articles & Books</a>
            <a href="/references/cheat-sheets/cheat-sheets.html">Cheat Sheets</a>
            <a href="/references/methods/methods.html">Methodology</a>
            <a href="/references/scientists/scientists.html">Scientists</a>
            <a href="/references/tables/tables.html">Tables</a>
        </div>
    </div>
    <!--  -->
    <a class="inactive" href="/tools.html">Tools</a>
    <!--  -->
    <div class="inactive dropdown">
        <div class="dropbtn">
            Art<i class="carrot-down"></i>
        </div>
        <div class="dropdown-content">
            <a class="inactive" href="/galleries/personal-art/personal-art.html">Art</a>
            <a class="inactive" href="/galleries/references/references.html">References</a>
        </div>
    </div>

    <a href="https://www.youtube.com/channel/UCzX8gJ22qtLqZuK56eT8L9g?view_as=subscriber" target="_blank" title="YouTube" class="nav-right">
        <img src="/site-images/icons/youtube.png" class="theme-icon">
    </a>
    <a href="https://www.linkedin.com/in/dereck/" target="_blank" title="LinkedIn" class="nav-right">
        <img src="/site-images/icons/linkedin.png" class="theme-icon">
    </a>

    <a class="clock nav-clock nav-right"></a>
    <a class="icon" href="javascript:void(0);" onclick="flexNav()"><span>&#9776;</span></a>
</div>
