
.DS_Store

node_modules
client/public/*
!client/public/images
server/dist/*
!*.gitkeep

ign-*

libraries/

deprecated/
# documents/ # git lfs
*zip
# *mov # git lfs

# sensitive files and tokens
*.sensitive.*
# card-covers/ # git lfs

# r files
.Rhistory
