
# dev
*.sensitive.*
deprecated/
node_modules
!*.gitkeep
*.afdesign
*.tar.gz
ign-*
*.ignore

libraries/
client/public/*
client/test/*
!client/public/images
server/dist/
server/test/

# sensitive
google-tag.ejs

# misc
.DS_Store
*zip
# documents/ # git lfs
# *mov # git lfs

# r files
.Rhistory

# user content and images; backup independently
user-content/
mongo-backup/