
# dev
.env.local
*.sensitive.*
deprecated/
node_modules
!*.gitkeep
*.tar.gz
ign-*
*.ignore
*.ignore.*
dump.rdb

libraries/
server/dist/
server/test/

coverage/

# ignore user profile photos
client/public/site-images/uploads/

# sensitive
google-tag.ejs

# misc
.DS_Store
*zip
# documents/ # git lfs
# *mov # git lfs

# r files
.Rhistory

# user content and images; backup independently
user-content/
mongo-backup/