services:
  derecksnotes:
    image: ${IMAGE_NAME}
    container_name: ${CONTAINER_NAME:-derecksnotes}
    ports:
      - '${PORT_CLIENT:-3000}:3000'
      - '${PORT_SERVER:-3001}:3001'
    environment:
      - BUILD_ENV=${BUILD_ENV:-prod}
      - SESSION_SECRET=${SESSION_SECRET}
    networks:
      - dereck-network
    restart: unless-stopped
    volumes:
      - ${DATA_PATH:-./data}:/app/data
      - ${PUBLIC_PATH:-./public}:/app/client/public

networks:
  dereck-network:
    external: true
