services:
  derecksnotes:
    image: ${IMAGE_NAME:-derecksnotes}
    container_name: ${CONTAINER_NAME:-derecksnotes}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUILD_ENV=${BUILD_ENV:-prod}
    ports:
      - '${PORT_CLIENT:-3000}:3000'
      - '${PORT_SERVER:-3001}:3001'
    environment:
      - BUILD_ENV=${BUILD_ENV:-prod}
      - SESSION_SECRET=${SESSION_SECRET}
    networks:
      - dereck-network
    restart: unless-stopped
    volumes:
      - ${DATA_PATH:-./data}:/app/data
      - /var/www/derecksnotes.com/public:/app/client/public

networks:
  dereck-network:
    external: true
