
// cursive
@font-face {
    font-family: "Tangerine";
    src: url('../fonts/tangerine/Tangerine-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Tangerine";
    src: url('../fonts/tangerine/Tangerine-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

$cursive: "Tangerine", cursive;
