# stored at: /etc/systemd/system/mongod_dev.service
[Unit]
Description=MongoDB Development Database Server
After=network.target

[Service]
User=mongodb
Group=mongodb
ExecStart=/usr/bin/mongod --config /etc/mongod_dev.conf
PIDFile=/var/run/mongodb/mongod_dev.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
