
<div class="directory">
    <table class="directory-table">
        <tbody class="directory-body">
            <tr>
                <td class="directory-letter noun">
                    <a href="#the_letter_A">A</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_B">B</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_C">C</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_D">D</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_E">E</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_F">F</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_G">G</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_H">H</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_I">I</a>
                </td>
            </tr>
            <tr>
                <td class="directory-letter">
                    <a href="#the_letter_J">J</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_K">K</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_L">L</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_M">M</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_N">N</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_O">O</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_P">P</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_Q">Q</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_R">R</a>
                </td>
            </tr>
            <tr>
                <td class="directory-letter">
                    <a href="#the_letter_S">S</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_T">T</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_U">U</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_V">V</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_W">W</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_X">X</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_Y">Y</a>
                </td>
                <td class="directory-letter">
                    <a href="#the_letter_Z">Z</a>
                </td>
                <td class="directory-letter noun">
                    <a href="#the_letter_SYMBOLS">#</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
