
<footer>
    <a href="#" class="scroll-up"><span>Scroll</span></a>

    <p>
        All content on this website is copyright and belongs to Dereck de Mezquita. You are not allowed to copy nor modify any content found on this site without written permission from the owner; &copy; Copyright 2022.
    </p>
    <p>
        Contact: <a href="mailto: contact@demezquita.com">contact@demezquita.com</a>
    </p>

</footer>
