
<header>
    <a href="/index.html" class="home-page-link">
        <span id="header-established">Established France 2017</span>
        <span id="header-slogan">The online brain of Dereck <span id="header-author-title">de </span>Mezquita</span>
        <span class="header-site-name">Dereck's Notes</span>
    </a>
</header>
