
<div class="info-bar">
    <div class="tickers">
        <span class="btc">
            <span class="btc-name"></span>
            <span class="btc-price"></span>
            <span id="btc-percent" class="coin-percent-change"></span>
        </span>
        <span class="xmr">
            <span class="xmr-name"></span>
            <span class="xmr-price"></span>
            <span id="xmr-percent" class="coin-percent-change"></span>
        </span>
    </div>

    <div class="info-bar-tools">
        <div class="info-bar-display">
            <span id="card-count-number" class="infobarItem"></span>
        </div>
        <a href="https://derecksnotes.com:2096" title="E-mail services" class="info-bar-icon">
            <img src="/siteImages/icons/atSymbol.png" class="theme-icon">
        </a>
        <a href="https://derecksnotes.com/owncloud/" title="Cloud services" class="info-bar-icon">
            <img src="/siteImages/icons/cloud.png" class="theme-icon">
        </a>
        <a href="https://demezquita.com/" title="Start-up page" class="info-bar-icon">
            <img src="/siteImages/icons/launch.png" class="theme-icon">
        </a>
    </div>
</div>
