
<div class="topnav" id="top-nav">
    <!--  -->
    <a class="inactive" href="/index.php">Blog</a>
    <!--  -->
    <a class="inactive" href="/ds-portfolio.php">Portfolio</a>
    <!--  -->
    <a class="inactive" href="/courses.php">Courses</a>
    <!--  -->
    <a class="inactive" href="/exercises.php">Exercises</a>
    <!--  -->
    <div class="inactive dropdown">
        <div class="drop-button">
            Dictionaries<i class="carrot-down"></i>
        </div>
        <div class="dropdown-content">
            <a href="/dictionaries/dicBiology.php">Biology Dictionary</a>
            <a href="/dictionaries/dicChemistry.php">Chemistry Dictionary</a>
            <a href="/dictionaries/dicFormulas.php">Formulas Dictionary</a>
        </div>
    </div>
    <!--  -->
    <div class="inactive dropdown">
        <div class="drop-button">
            References<i class="carrot-down"></i>
        </div>
        <div class="dropdown-content">
            <a href="/references/articlesBooks/articlesBooks.php">Articles & Books</a>
            <a href="/references/cheatSheets/cheatSheets.php">Cheat Sheets</a>
            <a href="/references/methods/methods.php">Methodology</a>
            <a href="/references/scientists/scientists.php">Scientists</a>
            <a href="/references/tables/tables.php">Tables</a>
        </div>
    </div>
    <!--  -->
    <a class="inactive" href="/tools.php">Tools</a>
    <!--  -->
    <div class="inactive dropdown">
        <div class="drop-button">
            Art<i class="carrot-down"></i>
        </div>
        <div class="dropdown-content">
            <a class="inactive" href="/galleries/personalArt/personalArt.php">Art</a>
            <a class="inactive" href="/galleries/references/references.php">References</a>
        </div>
    </div>
    <!--  -->
    <a href="https://www.youtube.com/channel/UCzX8gJ22qtLqZuK56eT8L9g?view_as=subscriber" target="_blank"
        title="YouTube" class="nav-right">
        <img src="/siteImages/icons/youtube.png" class="theme-icon">
    </a>
    <!--  -->
    <a href="https://www.linkedin.com/in/dereck/" target="_blank" title="LinkedIn" class="nav-right">
        <img src="/siteImages/icons/linkedin.png" class="theme-icon">
    </a>
    <!--  -->
    <a class="clock nav-right"></a>
    <!--  -->
    <a class="icon" href="javascript:void(0);" onclick="flexNav()"><span>&#9776;</span></a>
</div>
