<div id="side-bar">
    <div id="upper-side-bar">
        <a href="/index.html" class="home-page-link">
            <div id="side-side-name">
                Dereck's Notes
            </div>
        </a>
    </div>
    <!--  -->
    <div class="side-entries">
        <!-- Dynamically loaded content -->
    </div>
    <!--  -->
    <div id="side-bar-content">
        <h2>About</h2>
        <p>
            This website is made with the following technologies:
            <ul>
                <li>
                    TypeScript
                </li>
                <li>
                    HTML/ejs/SASS
                </li>
                <li>
                    R, and knited R documents
                </li>
                <li>
                    Progressive web app technologies
                </li>
                <li>
                    SQL database
                </li>
            </ul>
        </p>
        <p>
            If you'd like to know more on how this website was built you can find all the source code on my github page: <a href="https://github.com/dereckdemezquita/derecksnotes.com" target="_blank">github.com/dereckdemezquita/derecksnotes.com</a>.
        </p>
        <p>
            Math formulas are created using the MathJax.js library. Images are mostly drawn by hand on an iPad Pro using the Apple Pencil. Protein visualisations or animations using Blender unless specified otherwise.
        </p>
    </div>
</div>
