<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_capillaryElectrophoresis">Capillary Electrophoresis</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_catalysation">Catalysation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_cellLine">Cell Line</a> -
</li>
<li class="definition" data-dictionary="cellular-biology" data-src="original-dereck">
    <a class="definition-word" data-category="cellular-biology" id="BDic_cellTherapy">Cell Therapy</a> - 
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_cofactor">Cofactor</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="CDic_colvalentBond">Colvalent Bond</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_complex">Complex</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_degredation">Degredation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_denature">Denature</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_desoxynucleosideTriphosphates">Desoxynucleoside Triphosphates</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_dimer">Dimer</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="CDic_disolution">Disolution</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_division">Division</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_dysbiotic">Dysbiotic</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_electroporation">Electroporation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_endocytosis">Endocytosis</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_endothermic">Endothermic</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_enthalpy">Enthalpy</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_exon">Exon</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_exothermic">Exothermic</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_extrapolation">Extrapolation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_family">Family</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_fauna">Fauna</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_fluorescence">Fluorescence</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_galactose">Galactose</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_geneExpression">Gene Expression</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_geneticallyModifiedOrganism">Genetically Modified Organism (GMO)</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_genome">Genome</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_genotype">Genotype</a> -
</li>
<li class="definition" data-dictionary="bioChem" data-src="original-dereck">
    <a class="definition-word" data-category="bioChem" id="BDic_glycosylation">Glycosylation</a> - 
</li>
<li class="definition" data-dictionary="bioChem" data-src="original-dereck">
    <a class="definition-word" data-category="bioChem" id="BDic_glycophospholipid">Glycophospholipid</a> - 
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_heat">Heat</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_helicase">Helicase</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_heredity">Heredity</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_herpesviridae">Herpesviridae</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_heteroChromatin">Heterochromatin</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_heterogeneous">Heterogeneous</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_hormone">Hormone</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_hydrogenBond">Hydrogen Bond</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_immuneSystem">Immune System</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_indole">Indole</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_inducer">Inducer</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_interphase">Interphase</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_intron">Intron</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="CDic_iron">Iron</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_isomer">Isomer</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_kanamycinResistance">KanR</a> - A <a href="#BDic_gene">gene</a> which confers resistance to <a href="#BDic_kanamycin">kanamycin</a>.
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_labile">Labile</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_laMedium">LA Medium</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_lasR">lasR</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_lipidBilayer">Lipid Bilayer</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_loxSite">Lox Site</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_macromolecule">Macromolecule</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="CDic_mass">Mass</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_membraneBound">Membrane Bound</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_metabolite">Metabolite</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_metalloProtein">Metalloprotein</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_methylation">Methylation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_microOrganism">Microorganism</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_minimalOrganism">Minimal Organism</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_northernBlot">Northern Blot</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_oligonucleotide">Oligonucleotide</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="CDic_oxygen">Oxygen</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_pnk">PNK</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_peptide">Peptide</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_peptideBond">Peptide Bond</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="CDic_pH">pH</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_phosphateGroup">Phosphate Group</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_phosphorylation">Phosphorylation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_polar">Polar</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_polyPeptide">Polypeptide</a> -
</li>
<li class="definition" data-dictionary="bioChem" data-src="berk">
    <a class="definition-word" data-category="bioChem" id="BDic_proteoglycan">Proteoglycan</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_quantitative">Quantitative</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_receptor">Receptor</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_regulation">Regulation</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_senescent">Senescent</a> -
</li>
<li class="definition" data-dictionary="general-biology" data-src="original-dereck">
    <a class="definition-word" data-category="general-biology" id="BDic_5PrimeCap">5 Prime Cap (5' Cap)</a> -
</li>