<html lang="en-uk">
    <head>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/header.php"; ?>
        <!-- <script type="text/javascript" src="/siteBackEnd/definitionEntry.js"></script> -->
        <script type="text/javascript" src="/blog/getEntries.js"></script>
        <title>Chemistry Dictionary</title>
    </head>
    <body>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/nav.php"; ?>

        <div class="contentWrapper">
            <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/sidebar.php"; ?>
            <div class="writtenWrapper">

                <article>
                    <h1>Chemistry Dictionary</h1>
                        <p>
                            Welcome to this library of definitions for chemistry; from the molecular to the macroscopic. This dictionary should serve only as a quick reference and offers short explicative definitions as refreshers or introductions to core concepts in chemistry. Please do not hesitate to signal any error or suggestion you may have, feel free to use any of the available contact forms on the site with the subject definition and the word you are referencing.
                        </p>
                        <p>
                            For the moment if you are arriving from a website search please simply use the command/control + f to quickly find and reference the desired definition. Hyperlinks are also activated between definitions and other pages on this website
                        </p>

                        <div class="sectionDiv">
                            <h1 id="dictionaryDirectory">Dictionary Directory</h1>
                                <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/dicDirectory.php"; ?>
                                

                            <ol class="dictionaryList">
                                <h1 class="dicSection"  id="theLetter_A">A</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_acid"><strong>Acid</strong></a> - An acid as per the Br&#248;nsted definition is any substance capable of giving off a proton, or <a href="#CDic_Hydrogen">Hydrogen</a> particle. As per the Lewis definition an acid is any substance capable of accepting a pair of electrons.
                                        <p>
                                            Notice that these two definitions are complementary, in that if: an acid gives off a proton, it is releasing a charged particle <span class="chemicalForm">H<sup>+</sup></span> into the environment; yet at the same time it must accept those electrons <span class="chemicalForm">2e<sup>-</sup></span> from the proton in order to release it.
                                        </p>
                                        <p>
                                            An acid is written as AH and its conjugated base as <span class="chemicalForm">A<sup>-</sup></span>. The couple is written as: <span class="chemicalForm">AH/A<sup>-</sup></span>.
                                        </p>
                                        <p>
                                            They are linked together by the two half reactions:
                                        </p>
                                        <div class="chemicalReaction mathsFormula">
                                            $$
                                                AH \rightleftharpoons A^- + H^+
                                            $$
                                            $$
                                                B^- + H^+ \rightleftharpoons BH
                                            $$
                                        </div>
                                        <p>
                                            Thus the two half reactions together form the complete reaction:
                                        </p>
                                        <div class="chemicalReaction mathsFormula">
                                            $$
                                                AH + B^- \rightleftharpoons A^- + BH
                                            $$
                                        </div>
                                        <p>
                                            Notice that the acid is giving up its <span class="chemicalForm">H</span> to the base, and in exchange the <span class="chemicalForm">A</span> receives the negative charge <span class="chemicalForm"><sup>-</sup></span> which in fact represents the two electrons given up by the Hydrogen.
                                        </p>
                                        <p>
                                            If one were to follow the electrons they go from: H to  <span class="chemicalForm">A</span>, and from the B to the <span class="chemicalForm">H</span> in order to form the bond.
                                        </p>
                                    </li>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_amphoteric"><strong>Amphoteric</strong></a> - The quality of a substance to be able to act as both an acid and a base. This is an innate quality of water and is seen in <a href="#CDic_Autoprotolysis">autoprotolysis</a>.
                                    </a>
                                    <li class="wordDefined" data-dictionary="orgChem" data-src="dereck">
                                        <a class="dicWord" data-category="orgChem" id="CDic_antiaromatic"><strong>Antiaromatic</strong></a> - If a molecule has 4n &pi; electrons and has the all other characteristics for aromaticity then it is said to be antiaromatic.
                                        <ol>
                                            <li>
                                                The molecule must be cyclic.
                                            </li>
                                            <li>
                                                The molecule must be planar, allows for p-orbitals to be parallel and interact.
                                            </li>
                                            <li>
                                                That the molecule must be formed of a continous ring of conjugated &pi; bonds (p-orbital interaction); if a heteronome participates in conjugation then its doublet must be able to be conjugated with the other &pi; bonds (can be composed of one or more rings).
                                            </li>
                                        </ol>
                                        <p class="note">
                                            Example: cyclobutadiene; the number of &pi; delocalised electrons is 4, its ionic form cyclobutadiene(2<sup>-</sup>) is aromatic (6 e<sup>-</sup>).
                                        </p>
                                    </li>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_autoprotolysis"><strong>Autoprotolysis</strong></a> - A chemical reaction occuring in water between water molecules themselves <span class="chemicalForm">H<sub>2</sub>O</span> in which a proton is transfered between two identical molecules, one playing the role of an acid and the other the base (in the Br&#248;nsted context).
                                        <p>
                                            The chemical reaction is written:
                                        </p>
                                        <div class="mathsFormula chemicalReaction">
                                            $$
                                                2H_2 O \rightleftharpoons H_3 O^+ + HO^-
                                            $$
                                        </div>
                                        <p>
                                            Any solvent which contains acidic hydrogen and lone pairs of electrons with which to accept H<sup>+</sup> can demonstrate autoprotolysis, for example ammonia:
                                        </p>
                                        <div class="mathsFormula">
                                            $$
                                                2NH_3 \rightleftharpoons NH^-_2 + NH^+_4
                                            $$
                                        </div>
                                    </li>
                                    <li class="wordDefined" data-dictionary="orgChem" data-src="origDereck">
                                        <a class="dicWord"  data-dictionary="orgChem" id="CDic_aromaticity"><strong>Aromaticity (aryl)</strong></a> - This is the property of being cyclic (a closed ring), and planar with a ring of resonance bonds. Aromatic chemical groups are called aryl. Requirements for aromaticity, known as Huckel's rule, are as follows:
                                        <ol>
                                            <li>
                                                The molecule must be cyclic; can be composed of one or more rings.
                                            </li>
                                            <li>
                                                The molecule must be planar, allows for p-orbitals to be parallel and interact.
                                            </li>
                                            <li>
                                                That the molecule must be formed of a continous ring of conjugated &pi; bonds (p-orbital interaction); if a heteronome participates in conjugation then its doublet must be able to be conjugated with the other &pi; bonds.
                                            </li>
                                            <li>
                                                The molecule must have 4n + 2 electrons in a conjugated system (n &#8712; &#8469;); normally on sp<sup>2</sup>-hybridised atoms, and sometimes sp-hybridised.
                                            </li>
                                        </ol>
                                        <p>
                                            To apply the rule, count the number of &pi; eletrons in the molecule, then set the equation equal to this number. Solve for n. If n &#8712; &#8469;, and the other rules are true then the molecule is indeed aromatic.
                                        </p>
                                        <div class="note mathsFormula">
                                            Example: benzene, 3 double bonds, 6 &pi; electrons.
                                            $$
                                                4n + 2 = 6
                                            $$
                                            $$
                                                4n = 4
                                            $$
                                            $$
                                                n = 1
                                            $$
                                            $$
                                                n \in \mathbb{N}
                                            $$
                                            In order to know which are the &pi; electrons to be counted, you must look at those which reside in the p-orbitals; the hybrid atoms have one p-orbital each. Thus if each part of the cyclic compound is hybridised sp2 then this means that the molecule is completely conjugated (each atom has one p-orbital) and the electrons in these p orbitals are in fact &pi; electrons.
                                        </div>
                                        <p>
                                            Aromatic molcules are very stable and do not react easily with other compounds. Most common aromatic compounds are derivatives of benzene (found in petroleum).
                                        </p>
                                        <p>
                                            Aromaticity does not necessarily indicate an odour. This misnomer comes from the association initially given by August Wilhelm Hofmann in 1855 who studied a class of benzene molecules; which did indeed emit odours.
                                        </p>
                                        <figure>
                                            <img class="lazy" data-src="/dictionaries/documents/chemistry/benzenResonance.png">
                                            <figcaption>Benzene resonance structures.</figcaption>
                                        </figure>
                                        <p>
                                            Chemically aromaticity refers to a conjugated system made of alternating single and double bonds in a ring. This arrangement allows for electrons in the molecule's &pi; system to be delocalised; increasing the molecules stability. Such molecules are represented by a resonance hybrid of different strucutres.
                                        </p>
                                        <p>
                                                Bond lengths in such a strucutre are the intermediate of the two composing representations. X-ray diffraction has shown that all six carbon-carbon bonds in benzene are of the same length: 1.4 &#8491;. C-C double bonds are typically at 1.35 &#8491;, and single bonds at 1.47 &#8491;.
                                        </p>
                                        <figure>
                                            <img class="lazy" data-src="/dictionaries/documents/chemistry/benzenPiOrbitals.png">
                                            <figcaption>The &pi; orbitals allow for the double bond stick out of the ring, this allows for the double bond formation; consequently these orbitals can then share any electrons involved.</figcaption>
                                        </figure>
                                        <p>
                                            The ring contains &pi; bonds which are formed from the overlap of atomic p-orbitals; which can interact with each other freely as they are outside the plane of the molecule. Each electron is shared by all six atoms in the ring; there are not enough electrons to form double bonds between all carbon atoms, but the "extra" electrons strengthen the exisiting bonds and give rise to the resonance structure.
                                        </p>
                                    </li>
                                <h1 class="dicSection"  id="theLetter_B">B</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_base"><strong>Base</strong></a> - As per the Br&#248;nsted definition it is any substance capable of taking a proton, or <a href="#CDic_Hydrogen">Hydrogen</a> particle. As per the Lewis definition a base is any substance capable of releasing a pair of electrons.
                                            <p>
                                                Notice that these two definitions are complementary, in that if a base takes on a proton, it is accepting a charged particle <span class="chemicalForm">H<sup>+</sup></span> from the environment; yet at the same time it must release its electrons <span class="chemicalForm">2e<sup>-</sup></span> and share them with the proton in order to form a bond.
                                            </p>
                                            <p>
                                                A base is written as <span class="chemicalForm">B<sup>-</sup></span> and its conjugated acid as <span class="chemicalForm">BH</span>. The couple is written as: <span class="chemicalForm">B<sup>-</sup>/BH</span>.
                                            </p>
                                            <p>
                                                They are linked together by the two half reactions:
                                            </p>
                                            <div class="mathsFormula chemicalReaction">
                                                $$
                                                    AH \rightleftharpoons A^- + H^+
                                                $$
                                                $$
                                                    B^- + H^+ \rightleftharpoons BH
                                                $$
                                            </div>
                                            <p>
                                                Thus the two half reactions together form the complete reaction:
                                            </p>
                                            <div class="mathsFormula chemicalReaction">
                                                $$
                                                    AH + B^- \rightleftharpoons A^- + BH
                                                $$
                                            </div>
                                            <p>
                                                Notice that the base is accepting an <span class="chemicalForm">H</span> from the acid, and in turn the <span class="chemicalForm">A</span> receives the negative charge <span class="chemicalForm"><sup>-</sup></span> which in fact represents the two electrons given up by the Hydrogen.
                                            </p>
                                            <p>
                                                If one were to follow the electrons they go from hydrogen to the <span class="chemicalForm">A</span>, then from B to the <span class="chemicalForm">H</span> in order to form the bond.
                                            </p>
                                    </li>
                                    <li class="wordDefined" data-dictionary="orgChem" data-src="dereck">
                                        <a class="dicWord" data-category="orgChem" id="CDic_benzene"><strong>Benzene (C<sub>6</sub>H<sub>6</sub>)</strong></a> - An aromtaic organic molecule of the formula C<sub>6</sub>H<sub>6</sub>, molar mass 78.114 g&middot;mol<sup>-1</sup>. It is cyclic and contains only Carbon and Hydrogen thus it is called a hydrocarbon.
                                        <figure>
                                            <img class="lazy" data-src="/dictionaries/documents/chemistry/benzeneRepresentations.png">
                                            <figcaption>Various representations of benzene including the hybrid resonance strucutre.</figcaption>
                                        </figure>
                                        <p>
                                            Benzene is naturally found in petroleum and is a foundational chemical in petrochemistry: production of plastics, pharmaceuticals, dyes, detergents, pesticides, rubber, and other important molecules.
                                        </p>
                                        <figure>
                                            <img class="lazy" data-src="/dictionaries/documents/chemistry/benzeneUses.png">
                                            <figcaption>A chart demonstrating the various uses for benzene and derivative molecules possible.</figcaption>
                                        </figure>
                                        <p>
                                            It is a liquid, colourless, highly volatile, flammable, and a known human carcinogen.
                                        </p>
                                    </li>
                                <h1 class="dicSection"  id="theLetter_C">C</h1>
                                <h1 class="dicSection"  id="theLetter_D">D</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_dissociationConstantWater"><strong>Dissociation Constant (water)</strong></a> - The rate at which water dissociates from its protons. This can be derived from <a href="#CDic_Autoprotolysis">autoprotolysis</a>.
                                        <p>
                                            Dissociation constant: <span class="mathsDescription">\( K_w = 1.0 \cdot 10^{-14} \)</span>
                                        </p>
                                        <div class="mathsFormulas">
                                            $$
                                                K_w = \frac{[H_{3}0^{+}][HO^-]}{[ H_{2}0]^2}
                                            $$
                                        </div>
                                        <p>
                                            Since this is theoretically measured in a pure solution of water and the concentration of pure substances is not taken into account then the formula simplifies to:
                                        </p>
                                        <div class="mathsFormulas">
                                            $$
                                                K_w = [H_{3}0^{+}][HO^-]
                                            $$
                                        </div>
                                        <p>
                                            Moreover, since according to the balanced equation for <a href="#CDic_Autoprotolysis">autoprotolysis</a> <span class="chemicalForm">[H<sub>3</sub>O<sup>+</sup>] = [HO<sup>-</sup>]</span>, and thus we can simplify the formula even more:
                                        </p>
                                        <div class="mathsFormulas">
                                            $$
                                                K_w = X^2
                                            $$
                                        </div>
                                        <p>
                                            Thus:
                                        </p>
                                        <div class="mathsFormulas">
                                            $$
                                                [H_{3}0^{+}] = [HO^-] = \sqrt{1.0 \cdot 10^{-14}} = 1.0 \cdot 10^{-7} mol/L	
                                            $$
                                        </div>
                                        <p>
                                            And thus we've demonstrated that water's <span class="chemicalForm">\( pH = -log(1.0 \cdot 10^{-7}) = 7 \)</span>.
                                        </p>

                                    </li>
                                <h1 class="dicSection"  id="theLetter_E">E</h1>
                                <h1 class="dicSection"  id="theLetter_F">F</h1>
                                <h1 class="dicSection"  id="theLetter_G">G</h1>
                                <h1 class="dicSection"  id="theLetter_H">H</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_hydroniumIon"><strong>Hydronium Ion</strong></a> - An oxygen cation attached to three protons, its composition is written as <span class="chemicalForm">H<sub>3</sub>O<sup>+</sup></span>. This is different from <span class="chemicalForm">R<sub>3</sub>O<sup>+</sup></span> known as a <a href="#CDic_Oxonium_Ion">oxonium ion</a> and instead of three protons can include any other groups. A <a href="#CDic_Hydronium_Ion">hydronium ion</a> is an oxonium ion, but the inverse is not true; as this term refers specifically to ions which have hydrogens.
                                    </li>
                                <h1 class="dicSection"  id="theLetter_I">I</h1>
                                <h1 class="dicSection"  id="theLetter_J">J</h1>
                                <h1 class="dicSection"  id="theLetter_K">K</h1>
                                <h1 class="dicSection"  id="theLetter_L">L</h1>
                                <h1 class="dicSection"  id="theLetter_M">M</h1>
                                <h1 class="dicSection"  id="theLetter_N">N</h1>
                                <h1 class="dicSection"  id="theLetter_O">O</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_oxoniumIon"><strong>Oxonium Ion</strong></a> - An oxonium ion is any oxygen cation with three bonds, the simplest form is <span class="chemicalForm">H<sub>3</sub>O<sup>+</sup></span> but in reality can be R<sub>3</sub>O<sup>+</sup>; R meaning any other groups. An oxonium ion is not a <a href="#CDic_Hydronium_Ion">hydronium ion</a>, this term refers specifically to ions which have hydrogens.
                                    </li>
                                <h1 class="dicSection"  id="theLetter_P">P</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_pH"><strong>pH (Potential Hydrogen)</strong></a> - Loosely speaking a measure of the concentration of free protons in an aqueous solution. A more precise definition is the activity of protons in the solution or a measure of <span class="chemicalForm">[H<sub>3</sub>O<sup>+</sup>]</span>. This allows us to determine the <a href="#CDic_Acid">acidity</a> or <a href="#CDic_Base">basicity</a> of a solution. These measurements are all put in the context of water, and relative to water; thus water's pH is equal to 7; acids are less than 7, bases are greater than 7.
                                        <div class="mathsFormula">
                                            In a base:
                                            $$
                                                [HO^-] > H_3 O^+
                                            $$
                                            In an acid:
                                            $$
                                            [HO^-] < H_3 O^+
                                            $$
                                            <ul>
                                                <li>
                                                    Hydroxide ions = [OH<sup>-</sup>]
                                                </li>
                                                <li>
                                                    Hydronium ions = [H<sub>3</sub>O<sup>+</sup>]
                                                </li>
                                            </ul>
                                        </div>
                                        <p>
                                            pH is measured on a logarithmic scale, it is measured in units of moles per liter of hydrogen ions often called <a href="CDic_Hydronium_Ion">hydronium ions</a> sometimes less precisely called <a href="CDic_Oxonium_Ion">oxonium ions</a>.
                                        </p>
                                        <p>
                                            Precisely speaking this measurement of hydrogen ions in a solution can be done experimentally. In fact an experimental measure is designated as p[H]. Moreover, the difference between pH and p[H] is so small that they are sometimes used interchangeably. The way to find this would be by use of the Nernst equation as shown below:
                                        </p>
                                            <div class="mathsFormulas">
                                                $$
                                                    E = E^{0} + f\frac{2.303RT}{F}\log\left[ H^{+} \right]
                                                $$
                                            </div>
                                        <p>
                                            The strict definition of pH does not have associated units, and is dimensionless. It is described as the log of the inverse of hydrogen activity in a solution:
                                        </p>
                                        <div class="mathsFormulas" id="definitionOfpH">
                                            $$
                                                pH = -log(a_{H^+}) = log\left(\frac{1}{a_{H^+}}\right)
                                            $$
                                        </div>
                                        <p>
                                            But most often used in the following form with <span class="chemicalForm">[H<sub>3</sub>O<sup>+</sup>]</span> being the concentration of hydronium ions in <span class="chemicalForm">mol/L</span>:
                                        </p>
                                            <div class="mathsFormulas" id="definitionOfpH2">
                                                $$
                                                    pH = -log[H_3 O^+]
                                                $$
                                                $$
                                                    [H_3 O^+] = 10^{-pH}
                                                $$
                                            </div>
                                    </li>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_pOh"><strong>pOH (Potential Hydroxide)</strong></a> - The inverse of pH, this measures the potential hydroxide activity of a solution: <span class="chemicalForm">HO<sup>-</sup></span>.
                                            <div class="mathsFormulas" id="definitionOfpH2">
                                                $$
                                                    pOH = -log[OH^-]
                                                $$
                                                $$
                                                    [OH^-] = 10^{-pOH}
                                                $$
                                            </div>
                                        <p>
                                            Note that the sum of pOH along with <a href="#CDic_pH">pH</a> is equal to the total of the scale.
                                        </p>
                                            <div class="mathsFormulas" id="definitionOfpH2">
                                                $$
                                                    pH + pOH = 14
                                                $$
                                            </div>
                                    </li>
                                <h1 class="dicSection"  id="theLetter_Q">Q</h1>
                                <h1 class="dicSection"  id="theLetter_R">R</h1>
                                <h1 class="dicSection"  id="theLetter_S">S</h1>
                                <h1 class="dicSection"  id="theLetter_T">T</h1>
                                <h1 class="dicSection"  id="theLetter_U">U</h1>
                                <h1 class="dicSection"  id="theLetter_V">V</h1>
                                <h1 class="dicSection"  id="theLetter_W">W</h1>
                                <h1 class="dicSection"  id="theLetter_X">X</h1>
                                <h1 class="dicSection"  id="theLetter_Y">Y</h1>
                                <h1 class="dicSection"  id="theLetter_Z">Z</h1>
                                <h1 class="dicSection"  id="theLetter_SYMBOLS">#</h1>
                                    <li class="wordDefined" data-dictionary="genChem" data-src="dereck">
                                        <a class="dicWord" data-category="genChem" id="CDic_piElectron"><strong>&pi; bond (Pi bond)</strong></a> - These are covalent chemical bonds where two lobes of an orbital on one atom overlap with two other lobes of another laterally. The Greek letter &pi; is used to refer to the p-orbitals. The symmettry of the &pi; bond is the same as that of the p-orbital; &pi; bonds occur with p-orbitals and or d-orbitals.
                                        <p>
                                            &pi; bonds are weaker than &sigma; bonds, requiring 612 kj of energy to break vs 348 kj respectively, that is 264 kj required to break a &pi; bond; as the &sigma; bond is comprised in the 612 kj initially quoted *(C-C bonds).
                                        </p>
                                        <p>
                                            Single covalent bonds result in &sigma; bonds, multiple bonds yeild &pi; bonds. These also result in unsaturated molecules, as electrons are used for multiple bond formation rather than fixing H. Note that &pi; bonds do not allow free rotation around the central axis as &sigma; bonds do.
                                        </p>
                                    </li>
                            </ol>
                        </div>

                </article>
            </div>
        </div>    
    </body>
    
    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/footer.php"; ?>
</html>