<html lang="en-uk">
    <head>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/header.php"; ?>
        <!-- <script type="text/javascript" src="/siteBackEnd/definitionEntry.js"></script> -->
        <script type="text/javascript" src="/blog/getEntries.js"></script>
        <title>Etymology Dictionary</title>
    </head>
    <body>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/nav.php"; ?>

        <div class="contentWrapper">
            <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/sidebar.php"; ?>
            <div class="writtenWrapper">
	
                <article>
                    <h1>Etymology Dictionary</h1>
                        <p>
                            Welcome to this library of definitions, hopefully this page will help you better understand words by studying their etymology; prefixes, suffixes, and . This dictionary should serve only as a quick reference and offers short explicative definitions as refereshers or introductions to core concepts in Empty. Please do not hesitate to signal any error or suggestion you may have, feel free to use any of the available contact forms on the site with the subject definition and the word you are referencing.
                        </p>
                        <p>
                            For the moment if you are arriving from a website search please simply use the command/control + f to quickly find and reference the desired definition. Hyperlinks are also activated between definitions and other pages on this website
                        </p>
                        
                    <div class="sectionDiv">
                        
                        <h1 id="dictionaryDirectory">Dictionary Directory</h1>
                            <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/dicDirectory.php"; ?>
                            <ol class="dictionaryList">
                                <h1 class="dicSection" id="theLetter_A">A</h1>
                                <h1 class="dicSection" id="theLetter_B">B</h1>
                                <h1 class="dicSection" id="theLetter_C">C</h1>
                                <h1 class="dicSection" id="theLetter_D">D</h1>
                                <h1 class="dicSection" id="theLetter_E">E</h1>
                                <h1 class="dicSection" id="theLetter_F">F</h1>
                                <h1 class="dicSection" id="theLetter_G">G</h1>
                                <h1 class="dicSection" id="theLetter_H">H</h1>
                                <h1 class="dicSection" id="theLetter_I">I</h1>
                                <h1 class="dicSection" id="theLetter_J">J</h1>
                                <h1 class="dicSection" id="theLetter_K">K</h1>
                                <h1 class="dicSection" id="theLetter_L">L</h1>
                                <h1 class="dicSection" id="theLetter_M">M</h1>
                                    <li class="defPrefix defGreek">
                                        <a id="EDic_macro"><strong class="wordPrefix wordGreek">Macro (Prefix) [Greek]</strong></a> - Appears in: Macroscopic, macromolecule, macroeconomics. From Ancient Greek, makr&#0243;s, meaning long. Used as a prefix to indicate large in scale. 
                                    </li>
                                <h1 class="dicSection" id="theLetter_N">N</h1>
                                <h1 class="dicSection" id="theLetter_O">O</h1>
                                <h1 class="dicSection" id="theLetter_P">P</h1>
                                    <li class="defPrefix defLatin">
                                        <a id="EDic_Per"><strong class="wordPrefix wordLatin">Per (Prefix) [Latin]</strong></a> - Appears in: Peroxide, perchlorate, persulfate. <strong>1.</strong> Meaning very, or doing something all the way. <strong>2.</strong> Refers to a oxygen-oxygen bond within a molecule. If this prefix is used, expect an O-O bond within the system. <strong>3.</strong> Describes a molecule with the maximum number of a given element in the compound eg peroxide.
                                    </li>
                                <h1 class="dicSection" id="theLetter_Q">Q</h1>
                                <h1 class="dicSection" id="theLetter_R">R</h1>
                                <h1 class="dicSection" id="theLetter_S">S</h1>
                                <h1 class="dicSection" id="theLetter_T">T</h1>
                                <h1 class="dicSection" id="theLetter_U">U</h1>
                                <h1 class="dicSection" id="theLetter_V">V</h1>
                                <h1 class="dicSection" id="theLetter_W">W</h1>
                                <h1 class="dicSection" id="theLetter_X">X</h1>
                                <h1 class="dicSection" id="theLetter_Y">Y</h1>
                                <h1 class="dicSection" id="theLetter_Z">Z</h1>
                                <h1 class="dicSection" id="theLetter_SYMBOLS">#</h1>
                            </ol>
                    </div>
                </article>
            </div>
        </div>

    </body>
    
    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/footer.php"; ?>
</html>