<html lang="en-uk">

<head>
    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/header.php"; ?>
    <!-- <script type="text/javascript" src="/siteBackEnd/definitionEntry.js"></script> -->
    <script type="text/javascript" src="/blog/getEntries.js"></script>
    <title>Formulas Dictionary</title>
</head>

<body>
    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/nav.php"; ?>

    <div class="contentWrapper">
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/sidebar.php"; ?>
        <div class="writtenWrapper">

            <article>
                <h1>Formulas Dictionary</h1>
                <p>
                    Welcome to this library of definitions for formulas; from physics to the biology. This
                    dictionary should serve only as a quick reference and offers short explicative definitions as
                    refreshers or introductions to core concepts. Please do not hesitate to signal any
                    error or suggestion you may have, feel free to use any of the available contact forms on the site
                    with the subject definition and the word you are referencing.
                </p>
                <p>
                    For the moment if you are arriving from a website search please simply use the command/control + f
                    to quickly find and reference the desired definition. Hyperlinks are also activated between
                    definitions and other pages on this website
                </p>

                <div class="sectionDiv">
                    <h1 id="dictionaryDirectory">Dictionary Directory</h1>
                    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/dicDirectory.php"; ?>


                    <ol class="dictionaryList">
                        \( \require{cancel} \)

                        <h1 id="theLetter_A">A</h1>
                        <h1 id="theLetter_B">B</h1>
                        <h1 id="theLetter_C">C</h1>
                        <li class="laboratoryForm">
                            <!-- FINISH THIS DEFINITION -->
                            <a id="FDic_cascadingDilutions"><strong>Cascading Dilutions</strong></a> - This is a method
                            whereby one dilutes a liquid into another, then uses the resulting diluted liquid to create
                            another, and then again from the resulting dilution etc.
                        </li>
                        <li class="laboratoryForm chemistryForm">
                            <a id="FDic_concentrationMatterVolumes"><strong>Concentration, Matter, &
                                    Volumes</strong></a> - n (amount of mass in mols) can be linked to a concentation.
                            Notice here the notation C is used for molar concentration for simplicity of notation. M
                            (molar mass g/mol) could have and is often used instead.

                            <div id="Maths_concentrationMatterVolumes" class="mathsFormulas">
                                $$
                                n = {C}\cdot{V} \implies n = {\frac{mol}{L}}\cdot{L} \implies n =
                                \frac{mol\cdot{\cancel{L}}}{\cancel{L}} = mol
                                $$
                                $$
                                n = {C}\cdot{V} \implies n = \frac{mol\cdot{\cancel{L}}}{\cancel{L}} = mol
                                $$
                                $$
                                C = \frac{n}{V} \implies C = \frac{mol}{L}
                                $$
                                $$
                                V = \frac{n}{C} \implies V = \frac{\cancel{mol}\cdot{L}}{\cancel{mol}} = L
                                $$
                            </div>
                            <ul class="mathsDescription">
                                <p>
                                    Where:
                                </p>
                                <li>
                                    n - Amount of mass in mols
                                </li>
                                <li>
                                    C - Concentration, molarity, or molar concentration mol/L
                                </li>
                                <li>
                                    V - Volume officially: m<sup>3</sup> we use litres L
                                </li>
                            </ul>
                            <p>
                                Note that mol/L is often written as M for short-hand; not to be confused with <em>M</em>
                                = g/mol.
                            </p>
                        </li>
                        <li class="physicsForm chemistryForm biologyForm">
                            <a id="FDic_Constants"><strong>Constants</strong></a> - Here's a quick list on common
                            physical constants often used in science. These are used throughout the site, do not
                            hesitate to reference this sheet when needed.
                            <ul>
                                <h4>Biological Constants:</h4>
                                <ul class="biologyForm">
                                    <li>
                                        Fibonacci Sequence: <span class="mathsNumbers">0, 1, 1, 2, 3, 5, 8, 13, 21, 34,
                                            55, 89, 144&hellip;</span>
                                        <div id="mathsFibonacciSequence" class="mathsFormulas">
                                            $$
                                            F_{n} = F_{n - 1} + F_{n - 2}
                                            $$
                                        </div>
                                        <ul class="mathsDescription">
                                            <li>
                                                Where: \( F_{1} = 1, \space F_{2} = 1 \)
                                            </li>
                                            <li>
                                                Or: \( F_{1} = 0, F_{1} = 1 \)
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Golden Ratio: <span class="mathsNumbers">\( \approx 1.6180339887 \ldots
                                            \)</span>

                                        <div id="mathsGoldenRatio" class="mathsFormulas">
                                            $$
                                            \frac {a+b}{a} = \frac{a}{b} = \frac {1 + \sqrt {5}}{2} = \varphi
                                            $$
                                        </div>
                                    </li>

                                    <figure class="invertImageColours">
                                        <img src="/dictionaries/documents/formulas/20181124_goldenRatio.svg" alt="Golden Ratio">
                                        <figcaption>An example of the golden ratio; an ideal example.</figcaption>
                                    </figure>

                                    <li>
                                        Physiological Temperature: <span class="mathsNumbers">36.5-37.5&deg;C</span>
                                    </li>
                                </ul>

                                <h4>Chemical Constants:</h4>
                                <ul class="chemistryForm">
                                    <li>
                                        Avogrado's Number: <span class="mathsNumbers"> \( 6.022140857 \cdot 10^{23}
                                            mol^{−1} \) </span> <!-- FINISH SECTION-->
                                    </li>
                                    <li>
                                        Dissociation constant: <span class="mathsNumbers"> \( K_w = 1.0 \cdot 10^{-14}
                                            \) </span>
                                    </li>
                                </ul>
                                <h4>Physical Constants:</h4>
                                <ul class="physicsForm">
                                    <li>
                                        Gravitational Constant:
                                        <div class="mathsFormulas">
                                            $$
                                            G = 6.67408\cdot10^{-11}\cdot{m^3}\cdot{kg^{-1}}\cdot{s^{-2}}
                                            $$
                                        </div>

                                    </li>
                                    <div id="Maths_Gravity" class="mathsFormulas">
                                        $$
                                        F = G \cdot \frac{m_1 \cdot m_2}{r^2}
                                        $$
                                    </div>

                                </ul>
                            </ul>
                        </li>
                        <li class="laboratoryForm">
                            <a id="FDic_conversion"><strong>Conversions</strong></a> - For a simple method on converting
                            unit prefixes from one to another refer to the below table.
                            </p>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Prefix</th>
                                        <th>Symbol</th>
                                        <th>Modifier</th>
                                        <th>Conversion</th>
                                    </tr>
                                    <tr>
                                        <td>Peta</td>
                                        <td>P</td>
                                        <td>10<sup>15</sup></td>
                                        <td rowspan="7">⬇︎<br>Multiply by<br>positive <br>exponent</td>
                                    </tr>
                                    <tr>
                                        <td>Tera</td>
                                        <td>T</td>
                                        <td>10<sup>12</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Giga</td>
                                        <td>G</td>
                                        <td>10<sup>9</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Mega</td>
                                        <td>M</td>
                                        <td>10<sup>6</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Kilo</td>
                                        <td>k</td>
                                        <td>10<sup>3</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Hecto</td>
                                        <td>h</td>
                                        <td>10<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Deca</td>
                                        <td>da</td>
                                        <td>10<sup>1</sup></td>
                                    </tr>
                                    <tr>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>1 = 10<sup>0</sup></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Deci</td>
                                        <td>d</td>
                                        <td>10<sup>-1</sup></td>
                                        <td rowspan="7">Multiply by<br>negative<br>exponent<br>⬆︎</td>
                                    </tr>
                                    <tr>
                                        <td>Centi</td>
                                        <td>c</td>
                                        <td>10<sup>-2</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Milli</td>
                                        <td>m</td>
                                        <td>10<sup>-3</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Micro</td>
                                        <td>μ</td>
                                        <td>10<sup>-6</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Nano</td>
                                        <td>n</td>
                                        <td>10<sup>-9</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Pico</td>
                                        <td>p</td>
                                        <td>10<sup>-12</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Femto</td>
                                        <td>f</td>
                                        <td>10<sup>-15</sup></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>

                        <h1 id="theLetter_D">D</h1>
                        <li class="laboratoryForm">
                            <a id="FDic_dilution"><strong>Dilutions</strong></a> - In order to calculate the new
                            concentrations of solutions:
                            <div id="mathsConcentration1" class="mathsFormulas">
                                $$
                                C_1 \cdot V_1 = C_2 \cdot V_2
                                $$
                            </div>

                            <ul class="mathsDescription">
                                <p>
                                    Variables:
                                </p>
                                <li>
                                    C<sub>1</sub> - Initial concentration.
                                </li>
                                <li>
                                    V<sub>1</sub> - Volume taken from initial solution at aforementioned concentration.t
                                </li>
                                <li>
                                    C<sub>2</sub> - New concentration after V<sub>1</sub> has been placed in new volume
                                    V<sub>2</sub>.
                                </li>
                                <li>
                                    V<sub>2</sub> - New volume into which V<sub>1</sub> is placed.
                                </li>
                            </ul>
                            <p>
                                Use the formula by isolating the variable.
                            </p>
                            <p>
                                One use of the formula is to find the new concentration of a solution when introduced to
                                a new container containing another solution. Think of C<sub>1</sub> as the concentration
                                of the chemical or solution one wants to dilute, which will be placed into another
                                liquid. In order to transfer this C<sub>1</sub> solution to another liquid one must take
                                a determined volume of it, this is what is marked as V<sub>1</sub>. This V<sub>1</sub>
                                sample of the C<sub>1</sub> solution can be taken and introduced into a new volume
                                V<sub>2</sub>. Thus, it is so we know to isolate C<sub>2</sub> and find our new
                                concentration.
                            </p>
                            <p>
                                Make sure to always verify that all units are in accord, and use <a
                                    href="#FDic_dimensionalAnalysis">dimensional analysis</a> in order to verify.
                            </p>

                            <ul class="mathsDescription">
                                <p>
                                    If:
                                </p>
                                <li>
                                    C - &mu;g/mL
                                </li>
                                <li>
                                    V - &mu;L
                                </li>
                            </ul>
                            <div id="mathsConcentration2" class="mathsFormulas">
                                $$
                                \frac{C_1 \cdot V_1}{V_2} = C_2
                                $$
                            </div>
                            <div id="mathsConcentration3" class="mathsFormulas">
                                $$
                                \frac{\frac{g}{mL} \cdot \cancel{\mu L} }{\cancel{\mu L}} = \frac{g}{mL}
                                $$
                            </div>
                            <p>
                                If one were to want to find the amount of a solution containing a product to be placed
                                into another volume necessary for the creation of a new solution of the new volume with
                                a given concentration then one would need the following form of the formula.
                            </p>
                            <div class="mathsFormulas">
                                $$
                                V_1 = \frac{C_2 \cdot V_2}{C_1 \cdot 10^{3}} \implies \frac{g/mL \cdot mL}{g/mL \cdot
                                10^{3}} = mL
                                $$
                            </div>

                            <div class="mathsDescription">
                                <ul>
                                    <p>
                                        If:
                                    </p>
                                    <li>
                                        C - &mu;g/mL
                                    </li>
                                    <li>
                                        V - mL
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a id="FDic_dimensionalAnalysis"><strong>Dimensional Analysis</strong></a> - The process of
                            setting up a formula for use, and running a calculation only using the necessary units
                            instead of values. If the units are in accord and equal each other after elimination then
                            the formulation is correct.
                            <p>
                                Example: <a href="#FDic_concentrationMatterVolumes">Concentrations, Matter, &
                                    Volumes</a>
                            </p>
                            <div id="mathsDimensionalAnalysis" class="mathsFormulas">
                                $$
                                n = {C}\cdot{V} \implies n = {\frac{mol}{L}}\cdot{L} \implies n =
                                \frac{mol\cdot{\cancel{L}}}{\cancel{L}} = mol
                                $$
                            </div>
                        </li>

                        <h1 id="theLetter_E">E</h1>
                        <h1 id="theLetter_F">F</h1>

                        <li class="physicsForm">
                            <a id="FDic_force"><strong>[Physics] Force</strong></a> - A force can be mesured and
                            calculated in a number of different ways. As per Newton's second law of motion, a force is
                            described by the following formula:
                            <div id="mathsForceNewton" class="mathsFormulas">
                                $$
                                F = m \cdot a
                                $$
                            </div>
                            <ul class="mathsDescription">
                                <p>
                                    Where:
                                </p>
                                <li>
                                    F - In Newtons (units); kg&middot;m/s^2.
                                </li>
                                <li>
                                    m - Mass in Kg.
                                </li>
                                <li>
                                    a - Acceleration in m/s<sup>2</sup>.
                                </li>
                            </ul>
                            <p>
                                Indeed a force is the result of an accelerating object encountering a mass.
                            </p>
                        </li>

                        <h1 id="theLetter_G">G</h1>
                        <h1 id="theLetter_H">H</h1>
                        <h1 id="theLetter_I">I</h1>
                        <li class="physicsForm chemistryForm">
                            <!-- FINISH SECTION -->
                            <a id="FDic_idealGasLaw"><strong>[Chemistry/Physics] Ideal Gas Law</strong></a> - This law
                            is used in relation to gasses. It

                            <div id="mathsIdealGasLaw" class="mathsFormulas">
                                $$
                                PV = nRT
                                $$
                            </div>
                            <ul class="mathsDescription">
                                <p>
                                    Where:
                                </p>
                                <li>
                                    P - The amount of pressure
                                </li>
                                <li>
                                    V - Volume of the gas
                                </li>
                                <li>
                                    n - The amount of particles in the system in mols
                                </li>
                                <li>
                                    R - Ideal gas constant <span class="mathsNumbers">8.314459848
                                        kg&middot;m<sup>2</sup>&middot;mol<sup>-1</sup>&middot;K<sup>-1</sup>&middot;s<sup>-2</sup></span>
                                </li>
                            </ul>
                        </li>
                        <h1 id="theLetter_J">J</h1>
                        <h1 id="theLetter_K">K</h1>
                        <h1 id="theLetter_L">L</h1>
                        <h1 id="theLetter_M">M</h1>
                        <li class="physicsForm chemistryForm laboratoryForm">
                            <!-- FINISH SECTION -->
                            <a id="FDic_matterMass"><strong>Matter & Mass</strong></a> - For dealing with quantities of
                            matter, use the following formulas and know the following units. Pay attention and be
                            careful not to confuse the symbol for molar mass <em>M</em> with the symbol for molarity M
                            these are the same except that molar mass is to be italicised. For the sake of clarity will
                            always use <em>M</em> to represent molar mass.
                            <div class="mathsFormulas">
                                $$
                                \require{cancel} n = \frac{m}{M}\implies n =\frac{g}{\frac{g}{mol}}\implies n =
                                \frac{\cancel{g}\cdot{mol}}{\cancel{g}} \implies n = mol
                                $$
                                $$
                                m = M\cdot{n} \implies m = \frac{g}{mol} \cdot mol \implies m = g
                                $$
                                $$
                                M = \frac{m}{n} \implies M = \frac{g}{mol}
                                $$
                            </div>
                            <ul class="mathsDescription">
                                <p>
                                    Where:
                                </p>
                                <li>
                                    n - Amount of mass in mols
                                </li>
                                <li>
                                    m - Amount of mass in grams
                                </li>
                                <li>
                                    M - Molar mass of the material in g/mol
                                </li>
                            </ul>
                            <p>
                                With this formula you can find the amount of mass in mols, the amount of mass in grams
                                or even the molar mass of a material.
                            </p>
                        </li>
                        <h1 id="theLetter_N">N</h1>
                        <h1 id="theLetter_O">O</h1>
                        <h1 id="theLetter_P">P</h1>
                        <li class="chemistryForm laboratoryForm">
                            <a id="FDic_percentagePowderInSolution"><strong>Percentage of Powder In
                                    Solution</strong></a> - And for calculating the percentage of a powder in a solution
                            use the following formula. Here we take the mass to roughly be equivalent to the volume, and
                            present an example with a solution of agar.
                            <p>
                                As an example we will use 400 mL of TAE x1, and 0.8% agar.
                            </p>
                            <div id="mathspercentageSolution" class="mathsFormulas">
                                $$
                                \% = \frac{m}{V} \cdot 100 \implies m = \frac{\%}{100} \cdot V
                                $$
                            </div>
                            <ul class="mathsDescription">
                                <p>
                                    Were:
                                </p>
                                <li>
                                    m is mass of agar in g
                                </li>
                                <li>
                                    v is volume of buffer in mL
                                </li>
                            </ul>
                            <p>
                                As per our formula the mass to use for 0.8% is:
                            </p>
                            <div id="mathsElectroPercentAgar2" class="mathsFormulas">
                                $$
                                m = \frac{0.8 \%}{100} \cdot 400 = 3.2 g
                                $$
                            </div>
                        </li>
                        <h1 id="theLetter_Q">Q</h1>
                        <h1 id="theLetter_R">R</h1>
                        <h1 id="theLetter_S">S</h1>
                        <h1 id="theLetter_T">T</h1>
                        <h1 id="theLetter_U">U</h1>
                        <li class="physicsForm chemistryForm">
                            <a id="FDic_units"><strong>Units</strong></a> - You will often encounter two different kinds
                            of units. Fundamental units which cannot be expressed in any other way, such as grams,
                            times, and distances. These fundamental units can be combined in different ways to express
                            more complex ideas. These are known as derived units; Such as joules or even concentrations
                            J = (kg.m<sup>2</sup>)/s<sup>2</sup> and M = mol/L respectively.
                            <p>
                                For a run down on common and essential units used in science refer to the tables below:
                            </p>
                            <h3>Fundamental Units</h3>
                            <table id="physicsTableUnits">
                                <tbody>
                                    <tr>
                                        <th>Measurement</th>
                                        <th>Measurement's Symbol</th>
                                        <th>Dimensional Symbol</th>
                                        <th>SI Unit</th>
                                        <th>Associated Symbol</th>
                                    </tr>
                                    <tr>
                                        <td>Mass</td>
                                        <td>m</td>
                                        <td>M</td>
                                        <td>kilogram</td>
                                        <td>kg</td>
                                    </tr>
                                    <tr>
                                        <td>Amount of matter</td>
                                        <td>n</td>
                                        <td>N</td>
                                        <td>mole</td>
                                        <td>mol</td>
                                    </tr>
                                    <tr>
                                        <td>Time</td>
                                        <td>t</td>
                                        <td>T</td>
                                        <td>second</td>
                                        <td>s</td>
                                    </tr>
                                    <tr>
                                        <td>Distance</td>
                                        <td>l, x, r...</td>
                                        <td>L</td>
                                        <td>metre</td>
                                        <td>m</td>
                                    </tr>
                                    <tr>
                                        <td>Temperature</td>
                                        <td>T</td>
                                        <td>θ</td>
                                        <td>kelvin</td>
                                        <td>K</td>
                                    </tr>
                                    <tr>
                                        <td>Electrical current</td>
                                        <td>I, i</td>
                                        <td>I</td>
                                        <td>ampere</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Luminous intensity</td>
                                        <td>I<sub>v</sub></td>
                                        <td>J</td>
                                        <td>candela</td>
                                        <td>cd</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Derived Units</h3>
                            <table class="tg">
                                <tr>
                                    <th>Name</th>
                                    <th>Measurement</th>
                                    <th>Measurement's Symbol</th>
                                    <th>Fundamental SI units</th>
                                    <th>Other Derived SI Units</th>
                                </tr>
                                <tr>
                                    <td>Hertz</td>
                                    <td>Frequency</td>
                                    <td>Hz</td>
                                    <td>1/s</td>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>Newton</td>
                                    <td>Force, weight</td>
                                    <td>N</td>
                                    <td>kg·m·s−2</td>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>Pascal</td>
                                    <td>Pressure, stress</td>
                                    <td>Pa</td>
                                    <td>kg·m−1·s−2</td>
                                    <td>N/m2</td>
                                </tr>
                                <tr>
                                    <td>Joule</td>
                                    <td>Energy, work, heat</td>
                                    <td>J</td>
                                    <td>kg·m2·s−2</td>
                                    <td>N·m</td>
                                </tr>
                                <tr>
                                    <td>Watt</td>
                                    <td>Power, radiant flux</td>
                                    <td>W</td>
                                    <td>kg·m2·s−3</td>
                                    <td>J/s</td>
                                </tr>
                                <tr>
                                    <td>Coulomb</td>
                                    <td>Electrical charge/Quantity of Electricity</td>
                                    <td>C</td>
                                    <td>s·A</td>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>Volt</td>
                                    <td>Voltage (electrical potential difference), electromotive force</td>
                                    <td>V</td>
                                    <td>kg·m2·s−3·A−1</td>
                                    <td>W/A</td>
                                </tr>
                                <tr>
                                    <td>Farad</td>
                                    <td>Capacitance</td>
                                    <td>F</td>
                                    <td>kg−1·m−2·s4·A2</td>
                                    <td>C/V</td>
                                </tr>
                                <tr>
                                    <td>Ohm</td>
                                    <td>Electrical resistance, impedance, reactance</td>
                                    <td>Ω</td>
                                    <td>kg·m2·s−3·A−2</td>
                                    <td>V/A</td>
                                </tr>
                                <tr>
                                    <td>Siemens</td>
                                    <td>Electrical conductance</td>
                                    <td>S</td>
                                    <td>kg−1·m−2·s3·A2</td>
                                    <td>A/V</td>
                                </tr>
                                <tr>
                                    <td>Weber</td>
                                    <td>Magnetic flux</td>
                                    <td>Wb</td>
                                    <td>kg·m2·s−2·A−1</td>
                                    <td>V·s</td>
                                </tr>
                                <tr>
                                    <td>Tesla</td>
                                    <td>Magnetic flux density</td>
                                    <td>T</td>
                                    <td>kg·s−2·A−1</td>
                                    <td>Wb/m2</td>
                                </tr>
                                <tr>
                                    <td>Henry</td>
                                    <td>Inductance</td>
                                    <td>H</td>
                                    <td>kg·m2·s−2·A−2</td>
                                    <td>Wb/A</td>
                                </tr>
                                <tr>
                                    <td>Degrees Celsius</td>
                                    <td>Temperature relative to 273.15 K</td>
                                    <td>°C</td>
                                    <td>1°C = 273.15 K</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Lumen</td>
                                    <td>Luminous flux</td>
                                    <td>lm</td>
                                    <td>cd</td>
                                    <td>cd·sr</td>
                                </tr>
                                <tr>
                                    <td>Lux</td>
                                    <td>Illuminance</td>
                                    <td>lx</td>
                                    <td>m−2·cd</td>
                                    <td>lm/m2</td>
                                </tr>
                                <tr>
                                    <td>Becquerel</td>
                                    <td>Radioactivity (decays/time)</td>
                                    <td>Bq</td>
                                    <td>s−1</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Gray</td>
                                    <td>Absorbed dose (ionising radiation)</td>
                                    <td>Gy</td>
                                    <td>m2·s−2</td>
                                    <td>J/kg</td>
                                </tr>
                                <tr>
                                    <td>Sievert</td>
                                    <td>Equivalent dose (ionising radiation)</td>
                                    <td>Sv</td>
                                    <td>m2·s−2</td>
                                    <td>J/kg</td>
                                </tr>
                                <tr>
                                    <td>Katal</td>
                                    <td>Catalytic activity</td>
                                    <td>kat</td>
                                    <td>mol·s−1</td>
                                    <td></td>
                                </tr>
                            </table>
                            </table>
                        </li>
                        <h1 id="theLetter_V">V</h1>
                        <li class="statisticsForm mathsForm">
                            <a id="FDic_Variance" class="FDic_Statistics"><strong>Variance (Statistics)</strong></a> -
                        </li>
                        <li class="geometryForm mathsForm">
                            <a id="FDic_Volume" class="FDic_Geometry"><strong>Volume (Geometry)</strong></a> - A volume
                            is the measure of the space inside a three dimensional object; it is measured using height,
                            length and width. These measurements multiplied together equal a volume.
                            <p>
                                In order to measure complex shapes, one can simplify the complex shape into smaller more
                                simple shapes, this of course only gives an estimation of the volume of the sum of the
                                shapes. A more precise way of measuring complex shapes is by liquid displacement;
                                whereby one submerges the object into a known volume. The displaced volume is thus equal
                                to the volume of the submerged object.
                            </p>
                            <h3>
                                Formulas for basic geometrical shapes:
                            </h3>
                            <h4>Volume of a Cube</h4>
                            <div id="formVolCube" class="mathsFormulas formVolGeo">
                                $$
                                vol(cube) = h \cdot w \cdot l
                                $$
                            </div>
                            <h4>Volume of a Pyramid</h4>
                            <div id="formVolTrianglePyramid" class="mathsFormulas formVolGeo">
                                $$
                                vol(pyramid) = \frac{A_b \cdot h}{3}
                                $$
                            </div>
                            <p class="mathsDescription">
                                For finding the area of a rectangular base and a rectangular base:
                            </p>
                            <!-- <div class="borderReminder"> -->
                            <h5>Reminder: Area Pyramid Bases</h5>
                            <div id="formAreaTriangleRectangle" class="mathsFormulas formAreaGeo">
                                $$
                                area(rectangle) = l \cdot w
                                $$
                                $$
                                area(triangle)* = \frac{l \cdot w}{2}
                                $$
                            </div>
                            <p class="mathsDescription">
                                Note* only works if l and w are perpendicular to one another, ie. a 90&deg; angle is
                                formed.
                            </p>

                            <h4>Volume of a Cylinder</h4>
                            <div id="formVolCylinder" class="mathsFormulas formVolGeo">
                                $$
                                vol(cylinder) = &pi; \cdot r^2 \cdot h
                                $$
                            </div>
                            <p class="mathsDescription">
                                The volume of a cylinder is found by first finding the area of the circle that composes
                                the shape then multiplying by the height of the shape.
                            </p>

                        </li>
                        <h1 id="theLetter_W">W</h1>
                        <h1 id="theLetter_X">X</h1>
                        <h1 id="theLetter_Y">Y</h1>
                        <h1 id="theLetter_Z">Z</h1>
                        <h1 id="#theLetter_SYMBOLS">#</h1>
                    </ol>
                </div>

            </article>
        </div>
    </div>
</body>

<?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/footer.php"; ?>

</html>