<html lang="en-uk">
    <head>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/header.php"; ?>
        <!-- <script type="text/javascript" src="/siteBackEnd/definitionEntry.js"></script> -->
        <script type="text/javascript" src="/blog/getEntries.js"></script>
        <title>Methodology Dictionary</title>
    </head>
    <body>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/nav.php"; ?>

        <div class="contentWrapper">
            <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/sidebar.php"; ?>
            <div class="writtenWrapper">
                <article>
                    <h1>Methodology Dictionary</h1>
                        <p>
                            Welcome to this reference library. Here you will find a dictionary of methods commonly used in biology labs; from the molecular biology to the macroscopic. This dictionary should serve only as a quick reference and offers short explicative definitions and use cases various methods you may encounter in the lab. Please do not hesitate to signal any error or suggestion you may have, feel free to use any of the available contact forms on the site with the subject definition and the word you are referencing.
                        </p>
                        <p>
                            For the moment if you are arriving from a website search please simply use the command/control + f to quickly find and reference the desired definition. Hyperlinks are also activated between definitions and other pages on this website
                        </p>
                        
                        <div class="sectionDiv">

                            <h1 id="dictionaryDirectory">Dictionary Directory</h1>
                                <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/dicDirectory.php"; ?>


                            <h1 id="theLetter_A">A</h1>
                                <a href="#MDic_Petri_Dish_Preparation"></a>
                            <h1 id="theLetter_B">B</h1>
                            <h1 id="theLetter_C">C</h1>
                            <h1 id="theLetter_D">D</h1>
                            <h1 id="theLetter_E">E</h1>
                            <h1 id="theLetter_F">F</h1>
                            <h1 id="theLetter_G">G</h1>
                            <h1 id="theLetter_H">H</h1>
                            <h1 id="theLetter_I">I</h1>
                            <ul>
                                <li>
                                    <a id="MDic_Incubation"><strong>Incubation</strong></a> - Incubation in a lab context usually refers to the growth of <a href="#BDic_Cell">cells</a>. This is done to obtain a higher mass of organic material to work with. Most often in microbiology labs the goal is to 
                                </li>
                            </ul>
                            <h1 id="theLetter_J">J</h1>
                            <h1 id="theLetter_K">K</h1>
                            <h1 id="theLetter_L">L</h1>
                            <h1 id="theLetter_M">M</h1>
                            <h1 id="theLetter_N">N</h1>
                            <h1 id="theLetter_O">O</h1>
                            <h1 id="theLetter_P">P</h1>
                            <ul>
                                <li>
                                    <a id="MDic_Petri_Dish_Preparation"><strong>Petri Dish Preparation</strong></a> - <a href="#MDic_Lysogeny_Broth">Lysogeny broth</a> to which agar has been added is used in the preparation of 
                                </li>
                            </ul>
                            <h1 id="theLetter_Q">Q</h1>
                            <h1 id="theLetter_R">R</h1>
                            <h1 id="theLetter_S">S</h1>
                            <h1 id="theLetter_T">T</h1>
                            <h1 id="theLetter_U">U</h1>
                            <h1 id="theLetter_V">V</h1>
                            <h1 id="theLetter_W">W</h1>
                            <h1 id="theLetter_X">X</h1>
                            <h1 id="theLetter_Y">Y</h1>
                            <h1 id="theLetter_Z">Z</h1>
                            <h1 id="#theLetter_SYMBOLS">#</h1>
                        </div>
                </article>
            </div>
        </div>
    </body>
    
    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/footer.php"; ?>
</html>