<?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/header.php"; ?>

    <title>#EMPTY TITLE#</title>

        <body>
        <div id="contentWrapper">
	
		<article>
			<h1>Empty Dictionary</h1>
				<p>
					Welcome to this library of definitions for Empty; from the molecular to the macroscopic. This dictionary should serve only as a quick reference and offers short explicative definitions as refereshers or introductions to core concepts in Empty. Please do not hesitate to signal any error or suggestion you may have, feel free to use any of the available contact forms on the site with the subject definition and the word you are referencing.
				</p>
				<p>
					For the moment if you are arriving from a website search please simply use the command/control + f to quickly find and reference the desired definition. Hyperlinks are also activated between definitions and other pages on this website
				</p>
		</article>

		<div class="sectionDiv">
			<h1 id="dictionaryDirectory">Dictionary Directory</h1>
				<?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/dicDirectory.php"; ?>
				
			<h1 id="theLetter_A">A</h1>
			<h1 id="theLetter_B">B</h1>
			<h1 id="theLetter_C">C</h1>
			<h1 id="theLetter_D">D</h1>
			<h1 id="theLetter_E">E</h1>
			<h1 id="theLetter_F">F</h1>
			<h1 id="theLetter_G">G</h1>
			<h1 id="theLetter_H">H</h1>
			<h1 id="theLetter_I">I</h1>
			<h1 id="theLetter_J">J</h1>
			<h1 id="theLetter_K">K</h1>
			<h1 id="theLetter_L">L</h1>
			<h1 id="theLetter_M">M</h1>
			<h1 id="theLetter_N">N</h1>
			<h1 id="theLetter_O">O</h1>
			<h1 id="theLetter_P">P</h1>
			<h1 id="theLetter_Q">Q</h1>
			<h1 id="theLetter_R">R</h1>
			<h1 id="theLetter_S">S</h1>
			<h1 id="theLetter_T">T</h1>
			<h1 id="theLetter_U">U</h1>
			<h1 id="theLetter_V">V</h1>
			<h1 id="theLetter_W">W</h1>
			<h1 id="theLetter_X">X</h1>
			<h1 id="theLetter_Y">Y</h1>
			<h1 id="theLetter_Z">Z</h1>
			<h1 id="theLetter_SYMBOLS">#</h1>

		</div>
		
	    </div>
    </body>
<?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/footer.php"; ?>