# /etc/systemd/system/test-derecksnotes-server.service
# https://nodesource.com/blog/running-your-node-js-app-with-systemd-part-1/ 
[Unit]
Description=test-derecksnotes-server.js - runs test subdomain server responses for test.derecksnotes.com
After=network.target

[Service]
Type=simple
User=dereck
ExecStart=/usr/bin/node /html/derecksnotes.com/server/test/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target