
// block letters main logo
@font-face {
    font-family: 'Fjalla one';
    src: url('../fonts/fjalla-one/FjallaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

$block_letter: 'Fjalla One', sans-serif;
