
$red: red;

$blue: #0082FF;
$light_blue: #4286f4;

$yellow: #f0d461;
$yellow_background: #fcf7e3;

$green: #4DD964;
$light_green: #82f061;
$green_background: #e3fce4;

$dark_gray: #666;
$gray: gray;
$light_gray: #999;

$input_border: #737373;
$input_border_light: #949494;

$black: black;
$white: white;

// for active items like clicked on etc
$theme_active: #d0656a;
