
$theme11: #000000;
$theme10: #001a00;
$theme9: #003300;
$theme8: #004d00;
$theme7: #006600;

$theme6: #008000;
$theme5: #009900;
$theme4: #00b300;
$theme3: #00cc00;
$theme2: #00e600;
$theme1: #00ff00;
