<title>Eureka: stbC-sfGFP</title>

    <h1>Eureka: stbC-sfGFP</h1>
        <p>
            Have been working on this for a little over a month. Finally managed to build it; stbC sfGFP tagged construction. I was too excited to wait to see if it worked. Thus I picked a sample from the Petri dish directly; this was the result:
        </p>
        <figure>
            <img src="/blog/entries/documents/stbcMicroscope/20181212_eurekaStbCGfp.png">
            <figcaption>12 December 2018, stbC protein tagged with sfGFP (<a aria-describedby="foot-label" href="#stbCsfGfp">N-ter/C-ter variants created</a>)</figcaption>
        </figure>
        <p>
            Visible by fluorescent microscopy are the individual cells. Note that a zoom should have been done in order to better view the cells. The fluorescence is obvious and present, however there are no foci visible. Although as noted previously a zoom should have been done to verify their absence.
        </p>

        <ol class="foot-notes">
            <div class="foot-notes-head">
                Footnotes:
            </div>
            <li id="stbCsfGfp">
                Not shown, to be published later.
            </li>
        </ol>