<title>On authority</title>

<h1>On authority</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1lNSXB4i4fE" frameborder=""
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    class="videosGeneral"></iframe>
<p>
    Had some interesting thoughts while watching this small documentary on fraud in the art world.
</p>
<p>
    Apparently forgeries are much more common than I ever knew. It puts all of my museum visit into perspective as I've
    always been in awe of everything that was presented to me; without questioning provenance or authenticity.
</p>
<p>
    It seems that more often than I had thought, museums will either knowingly or unknowingly present false pieces to
    the public.
</p>
<p>
    Lesson learned; do not trust any authority, and always question everything. This is what it means to be a scientist.
</p>
<p>
    There is however, a practical aspect that one must take into account. How much time and energy can one spend
    questioning everything. How much should one question? I would not want to "waste" my life trying to demonstrate the
    fundamentals of science before advancing.
</p>
<p>
    It seems that at some point, and at some level I will have to trust some authorities... which ones?
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
                    <a href="" target="_blank"></a>
                </li> -->
</ol>