<title>Favourite Animal: The Fox</title>

    <h1>Favourite Animal: The Fox</h1>
        <p>
            Found a <a aria-describedby="foot-label" href="#newFavAnimal">new favourite animal</a> today: the Red Fox.
        </p>
        <br>
        <figure>
            <video controls src="/blog/entries/documents/newFavouriteAnimal/20181219_fox.mov" type="video/mp4"></video>
            <figcaption>Jumping Fox, very cute. Observe the jump.</figcaption>
        </figure>

        <ol class="foot-notes">
            <div class="foot-notes-head">
                Footnotes:
            </div>
            <li id="newFavAnimal">
                Does not invalidate previous favourite animal: the Octopus.
            </li>
        </ol>