<title>The meaning of life</title>

<h1>The meaning of life</h1>
<p>
    I had an interesting conversation with Guy the other day. Maybe a few days ago from today. We were discussing death
    and fear of death. The interesting bit is when religion started to get involved into the discussion.
</p>
<p>
    We started by discussing things we've seen on the internet. He told me that the most repulsive thing he's ever seen
    on the internet was a woman with a very sensitive part of her body infested by maggots.
</p>
<p>
    After seeing the video I agreed that it was indeed repulsive.
</p>
<p>
    The interesting bit of the conversation came when I asked him if he was not afraid of death; I admitted to being so.
</p>
<p>
    Moreover, I referenced some violent videos on the internet, as I mentioned that violence provokes a strong emotional
    reaction in me.
</p>
<p>
    The insight was the following:
</p>
<blockquote>
    <p>
        There is no reason to be afraid of death whatsoever. No matter the system of belief.
    </p>
    <p>
        First let us define death as the cessation of existence. There are a two possibilities for what may come after
        death.
    </p>
    <ol>
        <li>
            There is no life after death, one simply ceases to exists and there is no more experience after death.
        </li>
        <li>
            There is life after death; moreover, entrance into this afterlife is dictated by ones moral behaviour during
            life.
        </li>
    </ol>
    <p>
        Now if one believes that there is nothing after life, then there is no need to fear death. It is inevitable. The
        cessation of existence is not fealt after death. Nothing which one thinks while alive matters after death. It is
        inevitable and not to be feared. This in fact might free one up from illogical thoughts and philosophies and
        thus allow one to engage in meaningful tasks during what short time we have being alive.
    </p>
    <p>
        If one does believe in life after death, then one simply need be good during life to ensure that one not suffer
        after death; to avoid hell.
    </p>
    <p>
        It really should be that simple. Nothing we do now matters, nor will it after death. So just live and do
        something meaningful now.
    </p>
    <p class="quoteAuthor">
        Guy
    </p>
</blockquote>
<p>
    This is of course me paraphrasing, and I've even added some ideas to the central thesis. This insight was mainly by
    Guy. As I did admit that I feared death.
</p>
<p>
    After further reflection I do not think I continue to fear my death. I will have to reflect further upon this.
</p>
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
                    <a href="" target="_blank"></a>
                </li> -->
</ol>