<h1>Ultra-Cool Dwarf: Trappist-1</h1>
	<p>
        Nasa has recently announced the discovery of seven Earth sized rocky planets orbiting a nearby star (40 light-years away from Earth). The discovery was made using the Spitzer space telescope and the system was named Trappist after the Belgian operated terrestrial telescope located in Chile who made the initial discovery of the first two planets. Not only have the seven planets been confirmed but it has been found that three reside in the “Goldilocks,” habitable zone.
    </p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bnKFaAS30X8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
	<p>
        Nasa has plans to further investigation on this system, in 2018 the space organisation will launch the James Webb telescope which could potentially help us find evidence of life.
    </p>
	<p>
        Nasa’s process for finding systems with Earth like planets is actually quite an interesting one and not that difficult to understand. There are two main things that must be studied, first and foremost the star around which the planets orbit. A star is the heart of any system and will illuminate the surrounding planets giving us clues on its orbiting neighbours.
    </p>
	<p>
        There are a few different ways to classify stars; Mass and temperature are taken into account when classifying any star. Trappist-1 has been classified as an ultra-cool dwarf star; Scientist know that the temperature of a star is closely correlated to its mass. So generally the bigger the hotter, the smaller the colder.
    </p>
	<p>
        <figure>
            <img src="/blog/entries/documents/trappist/orbitData.png">
            <figcaption>Seven temperate terrestrial planets around the nearby ultracool dwarf star trappist-1. Nature 542.7642 (2017)</figcaption>
        </figure>
        
        
    </p>
	<p>
        <figure>
            <img src="/blog/entries/documents/trappist/Hertzsprung-Russel_StarData.png">
            <figcaption>Hertzsprung-Russel StarData</figcaption>
        </figure>
    </p>
	<p>
        The Hertzsprung Russell Diagram shows us the general distribution of a star’s luminosity in function of its surface temperature. This gives us an indication of the star’s mass. Once we have some general information on the star we can start exploring the possibility of the presence of Earth like planets.
    </p>
	<p>
        Planets are detected based on how they affect the movement and luminosity of the star. As planets orbit around a star they tug on it causing a slight wobble in the star’s rotation, the bigger the wobble the larger the planet(s). As the planet(s) pass in front of the star they cause a slight dip in its luminosity, take a look at figure a and b from the Trappist-1 Publication. This periodic dip can be used to determine the planets orbit!
    </p>
	<p>
        Scientists have many ideas and approaches on how we could go about looking for life in space. There is of course the <a href="https://www.seti.org/" target="_blank">SETI Institute</a>. However, it’s more likely that if any life is found that it will be bacterial in nature. To determine if any life is present on a planet we must search for a “chemical fingerprint” as explained by Lisa Kaltenegger Harvard Astrophysicist in this <a href="https://www.pbslearningmedia.org/resource/nsn09.sci.ess.eiu.detectlife/detecting-life-on-other-planets/#.WLfKund7RYg" target="_blank">short video produced by PBS</a>. The top chemicals to look for in a fingerprint are:
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ugT_6PvkfrE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<ol>
		<li>
            CO<sub>2</sub> - Carbon
        </li>
		<li>
            H<sub>2</sub>O - Liquid Water
        </li>
		<li>
            CH<sub>4</sub> - Methane
        </li>
		<li>
            O<sub>3</sub> - Ozone
        </li>
	</ol>
	<p>
        To study the chemical composition of a planet we use the star light that is bounced off the planet and the light that is emitted by the excited chemicals present in its atmosphere. This identity card is then used to evaluate the target planets and determine the likely hood of life-like activity on their surface. We know that photosynthetic life on Earth prefers to fix Carbon 12 instead of Carbon 13 and this causes a disproportion between the two isotopes. If this disparity in isotopes were to be found there would be strong evidence photsynthetic for life!
    </p>
	<p>
        Carl Sagan established some basic criteria on detecting extra-terrestrial life and the opportunity to test them in the 90’s was had. As the <a href="https://www.nasa.gov/vision/universe/solarsystem/galileo_final.html" target="_blank">Galileo Spacecraft</a> neared the end of its life it was used to observe the Earth for one last time, the following was <a href="https://www.eurekalert.org/pub_releases/1999-05/NSFC-TSCF-210599.php" target="_blank">found</a>:
    </p>
    <blockquote>
        <ol>
            <li>
                "strong absorption of light at the red end of the visible spectrum, particularly over the continents. The light-absorbing pigment that causes this is chlorophyll, a molecule essential to plant life and photosynthesis. (Plants appear green because chlorophyll reflects green light and absorbs red and blues.)"
            </li>
            <li>
                "spectral absorption features caused by molecular oxygen in Earth's atmosphere. The amount of O2 in our atmosphere is many orders of magnitude greater than is found on any other planet in the Solar System. An oxygen-rich atmosphere is a curiosity because oxygen slowly combines with rocks on the earth's surface. Maintaining the oxygen content requires some replenishing mechanism, in this case photosynthesis by plants -- the action of life."
            </li>
            <li>
                "infrared spectral lines caused by methane in the atmosphere. Although the amount of methane Galileo saw was miniscule -- about 1 part per million -- it is still important. In a oxygen-rich atmosphere like Earth's, methane should rapidly oxidize into water and CO2. Not a single molecule of methane would remain in equilibrium. Biological action such as bacterial metabolism in bogs replenishes the supply."
            </li>
            <li>
                "modulated narrowband radio transmissions. These emissions look nothing like natural sources of radio waves like lightning and plasma instabilities in Earth's magnetosphere. They are clear signs of a technological civilization."
            </li>
        </ol>
    </blockquote>

	<p>
        When compared to the Moon Earth showed definite signs of life. Let’s wait and see what the James Webb telescope digs up for us next year!
    </p>

    <h2>Extras</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/R6_dZhE-4bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/5HZsFMqqGJo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <ol class="foot-notes">
        <div class="foot-notes-head">
            Footnotes:
        </div>
        <li>
            <a href="http://www.nature.com/nature/journal/v542/n7642/full/nature21360.html" rel="noopener" target="_blank">Nature - Seven temperate terrestrial planets around the nearby ultracool dwarf star TRAPPIST-1</a> Gillon <em>et al.</em> Nature 542.7642 (2017): 456-60. Web. 07 Mar. 2017.
        </li>
        <li>
            <a href="https://www.pbslearningmedia.org/resource/nsn09.sci.ess.eiu.detectlife/detecting-life-on-other-planets/#.WLfKund7RYg" rel="noopener" target="_blank">PBS - Exobiology</a>
        </li>
        <li>
            <a href="https://www.nasa.gov/press-release/nasa-telescope-reveals-largest-batch-of-earth-size-habitable-zone-planets-around" rel="noopener" target="_blank">Nasa Press Release – Trappist-1</a>
        </li>
        <li>
            <a href="https://www.nasa.gov/vision/universe/solarsystem/galileo_final.html" rel="noopener" target="_blank">Galileo Spacecraft</a>
        </li>
    </ol>