<h1>Earth BioGenome Project</h1>
<p>
    BioGenomics 2017, a meeting of conservationist, evolutionary biologist, systematists and more, took place at the Smithsonian Museum this year. February 23rd the Smithsonian Initiative on Biodiversity Genomics, and BGI a company based in Shenzhen China along with a small group of researchers announced a hugely ambitious project: Sequence all eukaryotic life on Earth, the Earth BioGenome Project (EBP).
</p>
<p>
    The Human Genome Project gave rise to a new era in genetics and biology. Today there are projects to sequence the population of <a href="http://www.inserm.fr/actualites/rubriques/actualites-evenements/plan-france-medecine-genomique-2025" target="_blank">France</a>, <a href="http://labiotech.eu/genomics-medicine-ireland-sequence-genome/" target="_blank">Ireland</a>, <a href="http://www.nature.com/ng/journal/v47/n5/full/ng.3247.html" target="_blank">Iceland</a>, the <a href="http://www.sciencemag.org/news/2006/08/thumbs-uk-biobank" target="_blank">UK Bio Bank</a> and even one dedicated to sequencing any and all fungi they can get their hands on <a href="http://genome.jgi.doe.gov/programs/fungi/index.jsf" target="_blank">MycoCosm</a>. However, nothing has been quiet as ambitious or daring as this announcement since the Human Genome Project was completed in 2003.
</p>

<p>
    EBP estimated at $2.7 billion by Lewin Robinson and EBP co-organiser John Kress (evolutionary biologist at the Smithsonian Museum of Natural History) is set to be just as costly as the Human Genome Project which was completed at around $4.8 billion (adjusted for inflation).
</p>
<p>
Coincidently the project has yet to find funding although it has already found interest and support amongst many scientist. The project will firstly focus on eukaryotes and then move onto other organisms. This seemingly impossible task can be broken down into three relatively straight forward steps.
</p>

<h1>Sequencing, How It Works</h1>
<ol>
    <li>
        Sequence in detail and at high resolution the DNA of a member of each eukaryotic family. This would create a reference library. There are about 9000 of these total in eukaryota.
    </li>
    <li>
        Sequence at a lower resolution and a faster speed one species from each of the 150,000 to 200,000 genera of each of the sequenced families.
    </li>
 	<li>
        Obtain the data for the 1.5 million known eukaryotic species. These genomes would be improved need be by referencing and or resequencing.
    </li>
</ol>

<p>
The project might seem fantastical to some, but it’s not science fiction. One simply has to look at the cost of genome sequencing per year to realise that were getting closer to a world where doctors might routinely sequence your genome. It may become as routine as an MRI scan. The <a href="http://www.nature.com/nature/journal/v409/n6822/full/409860a0.html" target="_blank">cost for a human genome</a> has gone down from the billions in 2001 to around $10,000 in 2011. Projects such as the $1000 Genome are pushing innovation and the cost of sequencing keeps falling and falling.
</p>

    <figure>
        <img src="/blog/entries/documents/biogenomeProject/sequencingCost.png">
        <figcaption>Hayden, erika check. "technology: The $1,000 genome." Nature 507.7492 (2014)</figcaption>
    </figure>


<p>
    Illumina was born from the 2003 project and became the go to method for genome sequencing in biology today. It’s quick, relatively easy and relatively cheap. However Sanger’s method still remains the gold standard when it comes to fidelity and resolution. Many hope that this new project will disrupt current technologies and push forward innovation and new technologies.
</p>
<h3>For more information on Illumina sequencing:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fCd6B5HRaZ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
The multibillion dollar project may find it hard to get funding but it’s already got support and a bit of a head start. In fact the project could become a sort of meta-project which would unite the data and discoveries of the many dispersed groups that exist today.
</p>
    <ol>
        <li>
            Genome 10K Project, Goal To sequence 10,000 vertebrate genomes from each genus.
        </li>

        <li>
            i5K, Goal: To sequence 5000 arthropods.
        </li>

        <li>
            B10K, Goal: To sequence genomes for all 10,500 bird species.
        </li>
    </ol>
    <p>
        There are many problems these scientists will face and the need for communication and standardisation between all groups will be vital to success. Data compatibility, quality of genome sequences, information on phenotypes, and collection points for organisms will all have to be collected, ensured and organised. In fact one of the biggest challenges for the project might be simply getting samples of high quality DNA from organisms in the field.
    </p>

<p>
    Even if all of these problems are solved, funding is found and data is collected it seems that the last and final problem we will face is making sense of all of the data we get! Remember <a href="http://blogs.nature.com/news/2014/05/global-scientific-output-doubles-every-nine-years.html" target="_blank">Scientific output doubles every nine years</a>, and we don’t know what to do with it!
</p>

<ol class="foot-notes">
        <div class="foot-notes-head">
            Footnotes:
        </div>
        <li>
            Nature 409, 860-921 (15 February 2001) | doi:10.1038/35057062; Received 7 December 2000; Accepted 9 January 2001 - ArticleInitial sequencing and analysis of the human genome.
        </li>
        <li>
            Hayden, Erika Check. "Technology: The $1,000 Genome." Nature 507.7492 (2014): 294-95. Web. 03 Mar. 2017.
        </li>
    </ol>