<title>An Introduction to DigiByte</title>
<h1>An Introduction to DigiByte</h1>

<h2>What are cryptocurrencies?</h2>
<p>
    Cryptocurrencies are peer to peer technology protocols which rely on the block-chain; a system of decentralized
    record keeping which allows people to exchange unmodifiable and indestructible information “coins,” globally in
    little to no time with little to no fees - this translates into the exchange of value as these coins cannot be
    counterfeit nor stolen. This concept was started by Satoshi Nakamoto (allegedly a pseudonym for a single man or
    organization) whom described and coded Bitcoin in 2009.
</p>
<h2>What is DigiByte?</h2>
<p>
    DigiByte (DGB) is a cryptocurrency like Bitcoin. It is also a decentralized applications protocol in a similar
    fashion to Neo or Ethereum.
</p>
<p>
    DigiByte was founded and created by Jared Tate in 2014. DigiByte allows for fast (virtually instant) and low cost
    (virtually free) transactions. DigiByte is hard capped at 21 billion coins which will ever be mined, over a period
    of 21 years. DigiByte was never an ICO and was mined/created in the same way that Bitcoin or Litecoin initially
    were.
</p>
<p>
    DigiByte is the fastest UTXO PoW scalable block-chain in the world. We’ll cover what this really means down below.
</p>
<p>
    DigiByte has put forth and applied solutions to many of the problems that have plagued Bitcoin and cryptocurrencies
    in general - those being:
</p>
<ul>
    <li>
		Maintaining decentralisation.
	</li>
    <li>
		Maintaining low fees.
	</li>
    <li>
		Maintaining fast transaction times.
	</li>
    <li>
		Maintaining robust security + the immutable ledger.
	</li>
    <li>
		And most importantly assuring massive scalability on chain.
	</li>
</ul>
<p>
    We will address these point by point in the subsequent sections.
</p>
<h2>The DigiByte Protocol</h2>
<p>
    DigiByte maintains these properties through use of various technological innovations which we will briefly address
    below.
</p>
<h3>Why so many coins? 21 Billion</h3>
<p>
    When initially conceived Bitcoin was the first of a kind! And came into the hands of a few! The beginnings of a coin
    such as Bitcoin were difficult, it had to go through a lot of initial growth pains which following coins did not
    have to face. It is for this reason among others why I believe Bitcoin was capped at 21 million; and why today it
    has thus secured a place as digital gold.
</p>
<p>
    When Bitcoin was first invented no one knew anything about cryptocurrencies, for the inventor to get them out to the
    public he would have to give them away. This is how the first Bitcoins were probably passed on, for free! But then
    as interest grew so did the community. For them to be able to build something and create something which could go on
    to have actual value, it would have to go through a steady growth phase. Therefore, the control of inflation through
    mining was extremely important. Also, why the cap for Bitcoin was probably set so low - to allow these coins to
    amass value without being destroyed by inflation (from mining) in the same way fiat is today! In my mind Satoshi
    Nakamoto knew what he was doing when setting it at 21 million BTC and must have known and even anticipated others
    would take his design and build on top of it.
</p>
<p>
    At DigiByte, we are that better design and capped at 21 billion. That's 1000 times larger than the supply of
    Bitcoin. Why though? Why is the cap on DigiByte so much higher than that of Bitcoin? Because DigiByte was conceived
    to be used not as a digital gold, nor as any sort of commodity, but as a real currency!
</p>
<p>
    Today on planet Earth, we are approximately 7.6 billion people. If each person should want or need to use and live
    off Bitcoin; then equally split at best each person could only own 0.00276315789 BTC. The market cap for all the
    money on the whole planet today is estimated to have recently passed 80 trillion dollars. That means that each whole
    unit of Bitcoin would be worth approximately $3,809,523.81!
</p>
<blockquote>
    <em>$3,809,523.81</em>
</blockquote>
<p>
    This is of course in an extreme case where everyone used Bitcoin for everything. But even in a more conservative
    scenario the fact remains that with such a low supply each unit of a Bitcoin would become absurdly expensive if not
    inaccessible to most. Imagine trying to buy anything under a dollar!
</p>
<p>
    Not only would using Bitcoin as an everyday currency be a logistical nightmare but it would be nigh impossible. For
    each Satoshi of a Bitcoin would be worth much, much, more than what is realistically manageable.
</p>
<p>
    This is where DigiByte comes in and where it shines. DigiByte aims to be used world-wide as an international
    currency! Not to be hoarded in the same way Bitcoin is. If we were to do some of the same calculations with DigiByte
    we'd find that the numbers are a lot more reasonable.
</p>
<p>
    At 7.6 billion people, each person could own 2.76315789474 DGB. Each whole unit of DGB would be worth approximately
    $3,809.52.
</p>
<blockquote>
    <em>$3,809.52</em>
</blockquote>
<p>
    This is much more manageable and remember in an extreme case where everyone used DigiByte for everything! I don't
    expect this to happen anytime soon, but with the supply of DigiByte it would allow us to live and transact in a much
    more realistic and fluid fashion. Without having to divide large numbers on our phone's calculator to understand how
    much we owe for that cup of coffee! With DigiByte it's simple, coffee cost 1.5 DGB, the cinema 2.8 DGB, a plane
    ticket 500 DGB!
</p>
<blockquote>
    <em>There is a reason for DigiByte's large supply, and it is a good one!</em>
</blockquote>
<h3>Decentralisation</h3>
<p>
    Decentralisation is an important concept for the block-chain and cryptocurrencies in general. This allows for a
    system which cannot be controlled nor manipulated no matter how large the organization in play or their intentions.
    DigiByte’s chain remains out of the reach of even the most powerful government. This allows for people to transact
    freely and openly without fear of censorship.
</p>
<p>
    Decentralisation on the DigiByte block-chain is assured by having an accessible and fair mining protocol in place -
    this is the multi-algorithm (MultiAlgo) approach. We believe that all should have access to DigiByte whether through
    purchase or by mining. Therefore, DigiByte is minable not only on dedicated mining hardware such as Antminers, but
    also through use of conventional graphics cards. The multi-algorithm approach allows for users to mine on a variety
    of hardware types through use of one of the 5 mining algorithms supported by DigiByte. Those being:
</p>
<ul>
    <li>
		Scrypt
	</li>
    <li>
		SHA256
	</li>
    <li>
		Qubit
	</li>
    <li>
		Skein
	</li>
    <li>
		Groestl
	</li>
</ul>
<p>
    Please note that these mining algorithms are modified and updated from time to time to assure complete
    decentralisation and thus ultimate security.
</p>
<p>
    The problem with using only one mining algorithm such as Bitcoin or Litecoin do is that this allows for people to
    continually amass mining hardware and hash power. The more hash power one has, the more one can collect more. This
    leads to a cycle of centralisation and the creation of mining centres. It is known that a massive portion of all
    hash power in Bitcoin comes from China. This kind of centralisation is a natural tendency as it is cheaper for large
    organisations to set up in countries with inexpensive electricity and other such advantages which may be unavailable
    to the average miner.
</p>
<p>
    DigiByte mitigates this problem with the use of multiple algorithms. It allows for miners with many different kinds
    of hardware to mine the same coin on an even playing field. Mining difficulty is set relative to the mining
    algorithm used. This allows for those with dedicated mining rigs to mine alongside those with more modest machines -
    and all secure the DigiByte chain while maintaining decentralisation.
</p>
<h3>Low Fees</h3>
<p>
    Low fees are maintained in DigiByte thanks to the MultiAlgo approach working in conjunction with MultiShield
    (originally known as DigiShield). MultiShield calls for block difficulty readjustment between every single block on
    the chain; currently blocks last 15 seconds. This continuous difficulty readjustment allows us to combat any bad
    actors which may wish to manipulate the DigiByte chain.
</p>
<p>
    Manipulation may be done by a large pool or a single entity with a great amount of hash power mining blocks on the
    chain; thus, increasing the difficulty of the chain. In some coins such as Bitcoin or Litecoin difficulty is
    readjusted every 2016 blocks at approximately 10mins each and 2mins respectively. Meaning that Bitcoin’s difficulty
    is readjusted about every two weeks. This system can allow for large bad actors to mine a coin and then abandon it,
    leaving it with a difficulty level far too high for the present hash rate - and so transactions can be frozen, and
    the chain stopped until there is a difficulty readjustment and or enough hash power to mine the chain. In such a
    case users may be faced with a choice - pay exorbitant fees or have their transactions frozen. In an extreme case
    the whole chain could be frozen completely for extended periods of time.
</p>
<p>
    DigiByte does not face this problem as its difficulty is readjusted per block every 15 seconds. This innovation was
    a technological breakthrough and was adopted by several other coins in the cryptocurrency environment such as
    Dogecoin, Z-Cash, Ubiq, Monacoin, and Bitcoin Gold.
</p>
<p>
    This difficulty readjustment along with the MultiAlgo approach allows DigiByte to maintain the lowest fees of any
    UTXO - PoW - chain in the world. Currently fees on the DigiByte block-chain are at about 0.0001 DGB per transaction
    of 100 000 DGB sent. This depends on the amount sent and currently 100 000 DGB are worth around $2000.00 with the
    fee being less than 0.000002 cents. It would take 500 000 transactions of 100 000 DGB to equal 1 penny’s worth. This
    was tested on a Ledger Nano S set to the low fees setting.
</p>
<h3>Fast transaction times</h3>
<p>
    Fast transactions are ensured by the conjunctive use of the two aforementioned technology protocols. The use of
    MultiShield and MultiAlgo allows the mining of the DigiByte chain to always be profitable and thus there is always
    someone mining your transactions. MultiAlgo allows there to a greater amount of hash power spread world-wide, this
    along with 15 second block times allows for transactions to be near instantaneous. This speed is also ensured by the
    use DigiSpeed. DigiSpeed is the protocol by which the DigiByte chain will decrease block timing gradually. Initially
    DigiByte started with 30 second block times in 2014; which today are set at 15 seconds. This decrease will allow for
    ever faster and ever more transactions per block.
</p>
<h3>Robust security + The Immutable Ledger</h3>
<p>
    At the core of cryptocurrency security is decentralisation. As stated before decentralisation is ensured on the
    DigiByte block chain by use of the MultiAlgo approach. Each algorithm in the MultiAlgo approach of DigiByte is only
    allowed about 20% of all new blocks. This in conjunction with MultiShield allows for DigiByte to be the most secure,
    most reliable, and fastest UTXO block chain on the planet. This means that DigiByte is a proof of work (PoW)
    block-chain where all transactional activities are stored on the immutable public ledger world-wide. In DigiByte
    there is no need for the Lightning protocol (although we have it) nor sidechains to scale, and thus we get to keep
    PoW’s security.
</p>
<p>
    There are many great debates as to the robustness or cleanliness of PoW. The fact remains that PoW block-chains
    remain the only systems in human history which have never been hacked and thus their security is maximal.
</p>
<p>
    For an attacker to divert the DigiByte chain they would need to control over 93% of all the hashrate on one
    algorithm and 51% of the other four. And so DigiByte is immune to the infamous 51% attack to which Bitcoin and
    Litecoin are vulnerable.
</p>
<p>
    Moreover, the DigiByte block-chain is currently spread over 200 000 plus servers, computers, phones, and other
    machines world-wide. The fact is that DigiByte is one of the easiest to mine coins there is - this is greatly aided
    by the recent release of the one click miner. This allows for ever greater decentralisation which in turn assures
    that there is no single point of failure and the chain is thus virtually un-attackable.
</p>
<h3>On Chain Scalability</h3>
<p>
    The biggest barrier for block-chains today is scalability. Visa the credit card company can handle around 2000
    transactions per second (TPS) today. This allows them to ensure customer security and transactional rates
    nation-wide. Bitcoin currently sits at around 7 TPS and Litecoin at 28 TPS (56 TPS with SegWit). All the
    technological innovations I’ve mentioned above come together to allow for DigiByte to be the fastest PoW block-chain
    in the world and the most scalable.
</p>
<p>
    DigiByte is scalable because of DigiSpeed, the protocol through which block times are decreased and block sizes are
    increased. It is known that a simple increase in block size can increase the TPS of any block-chain, such is the
    case with Bitcoin Cash. This is however not scalable. The reason a simple increase in block size is not scalable is
    because it would eventually lead to some if not a great amount of centralization. This centralization occurs because
    larger block sizes mean that storage costs and thus hardware cost for miners increases. This increase along with
    full blocks - meaning many transactions occurring on the chain - will inevitably bar out the average miner after
    difficulty increases and mining centres consolidate.
</p>
<p>
    Hardware cost, and storage costs decrease over time following Moore’s law and DigiByte adheres to it perfectly.
    DigiSpeed calls for the increase in block sizes and decrease in block timing every two years by a factor of two.
    This means that originally DigiByte’s block sizes were 1 MB at 30 seconds each at inception in 2014. In 2016
    DigiByte increased block size by two and decreased block timing by the same factor. Perfectly following Moore’s law.
    Moore’s law dictates that in general hardware increases in power by a factor of two while halving in cost every
    year.
</p>
<p>
    This would allow for DigiByte to scale at a steady rate and for people to adopt new hardware at an equally steady
    rate and reasonable expense. Thus so, the average miner can continue to mine DigiByte on his algorithm of choice
    with entry level hardware.
</p>
<p>
    DigiByte was one of the first block chains to adopt segregated witness (SegWit in 2017) a protocol whereby a part of
    transactional data is removed and stored elsewhere to decrease transaction data weight and thus increase scalability
    and speed. This allows us to fit more transactions per block which does not increase in size!
</p>
<p>
    DigiByte currently sits at 560 TPS and could scale to over 280 000 TPS by 2035. This dwarfs any of the TPS
    capacities; even projected/possible capacities of some coins and even private companies. In essence DigiByte could
    scale worldwide today and still be reliable and robust. DigiByte could even handle the cumulative transactions of
    all the top 50 coins in coinmarketcap.com and still run smoothly and below capacity. In fact, to max out DigiByte’s
    actual maximum capacity (today at 560 TPS) you would have to take all these transactions and multiply them by a
    factor of 10!
</p>
<h2>Oher Uses for DigiByte</h2>
<p>
    Note that DigiByte is not only to be used as a currency. Its immense robustness, security and scalability make it
    ideal for building decentralised applications (DAPPS) which it can host. DigiByte can in fact host DAPPS and even
    centralised versions which rely on the chain which are known as Digi-Apps. This application layer is also
    accompanied by a smart contract layer.
</p>
<p>
    Thus, DigiByte could host several Crypto Kitties games and more without freezing out or increasing transaction costs
    for the end user.
</p>
<p>
    Currently there are various DAPPS being built on the DigiByte block-chain, these are done independently of the
    DigiByte core team. These companies are simply using the DigiByte block-chain as a utility much in the same way one
    uses a road to get to work. One such example is Loly - a Tinderesque consensual dating application.
</p>
<p>
    DigiByte also hosts a variety of other platform projects such as the following:
</p>
<ul>
    <li>
		DigiPay: A jQuery online payment protocol portal web plugin.
	</li>
    <li>
		DigiByte DigiHash: The official DigiByte foundation mining pool.
	</li>
    <li>
		DigiByte Digi-ID: A platform for identity verification to be used in <em>lieu</em> of two factor authentication and passwords.
	</li>
    <li>
		DigiByte Playground: An interactive Javascript sandbox for developers.
	</li>
    <li>
		DigiByte Emma AI: A DigiByte interactive artificial intelligence assistant.
	</li>
    <li>
		DigiByte DigiMan: A web browser plugin to be used as a security layer two protocol.
	</li>
    <li>
		DigiByte DigiSeeder: A background seeding service which assures all wallets quickly find other peers in the network.
	</li>
    <li>
		DigiByte DigiMessenger: A ground-breaking messaging application built on top of DigiByte which features robust and virtually unbreakable encryption.
	</li>
    <li>
		DigiByte OneClickMiner: An easy to set up application which allows users to quickly start mining DigiByte on their home machines.
	</li>
    <li>
		DigiByte DigiBot: A telegram bot for users to interact with DigiByte and more.
	</li>
</ul>
<h2>The DigiByte Foundation</h2>
<p>
    As previously mentioned DigiByte was not an ICO. The DigiByte foundation was established in 2017 by founder Jared
    Tate. Its purpose is as a non-profit organization dedicated to supporting and developing the DigiByte block-chain.
</p>
<p>
    DigiByte is a community effort and a community coin, to be treated as a public resource as water or air. Know that
    anyone can work on DigiByte, anyone can create, and do as they wish. It is a permissionless system which encourages
    innovation and creation. If you have an idea and or would like to get help on your project do not hesitate to
    contact the DigiByte foundation either through the official website and or the telegram developer’s channel.
</p>
<p>
    For this reason, it is ever more important to note that the DigiByte foundation cannot exist without public support.
    And so, this is the reason I encourage all to donate to the foundation. All funds are used for the maintenance of
    DigiByte servers, marketing, and DigiByte development.
</p>
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>

    <li>
        Orignally posted on <a href="https://www.reddit.com/r/Digibyte/comments/88mz97/an_introduction_to_digibyte/">Reddit/r/digibyte</a>
    </li>

    <h3>DigiByte</h3>

    <ul>
        <li>
            <a href="DigiByte.io">DigiByte.io</a>
        </li>
            <li>
            <a href="DigiByteFoundation.org">DigiByteFoundation.org</a>
        </li>
            <li>
            <a href="DigiExplorer.info">DigiExplorer.info</a>
        </li>
            <li>
            <a href="DigiHash.co">DigiHash.co</a>
        </li>
            <li>
            <a href="DigiByteNetwork.com">DigiByteNetwork.com</a>
        </li>
    </ul>

    <h3>Wallets</h3>

    <ul>
        <li>
            Windows Wallet
        </li>
            <li>
            OS X Wallet
        </li>
            <li>
            DigiByte Go
        </li>
            <li>
            Android Wallet
        </li>
            <li>
            iOS Wallet
        </li>
            <li>
            Rasberry Pi Wallet
        </li>
            <li>
            Trezor Hardware
        </li>
            <li>
            Ledger Hardware Wallet
        </li>
            <li>
            Exodus wallets: mobile and desktop
        </li>
        <li>
		    Jaxx Wallet
	    </li>
    </ul>

    <h3>Explorers</h3>

    <ul>
        <li>
            <a href="DigiExplorer.info">DigiExplorer.info</a>
        </li>
        <li>
            <a href="chainz.cryptoid.info/DGB">chainz.cryptoid.info/DGB</a>
        </li>
    </ul>

    <p>
        Please refer to the sidebar of this sub-reddit for more resources and information.
    </p>

    <ul>
        <li>
            Edit: Removed Jaxx wallet.
        </li>
            <li>
            Edit: A new section was added to the article: <em>Why so many coins? 21 Billion</em>
        </li>
            <li>
            Edit: Adjusted max capacity of DGB's TPS - Note it's actually larger than I initially calculated.
        </li>
            <li>
            Edit: Grammar and format readjustment
        </li>
            <li>
            Edit: Added new wallets 20/08/19.
        </li>
    </ul>
</ol>