<title>Hierarchy in art</title>
<h1>Hierarchy in art</h1>
<p>
    Yesterday I learned something interesting regarding art history. I found this video by Coffee Break, a new Youtube
    channel I've started watching recently.
</p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/T_ke-MOT1mI" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    He has some very interesting content regarding many topics I enjoy, such as art, politics, economics and even
    technology.
</p>
<p>
    Anyway, this video he made about the history of art was quite interesting. He went over the birth of what most
    people now associate to modern art; abstract art.
</p>
<p>
    For many years I've ripped on modern art. To me it's just difficult to grasp the idea that this abstract art, has
    any value to it. I need there to be some technical skills behind art in order to appreciate it.
</p>
<p>
    He explained how this exact idea, that the value of art should come from it's difficulty and mastery of technical
    skills, was actually the metric before the invention of modern art; more specifically before the invention of modern
    photography.
</p>
<p>
    Before this time, there was a specific metric to which art was held, it was known as the hierarchy of art. The
    French academy of art, if I remember correctly, created this hierarchy around the 1700s in order to classify art and
    I suppose to help people situate the monetary value of different pieces relative to others.
</p>
<p>
    Here is a chart that was presented in the video. I've remade it for fun in Affinity Designer. That programme's
    turned out to be quite the deal. I've found that I can use it everywhere.
</p>
<figure class="invertImageColours">
    <img src="/blog/entries/documents/hierarchyInArt/20181127_hierarchyOfArt.svg" id="20181124_blog"
        class="imagesThirdSize">
    <figcaption>The classification of art by merit.</figcaption>
</figure>
<p>
    So this chart above shows the hierarchy presented in the video. As you can see there is art representing history at
    the top and still-lifes at the bottom. In between we find, portaits, genre, and landscape & animal art.
</p>
<p>
    The general idea is that art representing people is more difficult. I suppose this idea makes sense, if you take
    into consideration 3D animation today and how difficult it is to avoit the uncanny valley; you could understand that
    this hierarchy would take representing people into consideration.
</p>
<p>
    As a whole this video simply helped me to reinforce my beliefs that art should be considered based on technical
    skills. For me this kind of art still holds the most value. Although I can see why one would want to take into
    consideration breaking away from the norm and constraints put in place by academics.
</p>
<p>
    I think that I've become more open to the idea that art could be abstract and still be considered to have merit.
    Altough for me, I would skill place anything that requires technical skill above that which does not. I think that
    the most interesting kind of art to me from now on would be that which requires technical prowess but breaks away
    from convention.
</p>
<p>
    Also by the way, remember that hierarchy is spelled as it sounds: <strong>HI - ER - ARCH - Y</strong>!
</p>
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
                    <a href="" target="_blank"></a>
                </li> -->
</ol>