<title>Fun with geometry</title>
<h1>Fun with geometry</h1>
<p>
    Here is a fun problem. It is a geometrical problem, and the goal is to prove that the area of A is equal to the area
    of B.
</p>
<br>
<figure class="invertImageColours">
    <img src="/blog/entries/documents/geometry/20181124_geometryCirclesArea.svg" id="20181124_blog">
    <figcaption>Drawing of geometric problem.</figcaption>
</figure>

<p>
    The parameters of the problem are simple; the largest external curve is a quarter circle, the two inner curves are
    quarter circles, they are all considered perfect circles.
</p>
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
            <a href="" target="_blank"></a>
        </li> -->
</ol>