<title>Systems and Synthetic Biology courses</title>
<h1>System and Synthetic Biology courses</h1>
<div class="courseInfo">
    <div class="articleData">
        11 December 2019
    </div>
    <div class="articleData">
        Université Paris-Saclay
    </div>
</div>
<p>
    This is the master's degree I am currently attending, I just want to document the courses and their descriptions. This is a post purely for historical reference. Also I like to show off how cool my degree is...
</p>
<p>
    The numbers associated for each course have been removed so I am archiving them here.
</p>
<div class="entry-content">
    <h3><strong>1st SEMESTER (September to January)</strong></h3>
    <p id="wikitext">Students must attend three compulsory modules and three elective modules chosen among six, for a total of 30 European Credits (ECTS).&nbsp;The courses proposed in each module are described bellow.</p>
    <div></div>
    <ul>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE0: Refresher Courses (0 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE101 Introduction to biology</li>
                <li>UE102 Introduction to mathematics and computer science for biology</li>
            </ul><span class="maybe-remove">optional</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE1: Foreign Language&nbsp;(2 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE111 Language 1: English</li>
                <li>UE112 Language 2: French for non-native speakers</li>
            </ul><span class="maybe-remove">compulsory</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE2: Synthetic Biology Practical Course&nbsp;(5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE121 Synthetic biology practical course</li>
            </ul><span class="maybe-remove">compulsory</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE3: Synthetic Biology&nbsp;(8 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE131 Genomic applications in environmental biotechnology</li>
                <li>UE132 Conception, construction and characterization of biological parts and devices</li>
                <li>UE133 Metabolic engineering</li>
                <li>UE134 Biosafety and ethical questions of synthetic biology</li>
            </ul><span class="maybe-remove">compulsory</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE4: Cell Factory Optimisation (5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE141 Cell factory optimisation</li>
            </ul><span class="maybe-remove">elective</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE5: Mathematics for Systems Biology&nbsp;(5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE151 Statistical analysis of biological sequences and gene expression (2.5 ECTS)</li>
                <li>UE152 Statistical learning of biological networks (2.5 ECTS)</li>
            </ul><span class="maybe-remove">elective</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE6: Languages and Methods for Systems and Synthetic Biology&nbsp;(5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE161 Formal methods applied to biological system engineering and modeling (2.5 ECTS)</li>
                <li>UE162 Test applied to biological objects (2.5 ECTS)</li>
            </ul><span class="maybe-remove">elective</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE7: Nanobiology and Nanotechnology&nbsp;(5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE171 Nanobiology (2.5 ECTS)</li>
                <li>UE172 Chips for molecular evolution (2.5 ECTS)</li>
            </ul><span class="maybe-remove">elective</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE8: Rational Protein Design&nbsp;(5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE181 Computational protein design (2.5 ECTS)</li>
                <li>UE182 Practical course on rational protein design (2.5 ECTS)</li>
            </ul><span class="maybe-remove">elective</span>
        </li>
        <li>
            <span class="maybe-remove"><span class="maybe-remove"><strong>UE9: Eucaryotic Cells Engineering&nbsp;(5 ECTS)</strong></span></span>
            <p></p>
            <ul>
                <li>UE191 Eucaryotic cells engineering</li>
            </ul><span class="maybe-remove">elective</span>
        </li>
    </ul>
    <div class="indent">
        <strong>Seminars:</strong>
    </div>
    <div class="indent">
        This program is enriched by a seminar series given by international speakers from the academy and from the industry. Students may be involved in shaping this series.
    </div>
    <div></div>
    <div></div>
    <p><span id="more-539"></span></p>
    <h3><strong>1st SEMESTER (September to January) course description</strong></h3>
    <p>&nbsp;</p>
    <dl>
        <dt><strong>UE101 Introduction to biology</strong></dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        To facilitate research at the common borders, an advanced Introduction aims at fostering a better understanding of the expectations, constraints, approaches and mode of thinking of a scientific partner across disciplines. All the important and recent subdisciplines of biology will be covered.
    </div>
    <div id="_mcePaste">
        Within a week, an advanced introduction brings participant scientists belonging to a modeling community to some understanding of the research frontiers in the target discipline, here the biological sciences. To reach this goal, key objects and concepts of the target domain, explain the current research questions and methods will be presented.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        Integrated Plenary Course – Tutorials:
    </div>
    <div id="_mcePaste">
        * Molecular Biology
    </div>
    <div id="_mcePaste">
        * Genomics
    </div>
    <div id="_mcePaste">
        * Systems Biology
    </div>
    <div id="_mcePaste">
        * Synthetic Biology
    </div>
    <div id="_mcePaste">
        * Structural Biology
    </div>
    <div id="_mcePaste">
        * Evolution
    </div>
    <div id="_mcePaste">
        * Cell Biology
    </div>
    <div id="_mcePaste">
        * Bioinformatics
    </div>
    <div id="_mcePaste">
        * Developmental Biology
    </div>
    <div id="_mcePaste">
        Practical course:
    </div>
    <div id="_mcePaste">
        * Presentation of the laboratory and of the Good Laboratory Practice
    </div>
    <div id="_mcePaste">
        *&nbsp;Discover the key Molecular Biology and Biochemistry tools and techniques used daily in biology laboratories.
    </div>
    <div>
        <span class="maybe-remove">Course organization:</span>
    </div>
    <div id="_mcePaste">
        32h Integrated Plenary Course – Tutorials + 8h&nbsp;Practical course
    </div>
    <div></div>
    <div></div>
    <dl>
        <dt></dt>
        <dt>UE102 Introduction to mathematics and computer science for biology</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        This course will present basic computational and mathematical skills needed for system biology and biological network inference and modeling.
    </div>
    <div id="_mcePaste">
        * Enable students to understand the elements of more sophisticated mathematics encountered in other modules.
    </div>
    <div id="_mcePaste">
        * Introduction to discrete modeling and the use of formal mathematical structures to represent problems.
    </div>
    <div id="_mcePaste">
        *&nbsp;Provide an introductory look at concepts and techniques in the field of data mining.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Probability-Statistics:&nbsp;Descriptive statistics,&nbsp;Probability, random variables, common laws,&nbsp;Probabilistic modeling, estimation,&nbsp;Tests
    </div>
    <div id="_mcePaste">
        * Linear Algebra:&nbsp;Matrices,&nbsp;Rank, linear systems of equations,&nbsp;Eigenvalues and eigenvectors, diagonalization,&nbsp;Principal component analysis
    </div>
    <div id="_mcePaste">
        * Machine Learning:&nbsp;Supervised learning,&nbsp;Unsupervised learning,&nbsp;Evolutionary algorithms
    </div>
    <div id="_mcePaste">
        * Modeling (regular languages):&nbsp;Regular expressions,&nbsp;Finite automata,&nbsp;Formal grammars
    </div>
    <div id="_mcePaste">
        * Data Analysis &amp; Simulation:&nbsp;Introduction to Python,&nbsp;Introduction to the R language,&nbsp;Introduction to Matlab
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            40h Integrated Plenary Course – Tutorials
        </div>
        <div></div>
        <div></div>
    </div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE111 Language 1: English</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        To improve students’ language skills (reading and listening comprehension, speaking and writing, oral interaction) and to expand their scientific vocabulary.
    </div>
    <div id="_mcePaste">
        To teach them how to write an abstract.
    </div>
    <div id="_mcePaste">
        To teach them how to give a PowerPoint presentation.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Alternate study of a range of written, oral or video documents about stimulating topics for discussion, such as gene patenting, genetic testing, or the ethical issues raised by the use of HeLA cell lines, by synthetic biology and genetic engineering.
    </div>
    <div id="_mcePaste">
        * Individual PowerPoint presentations about a scientific article or topic related to the students’ field of study.
    </div>
    <div id="_mcePaste">
        *&nbsp;Role play (pair work) about topics chosen and studied by the students.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            25h Tutorials
        </div>
    </div>
    <div></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE112 Language 2: French for non-native speakers</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        the basics of French, both written and spoken, and learn how to communicate in everyday life situations.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * learn how to introduce yourself
    </div>
    <div id="_mcePaste">
        * ask for information
    </div>
    <div id="_mcePaste">
        * communicate by phone and mail
    </div>
    <div id="_mcePaste">
        * buy usually things
    </div>
    <div id="_mcePaste">
        * take public transports
    </div>
    <div id="_mcePaste">
        * discover French culture
    </div>
    <div id="_mcePaste">
        * rent a flat
    </div>
    <div id="_mcePaste">
        * fill in a form
    </div>
    <div id="_mcePaste">
        *&nbsp;write a CV
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            25h Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE121 Synthetic biology practical course</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        To practice classical molecular biology techniques (cloning of DNA, bacterial transformation) at the bench for the purpose of synthetic biology, especially when students are non familiar with the wet-lab.
    </div>
    <div id="_mcePaste">
        To get the know-how of experimental acquisition of data from complex biological systems. To go through the process of a synthetic biology project, from its experimental design to data interpretation.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        This course will cover all steps of a synthetic biology project (production of metabolites by a host), either for fundamental purposes such as understanding the rules controlling biological systems or for engineering purposes such as production of molecules of interest by living systems.
    </div>
    <div id="_mcePaste">
        During part 1 (construction of biological devices and their characterization, 2 days) some gene manipulation (DNA purification, amplification, digestion and ligation) for the construction of recombinant plasmids will be performed. Part 2 (transformation, selection and clone analysis, 3 days) will enable the use of the model bacterium E. coli as a host. Part 3 (data acquisition, processing and analysis, 2 days) will consist of the implementation of the synthetic biology process: metabolites production, extraction, quantitative analysis.
    </div>
    <div id="_mcePaste">
        As a practical course, it will recall general safety rules and good practices in the laboratory.
    </div>
    <div id="_mcePaste">
        Whenever possible, students will be associated in teams involving a biologist and a non-biologist, to favor exchanges and questions. Each team will have in charge the construction of some parts of the project (with some redundancy between the teams).
    </div>
    <div id="_mcePaste">
        Emphasis will be put on the concept of process, with quality control checkpoints, discussions on the inherent and manageable variability of the input sources (the biological system – the human experimenter) and collective data analysis sessions.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            40h&nbsp;Practical course
        </div>
    </div>
    <div></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE131 Genomic applications in environmental biotechnology</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        Recent advances in systems and synthetic biology have the potential to lead us towards a sustainable, bio-based economy that does not depend on fossil fuels for energy and commodities. This section of the course describes Genoscope projects that use high throughput biology to enable this vision.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        *&nbsp;great challenges in environmental biotechnology: past and present
    </div>
    <div id="_mcePaste">
        *&nbsp;high-throughput enzyme screening and enzyme promiscuity
    </div>
    <div id="_mcePaste">
        *&nbsp;new methods in synthetic biology
    </div>
    <div id="_mcePaste">
        *&nbsp;applications of systems and synthetic biology to bioenergy.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            6h Plenary Course + 4h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE132 Conception, construction and characterization of biological parts and devices</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        The aim of this UE is to provide the student with broad knowledge to engineer protein and RNA-based genetic devises by using a combination of computational and in vivo evolution techniques. Similarities and differences between different species (bacteria, lower and higher eukaryotes) will be highlighted. The student will learn to: (1) design the nucleotide sequences of proteins and RNA parts, (2) engineer synthetic genetic circuits based on proteins (3) engineer synthetic genetic circuits based on RNA-RNA, and (4) engineer synthetic genetic circuits based on nucleoprotein interactions (including translational control, pre mRNA splicing and CRISPRi). This UE can be followed by UE “Synthetic biology practical course” where students will have the opportunity of implementing the circuits presented in this UE.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Design of promoters: We will overview the current state-of-the-art on promoter design. We will discuss the engineering of repressors, activators and combinatorial promoters.
    </div>
    <div id="_mcePaste">
        * Design of RNAs: We will start with an introduction showing preliminary concepts on nucleotide cleavage, recognition. We will show the engineering of RBS and transcription terminator sequences. We will also show some recent work to design RNAs working as logic gates.
    </div>
    <div id="_mcePaste">
        * Design of circuits: We will review the various designs paradigms and we will then show how to apply such design principles to design transcriptional networks with targeted behavior. We will also discuss the problem of noise propagation when two genetic devices are assembled. We will end up by showing how to design biological systems implementing some kind of control.
    </div>
    <div id="_mcePaste">
        *&nbsp;Characterization and optimization of devices: Debugging biological circuits. Noise (intrinsic and extrinsic), impedance matching and retroactivity. Using directed evolution to optimize systems.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            6h Plenary Course + 4h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE133 Metabolic Engineering</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        The objective is to provide the student elementary theoretical bases and basic experimental techniques used in metabolic engineering. The module is divided into 6hrs of courses and 12hrs wet lab practical work. The course covers metabolic network models and flux analyses. The wet lab practical work illustrate the course through the production oh heterologuous compounds in various E. coli engineered strains. Student will have the opportunity to correlate experimental results with flux models.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        Course:
    </div>
    <div id="_mcePaste">
        * Introduction to cell metabolism
    </div>
    <div id="_mcePaste">
        * Enzymatic reaction kinetics
    </div>
    <div id="_mcePaste">
        * Flux analysis including FBA
    </div>
    <div id="_mcePaste">
        * Computer aided design tools for metabolic engineering (lenera programs, retrosynthesis)
    </div>
    <div id="_mcePaste">
        Wet lab work:
    </div>
    <div id="_mcePaste">
        * Production of a target compound in an engineered E. coli strain, followed by metabolite extraction and quantification. The strains will comprise deleted gene and overexpressed genes to boost product titer.
    </div>
    <div id="_mcePaste">
        *&nbsp;Development of a flux theoretical model and correlation of the model with experimental data.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            6h Plenary Course + 12h&nbsp;Practical Course
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE134 Biosafety and ethical questions of synthetic biology</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course objectives:</span>
    </div>
    <div id="_mcePaste">
        This course provides an overview of biosafety and ethical questions raised by synthetic biology. New life forms created through this innovative science and technology bring up several issues especially in terms of biosafety. Particular emphasis is placed on tools developed to avoid the biological systems spreading. The ethical part opens with the question “What is the ethics of new technologies?”, delves briefly into the history of philosophy and ethics of science, and then places synthetic biology in the context of the present interaction between science and society. The course includes many examples, such as the dual-use research in synthetic biology, the assessment of biomimetic strategies, or the controversy around the definition of life.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Biosafety introduction: public debate, legal framework, laboratories rules.
    </div>
    <div id="_mcePaste">
        * Chemical toolkit as genetic firewall.
    </div>
    <div id="_mcePaste">
        * Reengineering living organisms
    </div>
    <div id="_mcePaste">
        * What is ethics of science and technology? What are the ethical questions of synthetic biology and are they new? Current science-society situation and the place of synthetic biology.
    </div>
    <div id="_mcePaste">
        * Controversies around key concepts: novelty, perfection, intentionality, complexity, life. Their wide impact extending from formal definitions to industrial applications, legal frameworks, and public perception.
    </div>
    <div id="_mcePaste">
        *&nbsp;What is the scientist’s responsibility? Dual-use research and its implications from ethics to biosecurity.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            8h Plenary Course + 4h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE141 Cell Factory Optimisation</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        Synthetic Biology (Metabolic engineering, strain design optimisation, etc.) is a discipline that sprung up at the interface of chemical engineering, biotechnology, biochemistry, classical genetics and modelling. In particular, the design of a cell factory involves global analysis of the production organism (genomics, transcriptomics, proteomics, metabolomics) coupled to the development of a dedicated, mathematical model of the whole cell in order to define in silico the optimization strategy and the required modification of the strain to be implemented through the means of genetic manipulations.
    </div>
    <div id="_mcePaste">
        In this course, we will seek to practically explore this “pipeline”. Students will be expected to perform an in silico optimization of a bacterial cell factory for production of a given target metabolite. The model predictions (genes to inactivate or overexpress) will guide the genetic manipulation that will be performed in wet lab. These will include clean knock-outs and expression modulation via synthetic promoters. Finally, the success of the engineering approach will be validated by quantifying the produced metabolite in batch cultures.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Practical works in metabolic engineering in silico
    </div>
    <div id="_mcePaste">
        *&nbsp;Wet lab project (gene cloning, gene KO, modifying gene expression)
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            8h Plenary Course + 32h Practical Course
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE151 Statistical analysis of biological sequences and gene expression</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        Develop skill for analyzing available biological sequences and gene expression data using statistical approaches. Understand the statistical models and inferential statistics used for dealing with DNA sequences and gene expression data. Learn about the variability of the high-through output data and be able to extract a signal. Develop a critical mind when reading statistical results published in the scientific literature.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        The large amount of available biological sequences and gene expression data have changed the way biologists experiment to explore the genome. The analysis of such data requires knowledge in exploratory data analysis (visualization, statistic summary), in modeling dependence and in inferential statistic.
    </div>
    <div id="_mcePaste">
        This course will present the necessary statistical knowledge to analyze both types of data. It is divided in two parts. The first part is dedicated to biological sequence analysis using Markov models. The second part presents the main methods in exploratory data analysis (unsupervised learning) and inferential statistics required for exploiting expression data.
    </div>
    <div id="_mcePaste">
        Part 1: Biological sequence analysis
    </div>
    <div id="_mcePaste">
        • Markov models for biological sequence analysis (DNA and proteins): One of the main goal of this statistical modeling is the search for exceptional motif. Exceptionality may be related to a specific biological function.
    </div>
    <div id="_mcePaste">
        • Hidden Markov Model: Modeling the sequence using different regimes which corresponds to homogeneous parts of the sequence allows to better adjust to the underlying biological reality (i.e. introns / exons / coding/non-coding). Moreover identifying a hidden Markov model allows to segment the sequence and is thus helpful for annotation.
    </div>
    <div id="_mcePaste">
        • Profiles-HMM: Searching for profiles along the sequence (statistical distribution of nucleotides or amino acids) allows to localize biological signals (i.e. « binding sites », etc.). Classical approach and automate based approach (highly efficient) will both be presented.
    </div>
    <div id="_mcePaste">
        Part 2: Statistical Analysis of Gene Expression
    </div>
    <div id="_mcePaste">
        • Visualization: Descriptive Statistics, Principal Component Analysis, Multidimensional Scaling.
    </div>
    <div id="_mcePaste">
        • Multiple Hypothesis Testing: Type I error, Strong and weak control of the error. Controlling FWER, Bonferroni and Sidak, descending methods. Controlling FDR, ascending method of Benjamini and Hochberg. Non parametric testing, permutation tests (illustrating with SAM).
    </div>
    <div id="_mcePaste">
        *&nbsp;Clustering: Structures, goal and methodology of clustering. Statistical approaches for clustering. Parametric models, non parametric models, mixture models.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            12h Plenary Course + 8h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE152 Statistical learning of biological networks</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        The increasing abundance of high-throughput « omics » data (RNA-Seq, Faire-Seq, CHIP-Seq…) and recent advances in machine learning have allowed important progress in biological networks.
    </div>
    <div id="_mcePaste">
        This course aims at providing an overview of the tools and concepts of machine learning, useful for inferring biological networks such as gene regulatory networks, protein-protein networks and signaling pathways.
    </div>
    <div id="_mcePaste">
        Three fundamental issues in systems biology will be addressed: analysis of heterogeneous data and dimension reduction, parameters and structure estimation of gene regulatory network models, completion of protein interaction networks.
    </div>
    <div id="_mcePaste">
        The presented tools will be related to the probabilistic graphical models and the kernel methods. A second objective of this course is to introduce machine learning tools for experimental design in order to infer biological networks.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Biological networks inference problem: causality, parsimony / redundancy, modularity, scalability
    </div>
    <div id="_mcePaste">
        * Statistical learning tools for biological networks inference: dimension reduction, heterogeneous data integration, dynamic models, models of interaction
    </div>
    <div id="_mcePaste">
        * Dimensionality reduction and heterogeneous data integration
    </div>
    <div id="_mcePaste">
        * Learning dynamic models: regulatory networks and signaling networks:&nbsp;Differential equations estimation, dynamic probabilistic graphical models
    </div>
    <div id="_mcePaste">
        * Supervised learning of interactions: protein-protein networks
    </div>
    <div id="_mcePaste">
        *&nbsp;Active learning for the experimental design: application to regulatory networks
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            12h Plenary Course + 8h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE161 Formal methods applied to biological system engineering and modeling</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        The objective of this course is to present an overview of formal methods applied to biological systems modeling and synthetic biology. The content of the course cover the main notions in this field providing a cover of the formal methods applied to system and synthetic biology.
    </div>
    <div id="_mcePaste">
        They are illustrated by concrete examples in biology.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        • Petri nets
    </div>
    <div id="_mcePaste">
        • Automata networks
    </div>
    <div id="_mcePaste">
        • Process algebra
    </div>
    <div id="_mcePaste">
        • Design method of synthetic biology-oriented language
    </div>
    <div id="_mcePaste">
        • Application in systems biology modeling
    </div>
    <div id="_mcePaste">
        *&nbsp;Application to the design of synthetic biology function.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            12h Plenary Course + 8h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE162 Test applied to biological objects</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        This module focuses on the problem of test sequences, biological events. This issue is difficult to address because the underlying systems are often modeled as state machines / transitions and extracts tests of these models are very difficult to apply in real study cases. The major difficulty being the recognition of observed variables and linking with the modeled states.
    </div>
    <div id="_mcePaste">
        Methods from the area of telecommunications testing are known as “model-based testing”. These techniques are faced with problems of observability and controllability. This module will be dedicated to the generation of test scenarios from predefined templates but also the use of scenarios from the database provided by research laboratories to simulate and test new biological systems. For this, exercises will be held to the use of database models and testing tools.
    </div>
    <div id="_mcePaste">
        Another method that can be called “passive test” is to study the theoretical complexity of the search for structures in biological objects when the above-mentioned methods are not applicable. We will study these more theoretical techniques in a second part of the course.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * &nbsp;Engineering and Modeling of communicating systems
    </div>
    <div id="_mcePaste">
        * &nbsp;Passive Test – Research structures complexity
    </div>
    <div id="_mcePaste">
        * &nbsp;Algorithms enumeration in biological objects
    </div>
    <div id="_mcePaste">
        * &nbsp;Decision Tree for monitoring
    </div>
    <div id="_mcePaste">
        * &nbsp;Standards and Engineering in Systems Biology – equipped Modeling biological systems – understanding of tools and databases
    </div>
    <div id="_mcePaste">
        * &nbsp;Engineering and validation of biological systems
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            13h Plenary Course + 3h&nbsp;Integrated Plenary Course – Tutorials + 4h Practical Course
        </div>
    </div>
    <div></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE171 Nanobiology</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        to give a general background in nanosciences for biology and biotechnology applications
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Physical concept to understand nanobiology
    </div>
    <div id="_mcePaste">
        * Biological to biomimetic nanopores: fabrication and characterization
    </div>
    <div id="_mcePaste">
        * Biomolecules translocation through nanopores
    </div>
    <div id="_mcePaste">
        * Protein folding at single molecular level
    </div>
    <div id="_mcePaste">
        * Nanofluidic and microfluidic for biology
    </div>
    <div id="_mcePaste">
        * Applications: DNA sequencing, virus and toxins detection, biomolecule-ligand detection, markers and early diagnosis ….
    </div>
    <div id="_mcePaste">
        *&nbsp;Practical course with nanopores
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            12h Plenary Course + 8h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE172 Chips for molecular evolution</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        The purpose of the nanobiotechnology UE is to introduce the students to the in vivo monitoring and modulation of gene expression by combining synthetic biology with lab-on-a-chip techniques. This module follows UE “Designing, construction and characterization of biological parts and devices” that introduces all the theoretical concepts. Here, the experimental aspects are illustrated: the students will develop and use a lab-on-chip system to characterize biological parts and devices.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Soft-lithography techniques. We will use an example to show how to use Autocad software to design photomasks, which will be used to create the corresponding silicon wafer and then the PDMS chips.
    </div>
    <div id="_mcePaste">
        *&nbsp;Microfluidics principles. We will show how to operate microfluidics system to grow living cells, including pumps and the difficulties related to living cells.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            20h Practical Course
        </div>
    </div>
    <div></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE181 Computational protein design</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        This course provides an overview of the techniques used in computational protein design, from molecular modeling to in silico combinatorial library design, including those practical aspects associated with the integration of such computational techniques into a protein engineering project.
    </div>
    <div id="_mcePaste">
        The goal of this course is to provide a hands-on introduction to contemporary mainstream methods for computational protein modeling and design.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        This course is about computational modeling and design of protein interactions. It covers various aspects of the field, including an overview of protein molecular modeling and dynamics, protein activity modeling, protein engineering, and protein design techniques.
    </div>
    <div id="_mcePaste">
        * Molecular modeling: atomistic, descriptor-based, and knowledge-based models; solvent representations.
    </div>
    <div id="_mcePaste">
        * Force field-based techniques: energy minimization and molecular dynamics.
    </div>
    <div id="_mcePaste">
        * Docking techniques: protein-protein, protein-peptide, protein-nucleotides, and protein-small molecule interactions.
    </div>
    <div id="_mcePaste">
        * Descriptor-based modeling of biological activities: quantitative structure-activity relationship models.
    </div>
    <div id="_mcePaste">
        * Knowledge-based modeling: rotamer libraries, large-scale analysis of propensities.
    </div>
    <div id="_mcePaste">
        * Protein design: search algorithms, combinatorial optimization, and library design.
    </div>
    <div id="_mcePaste">
        *&nbsp;Design of protein-based devices for synthetic biology applications: biosensors, novel enzymatic, regulatory, and signaling activities.
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            12h Plenary Course + 8h&nbsp;Integrated Plenary Course – Tutorials
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE182 Practical course on rational protein design</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        Provide students with an understanding of practical aspects developed in the laboratory for the study of proteins and, through concrete examples of recombinant proteins, illustrate the experimental methods for protein design and gene modification by mutagenesis in order to obtain the desired function by controlling the structure / function relationships.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Remodeling of genes by site-directed and / or random mutagenesis
    </div>
    <div id="_mcePaste">
        * Comparative study in vivo and / or in vitro of the activity of the wild type protein and its mutants
    </div>
    <div id="_mcePaste">
        *&nbsp;Correlation of experimental results with the theoretical model developed using the skills acquired in the module “Molecular Modeling: interactions and computational protein engineering”
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            20h Practical Course
        </div>
    </div>
    <div id="_mcePaste"></div>
    <div id="_mcePaste"></div>
    <dl>
        <dt></dt>
        <dt></dt>
        <dt>UE191 Eucaryotic cells engineering</dt>
    </dl>
    <div id="_mcePaste">
        <span class="maybe-remove">Course Objectives:</span>
    </div>
    <div id="_mcePaste">
        This module is designed as a two-week internship in laboratories of the Centre for Biological Signalling Studies (BIOSS, Centre for Biological Signalling Studies) at the University of Freiburg (Germany). The signaling process are key regulators of the cell activity in living organisms. A better understanding of these mechanisms should allow not only to provide solutions to major biological problems but also to promote medical research. The BIOSS combines modern analytical methods and strategies in Biology Synthesis to study these signaling mechanisms. Students can take part in various research projects in engineering eukaryotic cells that are conducted in BIOSS interacting with interdisciplinary teams of physicists, engineers, biologists, chemists and computer sceintists.
    </div>
    <div id="_mcePaste">
        <span class="maybe-remove">Syllabus:</span>
    </div>
    <div id="_mcePaste">
        * Presentation of the different thematic laboratories:
    </div>
    <div id="_mcePaste">
        o Study of the initial stages of cellular transport of human pathogens (bacteria, viruses) and their derivatives, toxins, in non-phagocytic cells
    </div>
    <div id="_mcePaste">
        o Development of “smart” materials capable of controlled release of therapeutic agents and study of their interactions with cellular systems
    </div>
    <div id="_mcePaste">
        * Presentation and demonstration of the techniques used in laboratories
    </div>
    <div id="_mcePaste">
        * Presentation and demonstration infrastructure BIOSS whose platform analysis of natural and synthetic membranes at the nanoscale and the “toolbox” of BIOSS (resources and non-commercial information service)
    </div>
    <div id="_mcePaste">
        *&nbsp;Monitoring the progress of scientific projects in progress
    </div>
    <div>
        <div>
            <span class="maybe-remove">Course organization:</span>
        </div>
        <div id="_mcePaste">
            40h Practical Course
        </div>
    </div>
</div>
<ol class="foot-notes">
    <li style="list-style: none; display: inline">
        <div class="foot-notes-head">
            Footnotes:
        </div>
    </li>
    <li>This information was previously found here: <a href="https://www.mssb.fr/program-overview/1st-semester-september-to-january/" target="_blank">mSSB.fr class overview</a>, the numbers associated to each course were removed so I am archiving them here.
    </li>
</ol>
