<title>Sator Arepo Tenet Opera Rotas</title>
<style>
    #palin {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    #sator {
        font-size: 70px;
        border-collapse: collapse;
        position: relative;
        width: 70%;

        background: none;
        box-shadow: none;

        border: none;
    }

    #sator:after {
        content: "";
        display: block;
    }

    #sator td {
        border: 5px solid black;
        color: red;
    }

    @media only screen and (max-width: 700px) {
        #sator {
            font-size: 40px;
        }

        #sator td {
            border: 2px solid black;
        }
    }

    #sator tr:first-child td {
        border-top: none;
    }

    #sator tr td:first-child {
        border-left: none;
    }

    #sator tr:last-child td {
        border-bottom: none;
    }

    #sator tr td:last-child {
        border-right: none;
    }
</style>

<h1>Sator Arepo Tenet Opera Rotas</h1>
<p>
    Sator Arepo Tenet Opera Rotas; Sator Arepo Tenet Opera Rotas; Sator Arepo Tenet Opera Rotas; Sator Arepo Tenet Opera Rotas; S AA TRT OEEO RPNPR OEEO TRT AA S; S AA TRT OEEO RPNPR OEEO TRT AA S; R OO TPT AEEA SRNRS AEEA TPT OO R; R OO TPT AEEA SRNRS AEEA TPT OO R.
</p>

    <div id="palin">
        <table id="sator">
            <tbody>
                <tr>
                    <td>S</td>
                    <td>A</td>
                    <td>T</td>
                    <td>O</td>
                    <td>R</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>R</td>
                    <td>E</td>
                    <td>P</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>T</td>
                    <td>E</td>
                    <td>N</td>
                    <td>E</td>
                    <td>T</td>
                </tr>
                <tr>
                    <td>O</td>
                    <td>P</td>
                    <td>E</td>
                    <td>R</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td>O</td>
                    <td>T</td>
                    <td>A</td>
                    <td>S</td>
                </tr>
            </tbody>
        </table>
    </div>


    <pre class="brush: css">
        <table id="sator">
            <tbody>
                <tr>
                    <td>S</td>
                    <td>A</td>
                    <td>T</td>
                    <td>O</td>
                    <td>R</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>R</td>
                    <td>E</td>
                    <td>P</td>
                    <td>O</td>
                </tr>
                <tr>
                    <td>T</td>
                    <td>E</td>
                    <td>N</td>
                    <td>E</td>
                    <td>T</td>
                </tr>
                <tr>
                    <td>O</td>
                    <td>P</td>
                    <td>E</td>
                    <td>R</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td>O</td>
                    <td>T</td>
                    <td>A</td>
                    <td>S</td>
                </tr>
            </tbody>
        </table>

        <style>
            #palin {
                padding-top: 60px;
                padding-bottom: 60px;
            }
            
            #sator {
                font-size: 70px;
                border-collapse: collapse;
                position: relative;
                width: 70%;

                background: none;
                box-shadow: none;

                border: none;
            }

            #sator:after {
                content: "";
                display: block;
            }

            #sator td {
                border: 5px solid black;
                color: red;
            }

            @media only screen and (max-width: 700px) {
                #sator {
                    font-size: 40px;
                }

                #sator td {
                    border: 2px solid black;
                }
            }

            #sator tr:first-child td {
                border-top: none;
            }

            #sator tr td:first-child {
                border-left: none;
            }

            #sator tr:last-child td {
                border-bottom: none;
            }

            #sator tr td:last-child {
                border-right: none;
            }
        </style>
    </pre>
        
        <h1>Авраσаξ αβλαναθ αναλβα</h1>

        <style>
                #palin {
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
            
                #abpaeae {
                    font-size: 70px;
                    border-collapse: collapse;
                    position: relative;
                    width: 70%;
            
                    background: none;
                    box-shadow: none;
            
                    border: none;
                }
            
                #abpaeae:after {
                    content: "";
                    display: block;
                }
            
                #abpaeae td {
                    border: 5px solid black;
                    color: red;
                }
            
                @media only screen and (max-width: 700px) {
                    #abpaeae {
                        font-size: 40px;
                    }
            
                    #abpaeae td {
                        border: 2px solid black;
                    }
                }
            
                #abpaeae tr:first-child td {
                    border-top: none;
                }
            
                #abpaeae tr td:first-child {
                    border-left: none;
                }
            
                #abpaeae tr:last-child td {
                    border-bottom: none;
                }
            
                #abpaeae tr td:last-child {
                    border-right: none;
                }
            </style>

            <p>
                Авраσаξ αβλαναθ αναλβα
            </p>
        
            <div id="palin">
                <table id="abpaeae">
                    <tbody>
                        <tr>
                            <td>&#1040;</td>
                            <td>&#1042;</td>
                            <td>&#1056;</td>
                            <td>&#1040;</td>
                            <td>&#931;</td>
                            <td>&#1040;</td>
                            <td>&#926;</td>
                        </tr>
                        <tr>
                            <td>&#913;</td>
                            <td>&#914;</td>
                            <td>&#923;</td>
                            <td>&#913;</td>
                            <td>&#925;</td>
                            <td>&#913;</td>
                            <td>&#920;</td>
                        </tr>
                        <tr>
                            <td>&#913;</td>
                            <td>&#925;</td>
                            <td>&#913;</td>
                            <td>&#923;</td>
                            <td>&#914;</td>
                            <td>&#913;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <pre class="brush: css">
                <table id="abpaeae">
                    <tbody>
                        <tr>
                            <td>&#1040;</td>
                            <td>&#1042;</td>
                            <td>&#1056;</td>
                            <td>&#1040;</td>
                            <td>&#931;</td>
                            <td>&#1040;</td>
                            <td>&#926;</td>
                        </tr>
                        <tr>
                            <td>&#913;</td>
                            <td>&#914;</td>
                            <td>&#923;</td>
                            <td>&#913;</td>
                            <td>&#925;</td>
                            <td>&#913;</td>
                            <td>&#920;</td>
                        </tr>
                        <tr>
                            <td>&#913;</td>
                            <td>&#925;</td>
                            <td>&#913;</td>
                            <td>&#923;</td>
                            <td>&#914;</td>
                            <td>&#913;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
        
                <style>
                    #abpaeae {
                        font-size: 70px;
                        border-collapse: collapse;
                        position: relative;
                        width: 70%;
        
                        background: none;
                        box-shadow: none;
        
                        border: none;
                    }
        
                    #abpaeae:after {
                        content: "";
                        display: block;
                    }
        
                    #abpaeae td {
                        border: 5px solid black;
                        color: red;
                    }
        
                    @media only screen and (max-width: 700px) {
                        #abpaeae {
                            font-size: 40px;
                        }
        
                        #abpaeae td {
                            border: 2px solid black;
                        }
                    }
        
                    #abpaeae tr:first-child td {
                        border-top: none;
                    }
        
                    #abpaeae tr td:first-child {
                        border-left: none;
                    }
        
                    #abpaeae tr:last-child td {
                        border-bottom: none;
                    }
        
                    #abpaeae tr td:last-child {
                        border-right: none;
                    }
                </style>
            </pre>
        

    <ol class="foot-notes">
        <div class="foot-notes-head">
            Footnotes:
        </div>
        <li>
            Paternoster, A, O, Paternoster, O, A
        </li>
        <li>
                <pre>
                    А В Р А Σ А Ξ
                    Α Β Λ Α Ν Α Θ
                    Α Ν Α Λ Β Α
                </pre>
            </li>
    </ol>


    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>