<title>Why objectivity?</title>
<h1>Why objectivity?</h1>
<p>
    Yet another insight stemming from a conversation with friends. I was speaking with Guy on the fundamental truths of the universe and Human life and purpose. In general we agree that life is mostly suffering, as I've previously mentioned: <a aria-describedby="foot-label" href="#lifeSuffering">Life is suffering?</a> So note that this framed our discussion; jolly.
</p>
<p>
    We eneded up arguing two opposite sides. Him: why live, why try, and why do anything at all. I: why end life, why not shoot high, and why one should try to enjoy life. 
</p>
<p>
    He ended up posing a very interesting and rather disturbing question, disturbing as I did not know how to answer: <strong>Why be objective?</strong>
</p>
<blockquote>
    Why be objective at all? We each live in our own bodies, we have no way to actually verify if other peoples have the same experiences we do, there is no reason to be objective when living in a subjective body.
    <p class="quoteAuthor">
        Guy
    </p>
</blockquote>
<p>
    I did not know how to answer and had to think for quiet a while. I came up with the following. I have no idea if this is an original idea.
</p>
<p>
    If you start the argument from the basis that one should be subjective beacuse we live in subjective shells. Then one choses to elevate biology and said body in one's value hierarchy. One important goal for an individual is to avoid suffering; we can deduce that it is so for most living organisms. I am unaware whether an exception exists or not. 
</p>
<p>
    In general suffering is a disagreable sensation, which signals some amount of damage either to the body or mind of the individual. This seems to be a very general yet universal definition. In general it seems that life forms should wish to avoid suffering by any mechanism possible: modifications to the body (shells, claws, teeth), or behaviours (social cooperation, tool use, agressivity, flight mechanims).
</p>
<p>
    Humans as a group are social beings, but we must ask the question why so. As mentioned before it seems this behaviour stems from evolution for one simple reason: <strong>to avoid/reduce suffering</strong>. Working together makes us stronger than one single individual, we have more leverage, more power and in general an easier life. This is true of many cooperative species. Most social species in nature work together to reduce friction and work, each individual contributes to the advancement of the whole.
</p>
<p>
    Why is this important? Note that life is a balancing act, in every aspect; eating but not overeating, have a strong immune system but not allergies, selective apoptosis for producing fingers but not too much etc. This is true in this case as well, social interaction and cooperation requires balancing conflicting desires and behavious.
</p>
<p>
    It is a fact the fundamental goal of life is to reproduce. Agressivity can greatly increase the chances of reproduction, yet an overly agreessive individual can be a nuissance or even harmful to a social group. Selfishness can increase chances of survivial, eat more food, get more resources, and have more sex. These are all characteristics which often increase chances of survival and reproduction.
</p>
<div class="note">
    Evolutionary history indicates cooperation and social interaction greatly increases the survival rate and efficiency of a given species.
</div>
<p>
    As previously stated, it seems that cooperations is favourable, yet difficult as it might be contrary to the individuals biological imperatives in the short term, yet beneficial to the group and the individual in the long term. Thus a mechanism for facilitating cooperation is necessary. 
</p>
<p>
    Conflict can be resolved in a number of ways, submission of one party, or physical combat, or compromise are most common in humans. Physical combat can be dangerous to both individuals, this is why it seems that most species and humans tend to want to avoid physical conflict.
</p>
<p>
    Agressivity will be regulated based on one's social status and physical strength. When two individuals of same or similar social status have a conflict they must chose a method of resolution: physical conflict, retraction, or compromise. Again it seems that cooperation seems to increase the rate of success of a species; physical conflict should be avoided, compromise is the ideal solution.
</p>
<p>
    Compromise allows for two individuals to partly benifit without risking their health or own resources.
</p>
<p>
    One way for two individuals to come to a compromise is to find a point of agreement. If they adhere to their own subjective experiences doing so might become impossible. The external world can be a universal point of reference. Thus for social and cooperative organisms, who have a special interest in finding a compromise agreement upon an external reality is indispensible.
</p>
<p>
    <strong>Conclusion</strong>: By definition social creatures tend towards objectivity.
</p>
<p>
    Is this the reason why humanity and history looks favourably upon those men who are logical and objective; philosophers, scientists, engineers?
</p>



<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="lifeSuffering">
        <a href="/blog/displayEntry.php?entry=20191007_lifeSuffering">Life is suffering?</a>
    </li>
</ol>