<title>Moving to Paris</title>
<h1>Moving to Paris</h1>
<p>
    Je dois demenager à Paris pour mes études; j'ai plusieurs objects/meubles à vendre que je vais lister içi. Je metterai à jour cette liste si j'ai plus des choses à vendre ou si j'ai des objets qui ont été vendus.
</p>
<p>
    Je déménage loin, donc je vais certainement éliminer d'autres choses, tel que de la vaisselle etc; j'en ai besoin pour l'instant mais si vous êtes intéressé merci de me <a href="#contact">contacter</a> vers mi-août.
</p>
<p>
    J'accepte les espèces, ou bitcoin (BTC), Monero (XMR), Digibyte (DGB) comme forme de paiement.
</p>
<h2>Vendu: <span class="strikethrough">Bureau moderne plaque de verre 70€</span></h2>
<figure>
    <img src="/blog/entries/documents/meublesVendre/bureau0.jpeg">
    <figcaption>Bureau avec des rangements pratiques.</figcaption>
</figure>
<figure>
    <img src="/blog/entries/documents/meublesVendre/bureau1.jpeg">
    <figcaption>Hauteur reglable, et inclinable.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/bureau2.jpeg">
    <figcaption>Plaque en parfaite état.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/bureau3.jpeg">
    <figcaption>Plaque epaisse et rigide.</figcaption>
</figure>
<ul>
    <li>
        Dimensions: 1,2m x 0,65m x 0,75m.
    </li>
    <li>
        Bureau plaque de verre trempé avec film anti cassure dans le verre. Plaque de verre et tréteaux vendus
        ensembles.
    </li>
    <li>
        Etat: Excellent, quelques rayures à peine remarquables.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Téléviseur Sony 40 pouces 60€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tele0.jpeg">
    <figcaption>Image claire.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tele1.jpeg">
    <figcaption>Bonne taille: 40 pouces.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tele2.jpeg">
    <figcaption>Connectique divers.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tele4.jpeg">
    <figcaption></figcaption>
</figure>

<ul>
    <li>
        Téléviseur Sony 40 pouces, vendu tel que, fonctionne prend toute les chaines, et connections analogique et numerique.
    </li>
    <li>
        Vendu avec la télécommande.
    </li>
    <li>
        Ports: 1 MHL, 2 HDMI, 1 USB, analogique, audio out analogique, audio out optique, antenne, AV1.
    </li>
    <li>
        Etat: Bon etat.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Table de cuisine + 4 chaise (fer fonte) 25€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tableCuisine0.jpeg">
    <figcaption>Usure normale.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tableCuisine1.jpeg">
    <figcaption>Plaques de verre un peu usé sur les coins.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tableCuisine2.jpeg">
    <figcaption>Les chaises peuvent avoir quelques taches, a nettoyer.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tableCuisine3.jpeg">
    <figcaption>Chaises solide en fer.</figcaption>
</figure>

<ul>
    <li>
        Table de cuisine très solide, entièrement démontable avec un tourne vise plat. Les quatre chaises sont inclus.
    </li>
    <li>
        Etat: Assez usé.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Chaise Belle Époque 70€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/chaiseAcry0.jpeg">
    <figcaption>Solide et confortable.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/chaiseAcry1.jpeg">
    <figcaption>Belle dessin.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/chaiseAcry2.jpeg">
    <figcaption>Jolie matière.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/chaiseAcry3.jpeg">
    <figcaption>Des micro-rayures.</figcaption>
</figure>

<ul>
    <li>
        Chaise de bureau en acrylique, fabriqué en Italie qualité supérieur. Dessin classique dans une matière moderne.
    </li>
    <li>
        Etat: Excellent, quelques rayures à peine remarquables.
    </li>
</ul>

<h2>Fauteuil 10€</h2>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/feuteil0.jpeg">
    <figcaption>Confortable.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/feuteil1.jpeg">
    <figcaption>Taille pour une personne.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/feuteil2.jpeg">
    <figcaption>Un peu vieux mais il fait le travail.</figcaption>
</figure>

<ul>
    <li>
        Fauteuil similicuir taille pour une personne. Idéal pour étudiant avec un budget à respecter.
    </li>
    <li>
        Etat: Moyen mais fonctionnelle, cuir de vinyl qui se pelle mais coussins et tout le reste est solide et
        fonctionnelle.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Tableau de craie + craies 10€</span></h2>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tableauCraie0.jpeg">
    <figcaption>Bonne taille.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tableauCraie1.jpeg">
    <figcaption>Pratique pour étudiant.</figcaption>
</figure>
<ul>
    <li>
        Dimensions: 1m x 0,75m
    </li>
    <li>
        Un tableau de craie idéal pour dessiner ou écrire les idées ou tâches à faire; une bonne taille et en état de
        fonctionnement. Vendu avec un jeu des craies de divers couleurs.
    </li>
    <li>
        Etat: Excellent, aucune rayure ni usure prêt à être utiliser.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Chaise pliable 10€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/chaisePliable0.jpeg">
    <figcaption>Chaise de base.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/chaisePliable1.jpeg">
    <figcaption>En bonne état.</figcaption>
</figure>
<ul>
    <li>
        Chaise en bois pliable.
    </li>
    <li>
        Etat: Excellent, fonction et est solide.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Lampe de bureau LED 30€</span></h2>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/lampeLed0.jpeg">
    <figcaption>Lampe trés agréable pour travailler le soir.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/lampeLed1.jpeg">
    <figcaption>Bonne illumination la nuit.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/lampeLed2.jpeg">
    <figcaption>Lumière chaude.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/lampeLed3.jpeg">
    <figcaption>Lumière bleu.</figcaption>
</figure>
<ul>
    <li>
        Lampe LED, deux mode de couleurs lumière bleu, et chaude pour éviter la fatigue des yeux lors de longues
        sessions de travaille le soir.
    </li>
    <li>
        3 niveaux de lumières, 1 faible, 2 moyen, et 3 lumière intense.
    </li>
    <li>
        Etat: Excellent.
    </li>
</ul>
<h2>Vendu: <span class="strikethrough">Canon Imprimante + scanneuse 10€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/imprimante0.jpeg">
    <figcaption>Imprimante pratique.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/imprimante1.jpeg">
    <figcaption>Possède une scanneuse.</figcaption>
</figure>
<ul>
    <li>
        Imprimante en état de fonctionnement, vendu sans encre mais avec toutes cables.
    </li>
    <li>
        Etat: Excellent.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Rangement pour lettres et papier x3 10€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/rangePapier0.jpeg">
    <figcaption>Rangements pour lettres/papiers.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/rangePapier1.jpeg">
    <figcaption>Matière elegant.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/rangePapier2.jpeg">
    <figcaption>Peuvent s'emplier.</figcaption>
</figure>
<ul>
    <li>
        Rangements en plastique transparent.
    </li>
    <li>
        Etat: Excellent.
    </li>
</ul>

<h2>Table en bois de pin 15€</h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin0.jpeg">
    <figcaption>Table fait à la main.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin1.jpeg">
    <figcaption>Pin.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin2.jpeg">
    <figcaption>Quelques traces mais peuvent s'effacer en poncant.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin3.jpeg">
    <figcaption>Lise et droite.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin4.jpeg">
    <figcaption>Fait sur mésure pour accorder avec le bureau.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin5.jpeg">
    <figcaption>Des vis classique pour une simplicité d'assemblage.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/tablePin6.jpeg">
    <figcaption>Materielle de qualité pour une table solide.</figcaption>
</figure>

<ul>
    <li>
        Table en bois de pin, fabriqué à la main. Entièrement monté avec des vis donc possible de la démonter.
    </li>
    <li>
        Solide et un parfait compagnon au bureau que je vend; j’ai fabriqué cette table moi même pour avoir des
        dimensions parfaitement en accord avec le bureau.
    </li>
    <li>
        Etat: Quelques marques sur le dessus; possible de les effacer en ponçant le bois légèrement.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Sèche linge 5€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/secheLinge0.jpeg">
    <figcaption>Seche linge classique.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/secheLinge1.jpeg">
    <figcaption>Parfait état.</figcaption>
</figure>
<ul>
    <li>
        Normalement vendu en magasin 25€, en parfait état.
    </li>
    <li>
        Etat: Excellent.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Haltères (1kg + 2kg) x2 15€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/poids0.jpeg">
    <figcaption>En parfait état.</figcaption>
</figure>
<ul>
    <li>
        Je vends des haltères de sport en parfait état, poids enrobés de matière de caoutchouc pour protéger les sols.
    </li>
    <li>
        Je vends les deux, avec 1kg x 4, et 2kg x 4.
    </li>
</ul>

<h2>Vendu: <span class="strikethrough">Télescope optique 10€</span></h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/telescope0.jpeg">
    <figcaption>Téléscope pour les énthusiastes de science.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/meublesVendre/telescope1.jpeg">
    <figcaption>Lentilles en bon état.</figcaption>
</figure>
<ul>
    <li>
        Télescope optique vendu avec des lentilles.
    </li>
    <li>
        Etat: Bon.
    </li>
</ul>



<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <a id="contact">
        Toute object vendu telque, merci de me contacter uniquement par SMS: +33.6.13.35.24.10 ou courriel: <a href="mailto:contact@demezquita.com">contact@demezquita.com</a>.
    </a>
</ol>