<title>Gene doping: A review</title>
<h1>Gene doping: A review</h1>
<p>
    Small project I did in univeristy, the goal was producing a small review on gene doping in a general sense. Here we cover the following topics: gene doping, detecting gene doping, and circumventing said detection methods.
</p>
<h2>Abstract</h2>
<p>
    In 2004 the World Anti Doping Agency banned gene doping [1];  this along with the InternationalOlympic Committee. Together they defined gene doping as “the transfer of genes, genetic elements, orthe modulation of gene expression, which has the capacity to enhance athletic performance.” It mightstill seem like science fiction, but every advancement in medical gene therapy brings us one step closertosuper humans. We review the gene therapy technologies with the intent of doping. We cover thecreation of “super athletes” with viral vectors such as adeno-associated virus, and detecting cheaterswith PCR based techniques such as LAMP. We ponder future techniques for accurate detection.
</p>

<figure>
    <img src="/blog/entries/documents/geneDoping/geneDopingDetectionMethods.png">
    <figcaption>A map of possible detection methods for gene doping and all their pitfalls.</figcaption>
</figure>

<embed src="/blog/entries/documents/geneDoping/reviewGeneDopingFINAL.pdf" class="embedPdf">

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
        <a href="" target="_blank"></a>
    </li> -->
</ol>