<title>Music: Sharps and Flats</title>
<h1>Music: Sharps and Flats</h1>
<p>
    Today I learned the following regarding musical notes. There is a simple diagram that can be used in order to keep
    track of all notes, from normals to sharps and flats. The image is shown below:
</p>
<figure class="invertImageColours">
    <img src="/blog/entries/documents/musicTheory/20193001_musicTheory.png">
    <figcaption>All possible notes displayed in a circle diagram.</figcaption>
</figure>
<p>
    What this diagram tells us is that the standard notes are the following: <strong>A, B, C, D, E, F, G</strong>.
    Moreover there are sharp and flat versions between every single note except <strong>B - C</strong> and <strong>E -
        F</strong>.
</p>
<p>
    These sharps and flats are referred to as <strong>half-steps</strong>. On a guitar neck every increment in fret that
    is taken is increasing by one <strong>half-step</strong>. Thus if starting on the <strong>E</strong> string, open is
    <strong>E</strong>, fret 1 is <strong>F</strong>, then <strong>F#</strong> and so on, until the wheel is complete
    and we are back at <strong>E</strong> (12 steps down). This is what is referred to as the next octave.
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
            <a href="" target="_blank"></a>
        </li> -->
</ol>