<title>Octavius the Octopus</title>

    <h1>Octavius the Octopus</h1>
        <p>
            New plush toy obtained today, very cute. Goes great with favourite animal! As previosuly stated in <a href="/blog/displayEntry.php?entry=20181219_newFavouriteAnimal">Favourite Animal: The Fox</a>, the octopus still stands as my favourite animals. He shall be named <a aria-describedby="foot-label" href="#subChange">Octavius</a>.
        </p>
        <figure>
            <img src="/blog/entries/documents/octaviusOctopus/20190326_octavius.png">
            <figcaption>Octopus plush toy, gifted by Sarah: 26 March 2019.</figcaption>
        </figure>
        <p>
            As you can see, the plus is very cute, very plushy and will hopefully stay so for a longtime to come. The tentacles have an elastic band in each of them so that they are retractable and display in a random fashion. Note that Octavius has a smiley mouth on what is considered the head of the animal, thus this toy is anatomically incorrect; the mouth should be down below, at the converging point of all the tentacles.
        </p>
        <p>
            However, it is understandable that the mouth would be placed on the head under the eyes. As placement on the underside would make it invisible, and considering this is a plush for infants it could be confusing, or even provoke fear in these infants as they do not yet recognise non-anthropomorphic figures.
        </p>


        <ol class="foot-notes">
            <div class="foot-notes-head">
                Footnotes:
            </div>
            <li id="subChange">
                (subject to change)
            </li>
        </ol>