<title>Ethanol in water</title>

<h1>Ethanol in water</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_8RgINmom0c" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
    I could not find a complete and suitable answer to this question; why is it that when you add ethanol to water the
    temperature increases? Here we see it go from 23C to about 29C. If you find a complete answer to this with
    references please leave a comment! Also I wonder if you could get water, or the system to boil by this way.
</p>
<p>
    Note I'm using distilled water, and ethanol 99% (lab grade).
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
            <a href="" target="_blank"></a>
        </li> -->
</ol>