<title>CSS: centering</title>
<h1>CSS: centering</h1>
<p>
    Fucking bullshit CSS, always forgetting how to centre shit. It is in no way logical, and even harder to actually remember.
</p>
<p>
    So you want to centre some shit with CSS? Okay well it involves <code>margin: auto;</code> somewhere that's sure. But how again? Okay dickhead well just do this:
</p>

<pre class="brush: css">
    html, body {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #333;
    }
    
    .centre {
        top: 100px;
        display: block;
        position: relative;
        margin: 0 auto;
        width: fit-content;
    }
</pre>

<div class="warning">
    You must define the width of the element, and have it be smaller than the container.
</div>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
</ol>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>