<title>Useful Online Resources</title>
<h1>Useful Online Resources</h1>
<p>
    An attempt at an exhaustive list of free resources for learning on the internet! Includes computer science, to art
    and more.
</p>
<br>
<ol class="deepLi">
    <li class="liHeader">Academia</li>
    <ul>
        <li>
            <a href="http://gen.lib.rus.ec" target="_blank">gen.lib.rus.ec</a>; use TOR blocked in France.
        </li>
        <li>
            <a href="http://www.mendeley.com/" target="_blank">Mendeley</a>
        </li>
        <li>
            <a href="http://www.researchgate.com" target="_blank">ResearchGate</a>
        </li>
        <li>
            <a href="http://scholar.google.com" target="_blank">Google Scholar</a>
        </li>
        <li>
            <a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md#professional-development"
                target="_blank">Free Programming Books</a>
        </li>
        <li>
            <a href="http://www.wolframalpha.com/" target="_blank">Wolfram Alpha</a>
        </li>
        <li>
            <a href="http://mathway.com" target="_blank">Mathway</a>
        </li>
    </ul>
    <li class="liHeader">Free Software</li>
    <ul>
        <li>
            <a href="https://www.blender.org/" target="_blank">Blender</a>
        </li>
        <li>
            <a href="http://www.sketchup.com/products/sketchup-make" target="_blank">SketchUp</a>
        </li>
        <li>
            <a href="http://www.ctrlpaint.com/" target="_blank">ctrlpaint</a>
        </li>
        <li>
            <a href="https://krita.org/" target="_blank">Krita</a>
        </li>
        <li>
            <a href="https://inkscape.org/" target="_blank">InkScape</a>
        </li>
        <li>
            <a href="https://lmms.io/" target="_blank">lmms</a>
        </li>
        <li>
            <a href="https://www.audiotool.com/" target="_blank">audiotool</a>
        </li>
        <li>
            <a href="http://ardour.org/" target="_blank">ardour</a>
        </li>
        <li>
            <a href="http://www.singlecellsoftware.com/caustic" target="_blank">caustic</a>
        </li>
        <li>
            <a href="http://mixxx.org/" target="_blank">mixxx</a>
        </li>
        <li>
            <a href="http://www.gimp.org/" target="_blank">Gimp</a>
        </li>
    </ul>
    <li class="liHeader">Education</li>
    <ul>
        <li>
            <a href="https://www.edx.org/" target="_blank">edx</a>
        </li>
        <li>
            <a href="https://www.khanacademy.org/" target="_blank">khanacademy</a>
        </li>
        <li>
            <a href="http://www.coursera.org/" target="_blank">coursera</a>
        </li>
        <li>
            <a href="https://www.class-central.com/" target="_blank">Class Central</a>
        </li>
        <li>
            <a href="http://openstudy.com/" target="_blank">OpenStudy</a>
        </li>
        <li>
            <a href="http://www.open2study.com/" target="_blank">Open2Study</a>
        </li>
        <li>
            <a href="https://www.futurelearn.com/" target="_blank">FutureLearn</a>
        </li>
        <li>
            <a href="https://www.udacity.com/" target="_blank">Udacity</a>
        </li>
        <li>
            <a href="https://itunes.apple.com/ie/app/itunes-u/id490217893?mt=8#" target="_blank">iTunes U</a>
        </li>
        <li>
            <a href="http://cs50.tv/2013/fall/" target="_blank">Harvard Open Courseware</a>
        </li>
        <li>
            <a href="http://ocw.mit.edu/index.htm" target="_blank">MIT Open Courseware</a>
        </li>
        <li>
            <a href="http://oyc.yale.edu/" target="_blank">Yale Open Courseware</a>
        </li>
        <li>
            <a href="http://see.stanford.edu/see/courses.aspx" target="_blank">Stanford Open Courseware</a>
        </li>
        <li>
            <a href="http://patrickjmt.com/" target="_blank">PatrickJMT</a>
        </li>
        <li>
            <a href="https://www.duolingo.com/" target="_blank">Duolingo</a>
        </li>
        <li>
            <a href="http://www.memrise.com/" target="_blank">Memrise</a>
        </li>
        <li>
            <a href="http://ankisrs.net/" target="_blank">Anki</a>
        </li>
        <li>
            <a href="http://ted.com/" target="_blank">Ted Talks</a>
        </li>
    </ul>
    <li class="liHeader">Learn programming</li>
    <ul>
        <li>
            <a href="http://programming-motherfucker.com/become.html" target="_blank">Become a programmer,
                motherfucker</a>
        </li>
        <li>
            <a href="https://www.codecademy.com/" target="_blank">codecademy</a>
        </li>
        <li>
            <a href="http://scratch.mit.edu/" target="_blank">Scratch MIT</a>
        </li>
        <li>
            <a href="http://www.theodinproject.com/" target="_blank">theOdinProject</a>
        </li>
        <li>
            <a href="http://www.freecodecamp.com/" target="_blank">FreeCodecamp</a>
        </li>
        <li>
            <a href="https://trinket.io" target="_blank">trinket.io</a>
        </li>
    </ul>
    <li class="liHeader">Make a game</li>
    <ul>
        <li>
            <a href="http://unity3d.com/get-unity" target="_blank">unity3d</a>
        </li>
        <li>
            <a href="https://www.unrealengine.com/" target="_blank">Unreal Engine</a>
        </li>
        <li>
            <a href="http://www.godotengine.org/" target="_blank">GoDotEngine</a>
        </li>
    </ul>
    <li class="liHeader">Art Reference Libraries</li>
    <ul>
        <li>
            <a href="http://www.proko.com/" target="_blank">Proko</a>
        </li>
        <li>
            <a href="https://www.drawspace.com/" target="_blank">drawspace</a>
        </li>
        <li>
            <a href="http://www.drawmixpaint.com/" target="_blank">drawmixpaint</a>
        </li>
        <li>
            <a href="http://drawabox.com" target="_blank">drawabox</a> and <a
                href="https://reddit.com/r/artfundamentals" target="_blank">/r/artfundamentals</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCliUF1c8m7MUspaCykJljSg" target="_blank">New Masters Academy</a>
        </li>
        <li>
            <a href="http://www.quickposes.com/" target="_blank">Quickposes</a>
        </li>
        <li>
            <a href="http://www.characterdesigns.com" target="_blank">CharacterDesigns.com</a>
        </li>
        <li>
            <a href="http://senshistock.deviantart.com/gallery/?offset=0" target="_blank">Deviant Art Poses</a>
        </li>
        <li>
            <a href="http://something-to-draw.com/" target="_blank">Something to Draw</a>
        </li>
    </ul>
    <li class="liHeader">Books</li>
    <ul>
        <li>
            <a href="http://www.gutenberg.org/" target="_blank">Project Gutenberg</a>
        </li>
        <li>
            <a href="https://alison.com" target="_blank">Alison</a>
        </li>
        <li>
            <a href="https://openlibrary.org/" target="_blank">OpenLibrary</a>
        </li>
    </ul>
    <li class="liHeader">AudioBooks</li>
    <ul>
        <li>
            <a href="https://librivox.org/" target="_blank">LibriVox</a>
        </li>
        <li>
            <a href="http://podiobooks.com" target="_blank">Podiobooks.com</a>
        </li>
        <li>
            <a href="http://www.documentaryheaven.com" target="_blank">Documentary Heaven</a></li>
        <li>
            <a href="http://topdocumentaryfilms.com" target="_blank">TopDocumentaryFilms.com</a>
        </li>
        <li>
            <a href="http://freedocumentary.com" target="_blank">FreeDocumentary.tv</a>
        </li>
    </ul>
    <li class="liHeader">Music</li>
    <ul>
        <li>
            <a href="http://www.last.fm/" target="_blank">Last.fm</a>
        </li>
        <li>
            <a href="http://songza.com/" target="_blank">Songza</a>
        </li>
        <li>
            <a href="http://8tracks.com/" target="_blank">8tracks</a>
        </li>
        <li>
            <a href="https://popcorntime.sh" target="_blank">Popcorn Time</a> and <a
                href="https://reddit.com/r/PopCornTime" target="_blank">/r/PopCornTime</a>
        </li>
        <li>
            <a href="http://soundozer.com" target="_blank">Soundozer</a>
        </li>
        <li>
            <a href="http://grooveshark.com/" target="_blank">Grooveshark</a>
        </li>
        <li>
            <a href="http://www.jango.com/" target="_blank">Jango</a>
        </li>
        <li>
            <a href="http://www.thatmp3.com/" target="_blank">That Mp3</a>
        </li>
    </ul>
    <li class="liHeader">Games</li>
    <ul>
        <li>
            <a href="https://archive.org/details/internetarcade" target="_blank">Internet Arcade</a>
        </li>
        <li>
            <a href="https://archive.org/details/classicpcgames" target="_blank">Classic PC Games</a>
        </li>
        <li>
            <a href="http://www.flightgear.org/" target="_blank">flightgear</a>
        </li>
    </ul>
</ol>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="">
        Original source: <a
            href="https://www.https://reddit.com/r/AskReddit/comments/bf29wu/porn_aside_what_free_things_on_the_internet/elbrhvr/"
            target="_blank">Reddit comment</a>
    </li>
</ol>