<title>Ancient methods</title>
<h1>Ancient methods</h1>
<p>
    Alchemy, a fascinating subject, once seen as a science. Now we know it was all but; it was a pseudoscience, yet can
    we believe that the pursuit of such a subject was done in earnest? With great minds such as Issac Newton digging
    into the matter, even investing considerably more energy into the subject than the very science which made him
    famous; was he on to something?
</p>
<br>
<figure>
    <img src="/blog/entries/documents/alchemy/alchemy1.jpeg">
</figure>
<figure>
    <img src="/blog/entries/documents/alchemy/alchemy2.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy3.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy4.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy5.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy6.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy7.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy8.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy9.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy10.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy11.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy12.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy13.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy14.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy15.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy16.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy17.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy18.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy19.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy20.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy21.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy22.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy23.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy24.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy25.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy26.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy27.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy28.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy29.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy30.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy31.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy32.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy33.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy34.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy35.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy36.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy37.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy38.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy39.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy40.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy41.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy42.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy43.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy44.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy45.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy46.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy47.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy48.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy49.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy50.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy51.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy52.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy53.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy54.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy55.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy56.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy57.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy58.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy59.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy60.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy61.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy62.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy63.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy64.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy65.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy66.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy67.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy68.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy69.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy70.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy71.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy72.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy73.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy74.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy75.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy76.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy77.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy78.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy79.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy80.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy81.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy82.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy83.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy84.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy85.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy86.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy87.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy88.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy89.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy90.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy91.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy92.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy93.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy94.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy95.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy96.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy97.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy98.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy99.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy100.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy101.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy102.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy103.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy104.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy105.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy106.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy107.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy108.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy109.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy110.jpeg">
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/alchemy/alchemy111.jpeg">
</figure>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
</ol>
