<title>Jupiter</title>
<h1>Jupiter</h1>
<p>
    Jupiter is my favourite planet. It simply is the most beautiful. It would be difficult to state otherwise and I
    would go so far as to argue that it posses an objective beauty that no one can deny.
</p>
<p>
    Here I present the following evidence for my case:
</p>
<figure>
    <img src="/blog/entries/documents/jupiter/jupiter1.jpg">
    <figcaption><a aria-describedby="foot-label" href="#eye">The eye of the storm.</a></figcaption>
</figure>
<figure>
    <img src="/blog/entries/documents/jupiter/jupiter2.jpg">
    <figcaption><a aria-describedby="foot-label" href="#clouds">Some clouds floating in Jupiter's atmosphere.</a>
    </figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/jupiter/jupiter3.jpg">
    <figcaption><a aria-describedby="foot-label" href="#blueSwirl">The blue swirls of the planet.</a></figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/jupiter/jupiter4.jpg">
    <figcaption><a aria-describedby="foot-label" href="#jupiterRising">Jupiter being lit by our sun.</a></figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/jupiter/jupiter5.jpg">
    <figcaption><a aria-describedby="foot-label" href="#comparisons">Comparitive shots of Jupiter.</a></figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/jupiter/jupiter6.jpg">
    <figcaption><a aria-describedby="foot-label" href="#redJupiter">A red view.</a></figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/jupiter/jupiter7.png">
    <figcaption><a aria-describedby="foot-label" href="#pinkJupiter">More swirls.</a></figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/jupiter/jupiter8.png">
    <figcaption><a aria-describedby="foot-label" href="#3dClouds">This photo is quiet impressive I feel. It gives a 3
            dimensional view of the atmosphere.</a></figcaption>
</figure>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="eye">
        <a href="https://www.missionjuno.swri.edu/junocam/processing?id=6810" target="_blank">MissionJuno</a>
    </li>
    <li id="clouds">
        <a href="https://www.nasa.gov/image-feature/jpl/pia21981/rose-colored-jupiter" target="_blank">NasaGov</a>
    </li>
    <li id="blueSwirl">
        <a href="https://www.nasa.gov/image-feature/jpl/chaotic-clouds-of-jupiter" target="_blank">NasaGov</a>
    </li>
    <li id="jupiterRising">
        <a href="https://www.nasa.gov/image-feature/seeing-jupiter" target="_blank">NasaGov</a>
    </li>
    <li id="comparisons">
        <a href="https://www.nasa.gov/feature/jpl/time-lapse-sequence-of-jupiter-s-north" target="_blank">NasaGov</a>
    </li>
    <li id="redJupiter">
        <a href="https://www.missionjuno.swri.edu/junocam/processing?id=6829" target="_blank">MissionJuno</a>
    </li>
    <li id="pinkJupiter">
        <a href="https://www.missionjuno.swri.edu/junocam/processing?id=6808" target="_blank">MissionJuno</a>
    </li>
    <li id="3dClouds">
        <a href="https://www.missionjuno.swri.edu/junocam/processing?id=6801" target="_blank">MissionJuno</a>
    </li>
</ol>