<title>Japanese archery & focus</title>

<h1>Japanese archery & focus</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZnRX_Cqhwb8" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    Very interesting documentary on japanese archery. Covers the topic on a superficial level I suppose but it is an
    interesting first look.
</p>
<p>
    Having difficulties concentrating and pointing my focus recently, might be a good idea to take some pointers from
    the Japanese. An interesting point towards the end of the video:
</p>
<blockquote>
    Do not try to hit the target, the more you try the more you miss. Simply point yourself in that direction, and at
    the necessary moment you will act automatically. Remain calm and be one with your craft, and practice.
</blockquote>
<p>
    I'm paraphrasing of course, but it is a powerful idea. I wonder whether I should practice honing my focus. Exams
    will come soon, it seems it's time to try something new. I might be able to ameliorate my performance.
</p>
<p>
    Note to self, research more information on focus, concentration, and exercises to improve.
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
            <a href="" target="_blank"></a>
        </li> -->
</ol>