<title>Life is suffering?</title>
<h1>Life is suffering?</h1>

<p>
    I had an interesting conversation with Emmanuel the other day. We were talking about how one should live their life, and how one should view their life.
</p>
<p>
    Needless to say our perspectives on the subject diverge; his are optimistic, and mine pessimistic.
</p>
<p>
    <strong>Emmanuel's view</strong>: one should try to have a good outlook on life; if one were to exclude any possibilities of an after-life, or a heaven etc. then this would only reinforce his theisis as it proves that life is not a means to an end, but an end in and of itself.
</p>
<p>
    I agreed with his thought, it does in fact seem coherent with my own world view, and in fact does not violate any of my previously held beliefs. Yes one should <em>try</em> to enjoy life; key word <em>try</em>.
</p>
<p>
    <strong>My view</strong>: even though one may try to enjoy life, I feel that by definition it is suffering. Physicist and scientist all agree that the universe tends towards entropy, or disorder. Emmanuel agrees with this. I see biology and life as something which requires order to exist, a cell must control its intra-cellular environment in order to live. It must control part of it's external environment and compartmentalise different chemicals, molecules and proteins in order to live.
</p>
<p>
    These are all facts of life; of biology. Thus biology seems to tend in the opposite direction. No matter how noble or brave or courageous this may be, life seems to defy the very tendencies and direction of the universe; one contains the other. In the end the universe will win. This seems to be the current state of affairs at the moment anyway.
</p>
<p>
    Until we find evidence that it might be possible to escape entropy and the heat death of the universe I cannot change my position; my position being: <strong>life goes against the grain of the universe, it will lose; life is by definition suffering</strong>.
</p>

<p>
    I did thereafter have another very interesting conversation with Guy. I mentioned this idea to him. He first agreed, then retorted, and mentioned a previous discussion we had had about 6-8 months ago. He does not believe in randomness. The reason randomness comes up is because it seems to be required for entropy to exist.
</p>
<p>
    Without randomness, there could be a state or process by which the universe, or a part there of decreases in entropy. This is a very interesting idea, because no matter how hard I tried to argue that randomness can in fact exist I could not prove it by logic.
</p>
<p>
    I tried mentioning that the Heisenburg uncertainty principle notes that we cannot know the position and momentum of an electron at the same time. No matter how true this may be, it may be simply due to the fact that there is something else going on which we cannot observe to provoke this so called randomness. As Einstein would once famously state (paraphrased):
</p>
<blockquote>
    I cannot believe that god would play dice with the universe.
    <p class="quoteAuthor">
        Einstein
    </p>
</blockquote>
<p>
    This may in fact be true, just because the particle does something or escapes our reach into another dimension to gain what we would call a random behaviour does not prove that something can in fact be random at its fundamental nature.
</p>
<p>
    It seems that randomness cannot in fact exist in nature... I will have to think about this more deeply. This might leave us some hope... that life can be good.
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
</ol>