<title>Synthetic biology & bioengineering, ethical?</title>
<h1>Synthetic biology & bioengineering, ethical?</h1>
<p>
    An interesting ethical question came up in class today: If one can readily sell, for human consumption corn, which in reality has been genetically modified, just over thousands of years. Then logically one should be able to use guided evolution (experimental evolution) in bacteria without issue. Then sell those same modified bacteria to and for human consumption.
</p>
<p>
    This means that, conjugation, DNA transfer between dead and live bacteria etc. should all be allowed. In fact it is the case, <em>depending on your jurisdiction...</em>
</p>
<p>
    Otherwise, I feel like the law is simply playing a game of cat and mouse with technology specifically biotechnology. I believe that biotech, synthetic biology and bioengineering will do the same that silicon valley and tech companies/hackers/individuals, have done <em>ie.</em> do whatever they want regardless of the law; yet never break the law thanks to technological work arounds.
</p>
<p>
    Cat and mouse. We are the cats.
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
            <a href="" target="_blank"></a>
        </li> -->
</ol>