<title>121-5: Carotenoid pigment production</title>
<h1>121-5: Carotenoid pigment production</h1>

<p>
    A paper I wrote for my 121-5: In this lab we characterise genetic constructions in <em>E. coli</em> which serve for the production of colours by the use of carotenoid pigments; carotene/lycopene operon. These parts are freely available in the Registry of Standard Biological Parts. A secondary goal of this lab is to familiarise us students with practical procedures and methods in experimental molecular biology. Some of the methods covered are: polymerase chain reaction (PCR), electrophoresis, enzyme digestion, and DNA/pigment extraction.
</p>

<embed src="/blog/entries/documents/carotenoid/20191215_dereck-demezquita_report.pdf" class="embedPdf">

<h2>Parts maps used</h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_dxs_BBa_K118000.png">
    <figcaption>map_dxs_BBa_K118000</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_idi_BBa_K1653002.png">
    <figcaption>map_idi_BBa_K1653002</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_pSB1A2-plac.png">
    <figcaption>map_pSB1A2-plac</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_pSB1A3GB3_pT5-idi-dxs.png">
    <figcaption>map_pSB1A3GB3_pT5-idi-dxs</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_pSB2K3-pBad-crtEBI.png">
    <figcaption>map_pSB2K3-pBad-crtEBI</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_pSB2K3-pBad-crtEBIY.png">
    <figcaption>map_pSB2K3-pBad-crtEBIY</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_pSB2K3_pBad.png">
    <figcaption>map_pSB2K3_pBad</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_part_BBa_K274120.png">
    <figcaption>map_part_BBa_K274120</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_part_BBa_K274220.png">
    <figcaption>map_part_BBa_K274220</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_part_pT5-idi-dxs.png">
    <figcaption>map_part_pT5-idi-dxs</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_plasmid_pSB1A2.png">
    <figcaption>map_plasmid_pSB1A2</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_plasmid_pSB1A3.png">
    <figcaption>map_plasmid_pSB1A3</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_plasmid_pSB1A3GB3.png">
    <figcaption>map_plasmid_pSB1A3GB3</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_plasmid_pSB2K3.png">
    <figcaption>map_plasmid_pSB2K3</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_prom_pbad-BBa_I0500.png">
    <figcaption>map_prom_pbad-BBa_I0500</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_prom_plac-BBa_R0010.png">
    <figcaption>map_prom_plac-BBa_R0010</figcaption>
</figure>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/carotenoid/maps/map_prom_pt5-BBa_K592008.png">
    <figcaption>map_prom_pt5-BBa_K592008</figcaption>
</figure>



<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li class="csl-entry">Desjardins, Philippe, and Deborah Conklin. ‘NanoDrop Microvolume Quantitation of Nucleic
        Acids’. <i>Journal of Visualized Experiments : JoVE</i>, no. 45, Nov. 2010. <i>PubMed Central</i>,
        doi:10.3791/2565.
    </li>
    <li class="csl-entry">Freddolino, Peter L., et al. ‘Newly Identified Genetic Variations in Common Escherichia Coli
        MG1655 Stock Cultures’. <i>Journal of Bacteriology</i>, vol. 194, no. 2, Jan. 2012, pp. 303–06. <i>PubMed
            Central</i>, doi:10.1128/JB.06087-11.
        </li>
    <li class="csl-entry">Johnson, C. M., and R. F. Schleif. ‘In Vivo Induction Kinetics of the Arabinose Promoters in
        Escherichia Coli’. <i>Journal of Bacteriology</i>, vol. 177, no. 12, June 1995, pp. 3438–42. <i>PubMed</i>,
        doi:10.1128/jb.177.12.3438-3442.1995.
    </li>
    <li class="csl-entry">Lanzer, M., and H. Bujard. ‘Promoters Largely Determine the Efficiency of Repressor Action’.
        <i>Proceedings of the National Academy of Sciences of the United States of America</i>, vol. 85, no. 23, Dec.
        1988, pp. 8973–77. <i>PubMed</i>, doi:10.1073/pnas.85.23.8973.
    </li>
    <li class="csl-entry">McGinnis, J. F., and K. Paigen. ‘Catabolite Inhibition: A General Phenomenon in the Control
        of Carbohydrate Utilization’. <i>Journal of Bacteriology</i>, vol. 100, no. 2, Nov. 1969, pp. 902–13.
    </li>
    <li class="csl-entry">Nishizaki, T., et al. ‘Metabolic Engineering of Carotenoid Biosynthesis in Escherichia Coli
        by Ordered Gene Assembly in Bacillus Subtilis’. <i>Applied and Environmental Microbiology</i>, vol. 73, no. 4,
        Feb. 2007, pp. 1355–61. <i>DOI.org (Crossref)</i>, doi:10.1128/AEM.02268-06.
    </li>
    <li class="csl-entry">Pauthenier, Cyrille. ‘BBF RFC 92: The GoldenBricks Assembly: A Standardized One-Shot Cloning
        Technique for Complete Cassette Assembly’. <i>BBF RFC 92</i>, Oct. 2012,
        https://pdfs.semanticscholar.org/fa8c/d932c1537ad367e2c12504bda6d52f5e793f.pdf.
    </li>
    <li class="csl-entry">Wang, Hu, et al. ‘Plants Against Cancer: A Review on Natural Phytochemicals in Preventing and
        Treating Cancers and Their Druggability’. <i>Anti-Cancer Agents in Medicinal Chemistry</i>, vol. 12, no. 10,
        Dec. 2012, pp. 1281–305.
    </li>
</ol>
