<title>Plant cell exploration</title>
<h1>Plant cell exploration</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kusPn1r9nw4" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    Some video I filmed a while ago. This was filmed using an Optico Paris microscope, at 40x, 100x, 400x, and 1000x
    magnification (oil lens). An exploration of plant cells, specifically orchid parts including: roots, and leaves.
</p>
<p>
    Note that the multiple displayed on screen (bottom right) at some sequences indicates that the video was sped up.
</p>

<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="githubCrypto">
                <a href="" target="_blank"></a>
            </li> -->
</ol>