<title>R-lang: chat history analysis</title>
<h1>R-lang: chat history analysis</h1>
<script>
            {
            "name": "20200411_rlang-chat-analysis",
            "author": "Dereck de Mézquita",
            "displayName": "R-lang: chat history analysis",
            "image": "/siteImages/allPngs/246.png",
            "date": {
                "year": "2020",
                "month": "04",
                "day": "11"
            },
            "slogan": "Stop large spoon",
            "summary": "Rmd script for analysing chat history data. Simply drop in chat data in appropriate format and then set users/authors names, run the script; additionally run Knitr for an HTML output. The files are available at the git repo.",
            "primaryTag": "Programming",
            "tags": [
                "Programming",
                "Computer",
                "Technology",
                "Command line",
                "Web-tech",
                "JavaScript",
                "R-lang",
                "R",
                "GitHub",
                "Git"
            ],
            "likes": 0,
            "published": "Yes"
        },
</script>
<p>
    Rmd script for analysing chat history data. Simply drop in chat data in appropriate format and then set users/authors names, run the script; additionally run Knitr for an HTML output. The files are available at the git repo: <a target="_blank" href="https://github.com/dereckdemezquita/chat-analysis">dereckdemezquita/chat-analysis</a>.
</p>
<p>
    See an example output here: <a target="_blank" href="/sharing/los-mezquita/chat-analysis-los-mezquitas.html">DerecksNotes: chat-analysis_los-mezquitas</a>.
</p>
<h2>Preparing data</h2>
<p>
    This project was done in two parts. First part was easy getting the WhatsApp chat history. The next part was getting the Telegram chat history, as my family did move to Telegram a while back now. Then formatting that from JSON output to a WhatsApp like format. This to be able to simply analyse the data, the WhatsApp format can be parsed by R into a data frame relatively easily.
</p>
<figure>
    <img src="/blog/entries/documents/rlang-chat-analysis/export-whatsapp.jpeg">
    <figcaption>Easily export data to .txt format, can be parsed to data frame.</figcaption>
</figure>
<p>
    Export the data from WhatsApp with their export feature. Should be in text format:
</p>
<pre class="brush: javascript">
    [DATE, TIME] user: message.
</pre>
<p>
    If incorporating data from other sources use the <a target="_blank" href="https://github.com/dereckdemezquita/telegram-data-formatter">dereckdemezquita/telegram-data-formatter</a>. This is a custom and simple NodeJS application. Just drop in your Telegram data, set some of the variables and run the programme.
</p>
<figure>
    <img src="/blog/entries/documents/rlang-chat-analysis/telegram-lite.png">
    <figcaption>Use Telegram Lite on MacOS, only exports to JSON if you do all chats; be sure to <em>uncheck only export my own messages</em>.</figcaption>
</figure>
<p>
    This will parse JSON telegram data into text format.
</p>
<pre class="brush: javascript">
    // [YYYY-MM-DD HH:MM:SS] SENDER: MESSAGE
    // [2020-04-07 14:14:37] user:   This is a first message
</pre>

<h2>.Rmd KnitR result: Los Mezquitas</h2>
<p>
    This is an example run on my families chat history. I compiled it together from a WhatsApp group and a Telegram group with the above mentioned steps.
</p>
<style>
    iframe {
        background: none;
        border: none;
        box-shadow: none;
    }
</style>

<div style="margin:0px;padding:0px; overflow: hidden;">
    <iframe src="/sharing/los-mezquita/chat-analysis-los-mezquitas.html" frameborder="0" onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" width="100%" style="overflow: hidden;" scrolling="no"></iframe>
</div>


<!-- <a aria-describedby="foot-label" href="#"></a> -->
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="">
        <a target="_blank" href="https://github.com/dereckdemezquita/chat-analysis">dereckdemezquita/chat-analysis</a>
    </li>
    <li>
        <a target="_blank" href="/sharing/los-mezquita/chat-analysis-los-mezquitas.html">DerecksNotes: chat-analysis_los-mezquitas</a>
    </li>
    <li>
        <a target="_blank" href="https://github.com/dereckdemezquita/telegram-data-formatter">telegram-data-formatter</a>
    </li>
    <li>
        Inspired by the documentation on the library: <a target="_blank" href="https://cran.r-project.org/web/packages/rwhatsapp/vignettes/Text_Analysis_using_WhatsApp_data.html"><code>library(rwhatsapp)</code></a>
    </li>
</ol>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>