<title>Quick dump: anatomy, microscopy</title>
<h1>Quick dump: anatomy, microscopy</h1>
<p>
    Just wanted to dump some of these photos here, will organise them later. The anatomy things will have to go into a separate section. I might annotate and comment the dissection images. The microscopy images were made on Optico Paris microscope <em>circa</em> 1960.
</p>
<p>
    Also yes I've dissected human bodies, and investigated the internals quite extensively.
</p>

<h2>Dissection; human bodies</h2>
<figure>
    <img src="/blog/entries/documents/quickdump/anat-body_1067.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img src="/blog/entries/documents/quickdump/anat-body_1069.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img src="/blog/entries/documents/quickdump/anat-body_1070.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-body_1071.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-body_1072.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-body_1074.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-body_1075.jpeg">
    <figcaption>Dissection: human body, thoracic cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-brain_1063.jpeg">
    <figcaption>Dissection: human brain cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-brain_1064.jpeg">
    <figcaption>Dissection: human brain cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-brain_1065.jpeg">
    <figcaption>Dissection: human brain cavity.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-disp-body_1061.jpeg">
    <figcaption>Dissection: plasticised human body.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-disp-body_6975.jpeg">
    <figcaption>Dissection: plasticised human body.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-hand_20150305_125530.jpg">
    <figcaption>Dissection: human hand.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-hand_20150305_125531.jpg">
    <figcaption>Dissection: human hand.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-hand_20150305_125537.jpg">
    <figcaption>Dissection: human hand.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-hand_20150305_125544.jpg">
    <figcaption>Dissection: human hand.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-misc_1059.jpeg">
    <figcaption>Dissection: miscellaneous human body parts.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/anat-misc_1060.jpeg">
    <figcaption>Dissection: miscellaneous human body parts.</figcaption>
</figure>

<h2>Personal blood</h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224411.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224438_hdr.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224443_hdr.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224549.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224551.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224640.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224651.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/blood_20150113_224656.jpg">
    <figcaption>Optico paris: my own blood.</figcaption>
</figure>

<h2>House fly</h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_203744.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_203803.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_203808.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_203826.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_203832.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_203851_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204017_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204052_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204112_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204127_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204209_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204227_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204310_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204329_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204524_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204543_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204622_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204644_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204656_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204704_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204723_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204759_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204820_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204830_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204936_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_204955_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_205009_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_205025_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/fly_20150516_205051_hdr.jpg">
    <figcaption>Optico paris: common house fly.</figcaption>
</figure>

<h2>Tardigrade</h2>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003344.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003352.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003359.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003433.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003451.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003501.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/tard_20150510_003515.jpg">
    <figcaption>Optico paris: tardigrade, "water bear".</figcaption>
</figure>

<h2>Personal photos</h2>

<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/pers-de_cent-panruso-expo.mov">
    <figcaption>Me: space exposition.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/pers-de_red-square.jpeg">
    <figcaption>Me: red square.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/pers-ed_red-square.jpeg">
    <figcaption>Brother: red square.</figcaption>
</figure>
<figure>
    <img class="lazy" data-src="/blog/entries/documents/quickdump/pers-ed_kremlin.mov">
    <figcaption>Brother: kremlin.</figcaption>
</figure>


<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="">
    </li>
</ol>