
$theme11: #004040;
$theme10: #004d4d;
$theme9: #005959;
$theme8: #006666;
$theme7: #007373;

$theme6: #008080;
$theme5: #00cccc;
$theme4: #1affff;
$theme3: #66ffff;
$theme2: #b3ffff;
$theme1: #e8ffff;
