<html lang="en-uk">
    <head>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/header.php"; ?>
        <!-- <script type="text/javascript" src="/siteBackEnd/definitionEntry.js"></script> -->
        <script type="text/javascript" src="/blog/getEntries.js"></script>
        <title>Miscellaneous Dictionary</title>
    </head>
    <body>
        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/nav.php"; ?>

        <div class="contentWrapper">
            <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/sidebar.php"; ?>
            <div class="writtenWrapper">
                
                <article>
                    <h1>Miscellaneous Dictionary</h1>
                        <p>
                            Welcome to this library of definitions for a the miscellaneous; these are words and concepts which did not fit into any other category and thus have been classed here. The goal of this dictionary is to serve as a sort of data base for things which might be useful or just interesting.
                        </p>
                        <p>
                            For the moment if you are arriving from a website search please simply use the command/control + f to quickly find and reference the desired definition. Hyperlinks are also activated between definitions and other pages on this website
                        </p>
                                <div class="sectionDiv">
                                    <h1 id="dictionaryDirectory">Dictionary Directory</h1>
                                        <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/dicDirectory.php"; ?>
                                        
                                    <h1 id="theLetter_A">A</h1>
                                    <h1 id="theLetter_B">B</h1>
                                    <h1 id="theLetter_C">C</h1>
                                    <h1 id="theLetter_D">D</h1>
                                    <h1 id="theLetter_E">E</h1>
                                    <h1 id="theLetter_F">F</h1>
                                    <h1 id="theLetter_G">G</h1>
                                    <h1 id="theLetter_H">H</h1>
                                    <h1 id="theLetter_I">I</h1>
                                    <h1 id="theLetter_J">J</h1>
                                    <h1 id="theLetter_K">K</h1>
                                    <h1 id="theLetter_L">L</h1>
                                    <h1 id="theLetter_M">M</h1>
                                    <h1 id="theLetter_N">N</h1>
                                    <h1 id="theLetter_O">O</h1>
                                    <h1 id="theLetter_P">P</h1>
                                        <a id="MDic_phoneticAlphabet"><strong>The Phonetic Alphabet</strong></a> - Each letter of the alphatbet has a word assigned in order to facilitate communication over poor signals and avoid misunderstandings:
                                        <div class="upperCase">
                                            <ul>
                                                <li>
                                                    <strong>A</strong>lpha
                                                </li>
                                                <li>
                                                    <strong>B</strong>ravo
                                                </li>
                                                <li>
                                                    <strong>C</strong>harlie
                                                <li>
                                                    <strong>D</strong>elta
                                                </li>
                                                <li>
                                                    <strong>E</strong>cho
                                                </li>
                                                <li>
                                                    <strong>F</strong>oxtrot
                                                </li>
                                                <li>
                                                    <strong>G</strong>olf
                                                </li>
                                                <li>
                                                    <strong>H</strong>otel
                                                </li>
                                                <li>
                                                    <strong>I</strong>ndia
                                                </li>
                                                <li>
                                                    <strong>J</strong>uliet
                                                </li>
                                                <li>
                                                    <strong>K</strong>ilo
                                                </li>
                                                <li>
                                                    <strong>L</strong>ima
                                                </li>
                                                <li>
                                                    <strong>M</strong>ike
                                                </li>
                                                <li>
                                                    <strong>N</strong>ovember
                                                </li>
                                                <li>
                                                    <strong>O</strong>scar
                                                </li>
                                                <li>
                                                    <strong>P</strong>apa
                                                </li>
                                                <li>
                                                    <strong>Q</strong>uebec
                                                </li>
                                                <li>
                                                    <strong>R</strong>omeo
                                                </li>
                                                <li>
                                                    <strong>S</strong>ierra
                                                </li>
                                                <li>
                                                    <strong>T</strong>ango
                                                </li>
                                                <li>
                                                    <strong>U</strong>niform
                                                </li>
                                                <li>
                                                    <strong>V</strong>ictor
                                                </li>
                                                <li>
                                                    <strong>W</strong>hiskey
                                                </li>
                                                <li>
                                                    <strong>X</strong>-Ray
                                                </li>
                                                <li>
                                                    <strong>Y</strong>ankee
                                                </li>
                                                <li>
                                                    <strong>Z</strong>ulu
                                                </li>
                                            </ul>
                                        </div>
                                    <h1 id="theLetter_Q">Q</h1>
                                    <h1 id="theLetter_R">R</h1>
                                    <h1 id="theLetter_S">S</h1>
                                    <h1 id="theLetter_T">T</h1>
                                    <h1 id="theLetter_U">U</h1>
                                    <h1 id="theLetter_V">V</h1>
                                    <h1 id="theLetter_W">W</h1>
                                    <h1 id="theLetter_X">X</h1>
                                    <h1 id="theLetter_Y">Y</h1>
                                    <h1 id="theLetter_Z">Z</h1>
                                    <h1 id="theLetter_SYMBOLS">#</h1>

                                </div>

                </article>
            </div>
        </div>

    </body>
    
    <?php include $_SERVER['DOCUMENT_ROOT'] . "/includes/footer.php"; ?>
</html>