/* styles applied to post pages; the foot notes are processed by rehype plugins see @utils/markdown.ts */

/* 
    <h2 id="table-of-contents">Table of contents</h2>
    <ul>
        <li>
            <a href="#test">test</a>
        </li>
    </ul>
*/

/*
    <section data-footnotes="" class="footnotes">
        <h2 class="sr-only" id="footnote-label">Footnotes</h2>
        <ol>
            <li id="user-content-fn-1">
                <p>
                    Also by the way, remember that hierarchy is spelled as it sounds: <strong>HI - ER - ARCH - Y</strong>! <a href="#user-content-fnref-1" data-footnote-backref="" class="data-footnote-backref" aria-label="Back to content">↩</a>
                </p>
            </li>
        </ol>
    </section>
*/

.footnotes {
    font-family: Arial, sans-serif;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    font-size: 15px;
}

.footnotes h2 {
    color: #565656;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.footnotes ol {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
}

.footnotes p {
    color: #666;
}

.footnotes li {
    line-height: 1;
    margin-left: 0.75rem;
    padding-left: 0.75rem;
}
