<a class="definition-word" data-category="general-biology" id="agarose">Agarose</a> - Agarose is a sugar or polysaccharide. It is a main component of <a href="#agar">agar</a>, which is used a solid medium for microbial cultures. Agarose is used alone for the separation of DNA fragments in <a href="#electrophoresis">electrophoretic gels</a> and <a href="#chromatography">chromatographic</a> protein purification.
                    <figure>
                        <img class="" data-src="/dictionaries/documents/dictionary-biology/agarose.svg" src="/dictionaries/documents/dictionary-biology/agarose.svg">
                        <figcaption>Figure 1: Figure 1: Molecular structure of the Agarose molecule.</figcaption>
                    </figure>
                    <p>
                        The chemical composition of agarose is <span class="chemicalForm">C<sub>12</sub>H<sub>18</sub>O<sub>9</sub></span>, and its molecular weight is <span class="mathsNumbers">306.2659 g/mol</span>.
                    </p>