<a class="definition-word" data-category="general-biology" id="alpha_helix">Alpha Helix</a> - An alpha helix is an <a href="#amino_acid">amino acid</a> sequence pattern that results in a <a href="#secondary_structure">secondary structure</a> in the form of a right handed helix. This helix is created by the donation of a hydrogen bond from the backbone <span class="chemical">N-H groups to the <span class="chemical">C=O groups. These interactions happen on average every three to four <a href="#amino_acid">amino acids</a> in a sequence, with about 13 atoms involved in one ring. See also <a href="#betaSheet">β-sheet</a>.
                            <figure>
                                <img class="" data-src="/dictionaries/documents/dictionary-biology/humanGrowthHormone.png" src="/dictionaries/documents/dictionary-biology/humanGrowthHormone.png">
                                <figcaption>Figure 2: Figure 2: Human growth hormon cartoon rendition, depicting various alpha helices.</figcaption>
                            </figure>
                        </span></span>