<a class="definition-word" data-category="biochemistry" id="amino_acid">Amino Acid</a> - Refers to a class or type of molecules which constitute proteins. These molecules are <a href="#polymerasation">polymerised</a> together to form a string of amino acids known as a <a href="#polypeptide">polypeptide</a>.
                    <table>
                        <thead>
                            <tr>
                                <th class="table-header" colspan="3">The "Natural" Amino Acids</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Single Letter Code</th>
                                <th>Multiple Letter Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Alanine</th>
                                <td>A</td>
                                <td>[ALA]</td>
                            </tr>
                            <tr>
                                <th>Arginine</th>
                                <td>R</td>
                                <td>[ARG]</td>
                            </tr>
                            <tr>
                                <th>Asparagine</th>
                                <td>N</td>
                                <td>[ASN]</td>
                            </tr>
                            <tr>
                                <th>Aspartic Acid</th>
                                <td>D</td>
                                <td>[ASP]</td>
                            </tr>
                            <tr>
                                <th>Cysteine</th>
                                <td>C</td>
                                <td>[CYS]</td>
                            </tr>
                            <tr>
                                <th>Glutamic Acid</th>
                                <td>E</td>
                                <td>[GLU]</td>
                            </tr>
                            <tr>
                                <th>Glutamine</th>
                                <td>Q</td>
                                <td>[GLN]</td>
                            </tr>
                            <tr>
                                <th>Glycine</th>
                                <td>G</td>
                                <td>[GLY]</td>
                            </tr>
                            <tr>
                                <th>Histidine</th>
                                <td>H</td>
                                <td>[HIS]</td>
                            </tr>
                            <tr>
                                <th>Isoleucine</th>
                                <td>I</td>
                                <td>[ILE]</td>
                            </tr>
                            <tr>
                                <th>Leucine</th>
                                <td>L</td>
                                <td>[LEU]</td>
                            </tr>
                            <tr>
                                <th>Lysine</th>
                                <td>K</td>
                                <td>[LYS]</td>
                            </tr>
                            <tr>
                                <th>Methionine</th>
                                <td>M</td>
                                <td>[MET]</td>
                            </tr>
                            <tr>
                                <th>Phenylalanine</th>
                                <td>F</td>
                                <td>[PHE]</td>
                            </tr>
                            <tr>
                                <th>Proline</th>
                                <td>P</td>
                                <td>[PRO]</td>
                            </tr>
                            <tr>
                                <th>Serine</th>
                                <td>S</td>
                                <td>[SER]</td>
                            </tr>
                            <tr>
                                <th>Threonine</th>
                                <td>T</td>
                                <td>[THR]</td>
                            </tr>
                            <tr>
                                <th>Tryptophan</th>
                                <td>W</td>
                                <td>[TRP]</td>
                            </tr>
                            <tr>
                                <th>Tyrosine</th>
                                <td>Y</td>
                                <td>[TYR]</td>
                            </tr>
                            <tr>
                                <th>Valine</th>
                                <td>V</td>
                                <td>[VAL]</td>
                            </tr>
                        </tbody>
                    </table>