<a class="definition-word" data-category="general-biology" id="association_constant_binding_constant">Association Constant (Binding constant)</a> - A special case of the equilibrium constant <em>K</em>. It is the inverse of the <a href="#dissociation_constant">dissociation constant</a>. It describes the binding and unbinding of a receptor (R) and a ligand (L).
                    <div class="mathsFormula">
                        $$
                        R + L \leftrightarrows RL
                        $$
                        $$
                        K_a = \frac{k_{on}}{k_{off}} = \frac{[RL]}{[R][L]}
                        $$
                    </div>
                    <p>
                        See also <a href="#dissociation_constant">dissociation constant</a>.
                    </p>