<a class="definition-word" data-category="ecology" id="carnivore">Carnivore</a> - Literally, an organism that eats meat. Most carnivores are animals, but a few fungi, plants, and protists are as well.