<a class="definition-word" data-category="general-biology" id="codon">Codon</a> - A triplet (three) of <a href="#ribonucleotides">ribonucleotides</a> in <a href="#mrna">mRNA</a> that encodes for an <a href="#amino_acid">amino acid</a>.
                    <p>
                        Note that whether or not a codon matches this table depends on the organism. Some organisms, especially <a href="#microOrganism">microorganisms</a> and <a href="#bacteria">bacteria</a> often present modified readings of these codons (known as alternative codons). This is dependant on the presence or not of a <a href="#trna">tRNA</a> capable of matching the <a href="#dna_desoxyribonucleic_acid">DNA</a> sequence (codon).
                    </p>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-header" colspan="5">Common Start/Stop Codons</th>
                            </tr>
                            <tr>
                                <th>RNA</th>
                                <th>DNA</th>
                                <th>Function</th>
                                <th>Amino Acid</th>
                                <th>Organisms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>AUG</th>
                                <th>ATG</th>
                                <td>Start</td>
                                <td>Methionine</td>
                                <td>General</td>
                            </tr>
                            <tr>
                                <th>CUG</th>
                                <th>CTG</th>
                                <td>Start</td>
                                <td>Leucine</td>
                                <td>Mammals Rare</td>
                            </tr>
                            <tr>
                                <th>AUA</th>
                                <th>ATA</th>
                                <td>Start</td>
                                <td>Methionine</td>
                                <td rowspan="2">Mitochondria</td>
                            </tr>
                            <tr>
                                <th>AUU</th>
                                <th>ATT</th>
                                <td>Start</td>
                                <td>Methionine</td>
                            </tr>
                            <tr>
                                <th>GUG</th>
                                <th>GTG</th>
                                <td>Start</td>
                                <td>Methionine</td>
                                <td rowspan="2">Prokaryotes</td>
                            </tr>
                            <tr>
                                <th>UUG</th>
                                <th>TTG</th>
                                <td>Start</td>
                                <td>Methionine</td>
                            </tr>
                            <tr>
                                <th>UAA</th>
                                <th>TAA</th>
                                <td>Stop</td>
                                <td>Ochre</td>
                                <td rowspan="3">Universal</td>
                            </tr>
                            <tr>
                                <th>UAG</th>
                                <th>TAG</th>
                                <td>Stop</td>
                                <td>Amber</td>
                            </tr>
                            <tr>
                                <th>UGA</th>
                                <th>TGA</th>
                                <td>Stop</td>
                                <td>Opal</td>
                            </tr>
                        </tbody>
                    </table>