<a class="definition-word" data-category="general-biology" id="dna_desoxyribonucleic_acid">DNA (Desoxyribonucleic Acid)</a> - A <a href="#molecule">molecule</a> (<a href="#nucleic_acid">nucleic acid</a>) which carries most of the genetic instructions used in the development, function and reproduction of all known living organisms and many <a href="#virus">viruses</a>. DNA is the primary compenent of <a href="#chromosome">chromosomes</a>.
                    <figure>
                        <img class="lazy" data-src="/dictionaries/documents/dictionary-biology/dna.jpg">
                        <figcaption>Figure 3: Figure 3: DNA a double helix molecule, the current known basis for life.</figcaption>
                    </figure>
                    <p>
                        DNA is composed of two directional strands. The directionality of these strands is dictated by the orientation of the <a href="#nucleotide">nucleotides</a> that compose it; there is a <a href="#5_prime_end_5">5' end</a> and a <a href="#5_prime_end_5">3' end</a>.
                    </p>
                    <p>
                        Four different <a href="#nucleotide">nucleotides</a> compose DNA, these are differentiated by the nucleic bases they hold: <a href="#adenine">adenine (A)</a>, <a href="#thymine">thymine (T)</a>, <a href="#guanine">guanine (G)</a>, and <a href="#cytosine">cytosine (C)</a>. These can grouped together chemically into the purine group A, T, and the pyrimidine group G, C. The two strands come together and bind through weak <a href="#hydrogenBond">hydrogen bonds</a>; A - T (2 bonds), and C - G (3 bonds).
                    </p>