<a class="definition-word" data-category="general-biology" id="electrophoresis">Electrophoresis</a> - From electr(ic) and phoresis the action of carrying. The separation of ions (charged particules) by use of an electrical field. This allows for separation according to differences in mobility which is dependent on the charge/mass ratio. This technique is commonly used to separate pieces of <a href="#dna_desoxyribonucleic_acid">DNA</a> or <a href="#protein">proteins</a> by size, shape, and charge. This technique can also be used for <a href="#rna">RNA</a>.
                    <ul>
                        <li style="list-style: none; display: inline">
                            <p>Variants of this technique are the following:</p>
                        </li>
                        <li>
                            <a href="#northernBlot">Northern Blot</a>
                        </li>
                        <li>
                            <a href="#southern_blot">Southern Blot</a>
                        </li>
                        <li>
                            <a href="#western_blot_immunoblot">Western Blot</a>
                        </li>
                        <li>
                            <a href="#2d_electrophoresis">Two Dimensional Gel Electrophoresis (2D Gel)</a>
                        </li>
                        <li>
                            <a href="#capillaryElectrophoresis">Capillary Electrophoresis</a>
                        </li>
                        <li>
                            <a href="#pulsed_field_electrophoresis">Pulsed-Field Gel Electrophoresis</a>
                        </li>
                    </ul>