<a class="definition-word" data-category="general-biology" id="elongation">Elongation</a> - A stage in <a href="#translation">translation</a> where <a href="#amino_acid">amino acids</a> are added by the formation of peptide bonds.
                    <!--ADD MORE INFORMATION-->