<a class="definition-word" data-category="general-biology" id="immunogenicity">Immunogenicity</a> - Is the potential of a substance to induce an immune response. This depends on various factors:
                    <ul>
                        <li>
                            The species and state of the animal - its genome, immunological past, and physiological state.
                        </li>
                        <li>
                            The degree of structural similarity of the <a href="#antigen">antigen</a> to the <a href="#molecule">molecules</a> of the target animal.
                        </li>
                        <li>
                            The dose of the injected <a href="#antigen">antigen</a>.
                        </li>
                        <li>
                            The physical and chemical characteristics of the <a href="#antigen">antigen</a>:
                            <ul>
                                <li>
                                    Its size it must contain at least two <a href="#epitope_antigenic_determinant">epitopes</a> in order to be fixed by an <a href="#antibody">antibody</a>.
                                </li>
                                <li>
                                    Its form if it is a particle or not.
                                </li>
                                <li>
                                    Its rigidity in order to be <a href="#complementary">complementary</a> to other <a href="#paratope_antigen_binding_site">paratopes</a>.
                                </li>
                            </ul>
                        </li>
                    </ul>