<a class="definition-word" data-category="general-biology" id="inhibition">Inhibition</a> - A <a href="#molecule">molecule</a> that can cause the arrest or tamper the activity of a reaction is called an inhibitor. In the context of biology an inhibitor has a negative effect on a reaction catalysed by an enzyme. There are multiple cases into which an inhibition may be classed:
                    <figure>
                        <img class="lazy" data-src="/dictionaries/documents/dictionary-biology/inhibitionType.svg">
                        <figcaption>Figure 6: Figure 6: Types of inhibition, the concentration of of the inhibitor is the only thing that changes.</figcaption>
                    </figure>
                    <ul>
                        <li>
                            Competitive inhibition: K<sub>m</sub> increased, V<sub>max</sub> unaffected. The inhibitor matches the active site and fixes itself there.
                        </li>
                        <li>
                            Un-competitive inhibition: K<sub>m</sub> reduced, V<sub>max</sub> reduced. The inhibitor matches a zone close to the active site and thus impedes the substrate from fixing itself there.
                        </li>
                        <li>
                            Non-competitive: K<sub>m</sub> unaffected, V<sub>max</sub> reduced. The inhibtor fixes itself somewhere else on the enzyme and changes the conformation of the active site.
                        </li>
                    </ul>
                    <p class="smallNotes">
                        See also: <a href="#double_inverse_lineweaver_burk_plot_double_reciprocal_plot">Double inverse</a>.
                    </p>