<a class="definition-word" data-category="general-biology" id="insulator">Insulator</a> - Genetic boundary element that blocks interaction on a region of <a href="#dna_desoxyribonucleic_acid">DNA</a>.