<a class="definition-word" data-category="general-biology" id="janus_kinase_jak">JAnus Kinase (JAK)</a> <span class="etymology">Janus from Latin and refrencing the two faced god</span>; allusion to the presence of a kinase domain and a pseudokinase domain. The JAK enzyme is part of the cytosolic 4 tryosine kinase familly.
                    <!--Finish-->