<a class="definition-word" data-category="general-biology" id="melting_temperature">Melting Temperature</a> - Melting temperature is referring the the dehybridisation temperature of <a href="#dna_desoxyribonucleic_acid">DNA</a> primers (most often). For calculating these temperatures, which are to be used when designating a <a href="#polymerase_chain_reaction_pcr">PCR</a> protocol, the following formulas are to be used:
                    <p class="mathsDescription">
                        For primers with a length inferiour to 14 nt the following is used:
                    </p>
                    <div class="mathsFormulas" id="meltingTempDNA">
                        $$ Tm = (n(A) + n(T)) \cdot 2 + (n(G) + n(C)) \cdot 4 $$
                    </div>
                    <p class="mathsDescription">
                        For primers with a length superiour to 13 nt the following is used:
                    </p>
                    <div class="mathsFormulas" id="meltingTempDNA">
                        $$ Tm = 64.9 + 41 \cdot \frac{(n(G) + n(C) - 16.4)}{(n(A) + n(T) + n(G) + n(C))} $$
                    </div>
                    <p class="mathsDescription">
                        Both these formulas assume the following: 50 nM primer, 50 mM Na+, and pH 7.0. n(x) designates the number of whichever base.
                    </p>