<a class="definition-word" data-category="general-biology" id="michaelis_menten_kinetics">Michaelis-Menten Kinetics</a> - A chemical kinetic scheme for describing the rate of an <a href="#enzyme">enzyme</a>-<a href="#catalysation">catalysed</a> processes. It relates the rate of reaction rate V at which the product [P] is formed, to the depletion of the substrate [S] from which it is produced. These are linked by K<sub>m</sub> the Michaelis constant, which corresponds to the substrate [S] concentration at which the speed v is half the v<sub>max</sub>.
                    <p>
                        There are a few terms to take into consideration before attacking the formula: v<sub>max</sub> is the maximal speed at which the reaction will take place, (v<sub>max</sub>/2) is half maximal speed, which brings us to k<sub>m</sub> or the substrate concentration at which the rate of reaction will half speed.
                    </p>
                    <figure>
                        <img class="lazy" data-src="/dictionaries/documents/dictionary-biology/michaelisMenten.svg">
                        <figcaption>Figure 7: Figure 7: A curve demonstrating a generique enzyme substrate reaction. The graph shows, a reaction rate/speed (concentration/s), in relation to a substrate concentration.</figcaption>
                    </figure>
                    <div class="mathsFormulas">
                        $$
                        \nu = \frac{d[P]}{dt} = \frac{V_{max} [S]}{K_m + [S]}
                        $$
                    </div>
                    <p>
                        k<sub>m</sub> can be isolated in the following way:
                    </p>
                    <div class="mathsFormulas">
                        $$
                        km = \frac{V_{max}[S] - \nu[S]}{\nu}
                        $$
                    </div>
                    <ol class="mathsDescription">
                        <p>
                            Its simplest formulation considers three processes:
                        </p>
                        <li>
                            The binding of substrate to enzyme
                        </li>
                        <li>
                            The unbinding of the substrate-enzyme complex
                        </li>
                        <li>
                            The conversion of the enzyme-substrate complex to the product and the enzyme
                        </li>
                    </ol>
                    <p>
                        Using <a href="#mass_action_kinetics">mass-action kinetics</a> and the assumption that <a href="#enzyme">enzyme</a> <a href="#concentration">concentrations</a> are much smaller than substrate <a href="#concentration">concentrations</a>, we get an equation for the rate of product (P) production (initial velocity); where <span class="mathsDescription">V<sub>max</sub></span> is the maximal velocity (saturating substrate conditions) and <span class="mathsDescription">K<sub>m</sub></span> is the Michaelis constant (the substrate <a href="#concentration">concentration</a> at half-maximal velocity). More complex <a href="#michaelis_menten_kinetics">Michaelis-Menten</a> formulations must be used if the release of the product from the enzyme-product complex is slow, ordered-binding is required, or <a href="#inhibitor">inhibitors</a> are present.
                    </p>
                    <p class="smallNotes">
                        See also: <a href="#double_inverse_lineweaver_burk_plot_double_reciprocal_plot">Double inverse</a>
                    </p>