<a class="definition-word" data-category="general-biology" id="mrna">mRNA</a> - Messenger RNA is a functional <a href="#rna">RNA</a> comprising <a href="#codon">codons</a> to be <a href="#translation">translated</a> by <a href="#ribosome">ribosomes</a> to <a href="#protein">proteins</a>. In eukaryotic systems, mRNA that has not been processed is referred to as precursor mRNA (pre-mRNA). This pre-mRNA is typically processed through the removal of <a href="#intron">introns</a>, the addition of a <a href="#poly_a_tail">polyA tail</a>, and the addition of a <a href="#5PrimeCap">5' cap</a> to create mature mRNA. Matured mRNA is what is translated by <a href="#ribosome">ribosomes</a>.
                    <ol>
                        <li style="list-style: none; display: inline">
                            <p>Mature Messenger RNA or mRNA has undergone the following steps.</p>
                        </li>
                        <li>
                            <a href="#intron">Introns</a> have been removed.
                        </li>
                        <li>A <a href="#PolyATail">PolyA tail</a> has been added to the <a href="#3_prime_end_3">3'</a> end.
                        </li>
                        <li>A <a href="#5PrimeCap">5' cap</a> has been added to the <a href="#5_prime_end_5">5'</a> end.
                        </li>
                    </ol>