<a class="definition-word" data-category="general-biology" id="nucleotide">Nucleotide</a> - The monomeric unit of <a href="#dna_desoxyribonucleic_acid">DNA</a> and <a href="#rna">RNA</a>. A nucleotide comprises: A <a href="#nitrogenous_base">nitrogenous base</a>, a five-carbon <a href="#sugar">sugar</a> (<a href="#ribose">ribose</a> or <a href="#desoxyribose">desoxyribose</a>), at least one <a href="#phosphateGroup">phosphate group</a> and an organic base. See <a href="#ribonucleotides">ribonucleotide</a> for related.
                    <ol>
                        <p>
                            A nucleotide is made of 3 parts:
                        </p>
                        <li>
                            <a href="#nitrogenous_base">Nitrogenous base</a>
                        </li>
                        <li>
                            Five-carbon <a href="#sugar">sugar</a>; <a href="#ribose">ribose</a> or <a href="#desoxyribose">desoxyribose</a>
                        </li>
                        <li>
                            One minimum <a href="#phosphateGroup">phosphate group</a>
                        </li>
                    </ol>
                    <p>
                        These single units, nucleotides, are the units by which large nucleic acids DNA/RNA are constructed by polymerisation.
                    </p>