<a class="definition-word" data-category="general-biology" id="plasmid">Plasmid</a> - A relatively small circular piece of <a href="#dna_desoxyribonucleic_acid">DNA</a> found in prokaryotes. These pieces of DNA are versatile and can be exchanged intra-species and inter-species; horizontal and vertical exchange respecitively.
                    <p>
                        These are usually on the order of tens of kilobases or less. Typical features of a plasmid include the <a href="#origin_of_replication_ori">origin of replication (ORI)</a>, a multiple cloning site, and a marker; such as an antibiotic resistance gene (in a lab setting).
                    </p>