<a class="definition-word" data-category="general-biology" id="protein">Protein</a> - A <a href="#polymer">polymer</a> of <a href="#amino_acid">amino acids</a> that typically folds into a particular shape; though <a href="#protein">proteins</a> with less-defined shapes exist. Some <a href="#protein">proteins</a> are multimeric, meaning they are a complex of many copies of the same <a href="#amino_acid">amino acid</a> sequences.
                    <figure>
                        <img class="lazy" data-src="/dictionaries/documents/dictionary-biology/protein.png">
                        <figcaption>Figure 8: Figure 8: Protein strucutre, primary structure is the sequence of amino acids, secondary α helices and β sheets, tertiary structure the association of secondary strucutres and quaternary strucutres the association of tertiary structures.</figcaption>
                    </figure>
                    <p>
                        Many <a href="#protein">proteins</a> are <a href="#enzyme">enzymes</a>, allowing them to <a href="#catalysation">catalyse</a> specific reactions, others are structural. <a href="#protein">Proteins</a> are created in the process of <a href="#translation">translation</a> using information encoded by <a href="#codon">codons</a> in a <a href="#mrna">messenger RNA</a>. Note that "natural" amino acids are L-amino acids (levogyre).
                    </p>