<a class="definition-word" data-category="general-biology" id="secondary_structure">Secondary Structure</a> - A secondary structure in a protein refers to the the three dimensional form which a <a href="#protein">polypetidic</a> chain takes: either <a href="#alpha_helix">α helices</a>, <a href="#betaSheet">β sheets</a>, β turns, and even ω loops. See <a href="#protein">protein</a> for an illustration.
                    <p>
                        The <a href="#primaryStructure">primary strucutre</a> refers to the sequence of <a href="#amino_acid">amino acids</a> composing the chain, and the <a href="#tertiaryStructure">tertiary strucutre</a> the association of secondary structures.
                    </p>