<a class="definition-word" data-category="general-biology" id="selection">Selection</a> - A phenomena by which organisms reproduce differentially; some more than others. This process results in some genotypes/phenotypes dominating a population.
                    <p>
                        Selection can be positive (organisms with a trait survive to the next round) or negative (organisms that do not have a trait survive to the next round).
                    </p>
                    <p>
                        In a lab setting this can be used as a method for directed evolution typically with bacteria. This approach can be less work than screening, as only the "interesting" organisms survive, rather than all organisms.
                    </p>