<a class="definition-word" data-category="general-biology" id="synthetic_biology">Synthetic Biology</a> - An interdisciplinary domain of study, focused on engineering and creating novel forms of useful life.
                    <iframe src="https://www.youtube.com/embed/TWOx-E7l1ec" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
                    <p>
                        Synthetic biology can be applied in industry, medicine, or even artificial intelligence research (wetware). It combines skills from life science, mathematics, engineering, chemistry, physical and computer science.
            Synthetic biology can be applied in industry, medicine, or even artificial intelligence research (wetware). It combines skills from life science, mathematics, engineering, chemistry, physical and computer science. 
                        Synthetic biology can be applied in industry, medicine, or even artificial intelligence research (wetware). It combines skills from life science, mathematics, engineering, chemistry, physical and computer science.
                    </p>