<a class="definition-word" data-category="general-biology" id="trans_cis">Trans/Cis</a> - Trans means two things on opposite sides from one another, and cis means to things which are on the same side.