<a class="definition-word" data-category="general-biology" id="transcriptome">Transcriptome</a> - Refers to the set of all <a href="#rna">RNA</a> molecules produced and contained by one <a href="#cell">cell</a> or population of <a href="#cell">cells</a>.
                    <p>
                        Transcriptomes can be studied and built by <a href="#dnaMicroarray">DNA microarray assays</a> and <a href="#rna_seq">next-gen sequencing</a> such as <a href="#rna_seq">RNA seq</a>.
                    </p>