<a class="definition-word" data-category="general-biology" id="two_substrate_enzyme">Two Substrate Enzyme</a> - An enzyme mechanism refers to the way a reaction occurs, that is the order of binding. Here we consider an enzyme that intakes two different substrates, the reaction can happen in five different ways:
                    <figure>
                        <img class="lazy" data-src="/dictionaries/documents/dictionary-biology/twoMechanismEnzyme.svg">
                        <figcaption>Figure 9: Figure 9: Enzyme with two substrates can have various different mechanisms. Described by the diagrams, also shown the double inverses associated to the reactions and the substrates.</figcaption>
                    </figure>
                    <ol>
                        <li>
                            Sequential random dependent mechanism.
                        </li>
                        <li>
                            Sequential random independant mechanism.
                        </li>
                        <li>
                            Sequential ordered mechanism.
                        </li>
                        <li>
                            Ping-pong mechanism.
                        </li>
                        <li>
                            Theorell-Chance mechanism.
                        </li>
                    </ol>