<a class="definition-word" data-category="general-biology" id="western_blot_immunoblot">Western Blot (immunoblot)</a> - A lab technique used for detecting the expression of specific <a href="#protein">proteins</a> in a tissue sample or extract.
                    <p>
                        The first step is generally to migrate the proteins by a classic <a href="#electrophoresis">electrophoretic gel</a>, then to "blot" the gel with a membrane (normally nitrocellulose or polyvinyldene fluoride) which holds <a href="#antibody">antibodies</a> specific to the <a href="#protein">protein</a> of interest. This will only reveal the bands which contained said <a href="#protein">protein</a>.
                    </p>