
/**********************************
* INSTALLED FONTS, GOOGLE FONTS, *
**********************************/
// $font-family-one: "Roboto";
// $font-family-two: "Fjalla One";
// $font-family-three: "Tangerine", cursive;

// Fonts
$roboto: "Roboto", sans-serif;
$cursive: "Tangerine", cursive;
$block_letter: 'Fjalla One', sans-serif;
