
// --------------------------------
// backgrounds and general theme
@import "./modules/vars";
@import "./modules/background";

@import "./fonts/fonts";

@import "./theme/colours";
@import "./theme/theme-green";

// --------------------------------
// styles for text and elements
@import "./modules/block-elements";

// --------------------------------
// parts of pages
@import "./modules/info-bar";
@import "./modules/header";
@import "./modules/nav";
@import "./modules/footer";

@import "./modules/side-bar";

// --------------------------------
// articles and written content
@import "./modules/entries";
@import "./modules/pictures";

@import "./modules/footnotes";
@import "./modules/text-styles";

// --------------------------------
// special content types
@import "./modules/dictionary";

// --------------------------------
// --------------------------------

html {
    font-size: 1.1em;
    background: $background;

    @include lined_grid_background;
}

/* Works in conjuction with @media .wrapper to dynamically resize the screen to be apt for mobile devices */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 1.15em;
    }
}

body {
    margin: 0px;
    padding: 0px;

    // break lines but don't break words
    word-break: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

