
@import "./modules/font"; // imported here and available for all following imports

@import "./modules/background";
@import "./modules/vars";

@import "./colours/colours";
@import "./colours/theme-green";

@import "./modules/header";
@import "./modules/footer";

@import "./modules/info-bar";
@import "./modules/nav";

@import "./modules/side-bar";
@import "./modules/entries";

@import "./modules/pictures";

@import "./modules/footnotes";

html {
    font-size: 1.1em;
    background: $background;

    @include lined_grid_background;
}

/* Works in conjuction with @media .wrapper to dynamically resize the screen to be apt for mobile devices */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 1.15em;
    }
}

body {
    margin: 0px;

    // break lines but don't break words
    word-break: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-justify: none;
}
