
@import "./modules/font"; // imported here and available for all following imports

@import "./modules/background";

@import "./colours/colours";
@import "./colours/theme-green";

@import "./modules/header";

@import "./modules/info-bar";
@import "./modules/nav";

html {
    font-size: 1.1em;
    background: $background;

    @include lined_grid_background;
}

/* Works in conjuction with @media .wrapper to dynamically resize the screen to be apt for mobile devices */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 1.15em;
    }
}

body {
    margin: 0px;
    word-break: break-all;
}

